		{{! Editing a character template }}
		<form method="post" action="{{scripturl}}?action=admin;area=templates;sa=save;{{session_url}}">
			<div class="cat_bar">
				<h3 class="catbg">{{{txt.char_templates}}}</h3>
			</div>
			<div class="errorbox"{{#unless context.sheet_errors}} style="display: none"{{/unless}} id="errors">
				<dl>
					<dt>
						<strong id="error_serious">{{{txt.error_while_submitting}}}</strong>
					</dt>
					<dd class="error" id="error_list">
						{{#if context.sheet_errors}}{{{join context.sheet_errors '<br>'}}}{{/if}}
					</dd>
				</dl>
			</div>
			<div id="box_preview"{{#unless context.sheet_preview}} style="display:none"{{/unless}}>
				<div class="title_bar">
					<h3 class="titlebg">{{{txt.preview}}}</h3>
				</div>
				<div class="roundframe">
					<div id="sheet_preview">{{#if context.sheet_preview}}{{{context.sheet_preview}}}{{/if}}</div>
				</div>
			</div>
			<div class="windowbg">
				{{{txt.char_template_name}}} <input type="text" name="template_name" value="{{{context.template_name}}}">
				<br><br>
				{{{richtexteditor 'message' '' 'bbcBox'}}}
				<br>
				{{session_form}}
				<input type="hidden" name="template_id" value="{{{context.template_id}}}">
				<div class="buttonlist righttext">
					<input type="submit" class="active" name="save" value="{{{txt.save}}}">
					<input type="submit" name="preview" value="{{{txt.preview}}}" id="preview_sheet">
					{{#if context.template_id}}
					<input type="submit" name="delete" class="you_sure" value="{{{txt.delete}}}">
					{{/if}}
				</div>
			</div>
		</form>