		{{! Repairing boards }}
		<div id="admincenter">
			<div id="section_header" class="cat_bar">
				<h3 class="catbg">
					{{#if context.error_search}}{{{txt.errors_list}}}{{else}}{{{txt.errors_fixing}}}{{/if}}
				</h3>
			</div>
			<div class="windowbg">

{{! Are we fixing issues, or just prompting? }}
{{#if context.error_search}}
	{{#if context.to_fix}}
						{{{txt.errors_found}}}:
				<ul>

		{{#each context.repair_errors}}
					<li>{{{.}}}</li>
		{{/each}}
				</ul>

				<p>
					{{{txt.errors_fix}}}
				</p>
				<p class="padding">
					<strong><a href="{{scripturl}}?action=admin;area=repairboards;fixErrors;{{session_url}}">{{{txt.yes}}}</a> - <a href="{{scripturl}}?action=admin;area=maintain">{{{txt.no}}}</a></strong>
				</p>
	{{else}}
				<p>{{{txt.maintain_no_errors}}}</p>
				<p class="padding">
					<a href="{{scripturl}}?action=admin;area=maintain;sa=routine">{{{txt.maintain_return}}}</a>
				</p>
	{{/if}}
{{else}}
	{{#if context.redirect_to_recount}}
				<p>{{{txt.errors_do_recount}}}</p>
				<form action="{{scripturl}}?action=admin;area=maintain;sa=routine;activity=recount" id="recount_form" method="post">
					{{session_form}}
					<input type="submit" name="recount" id="recount_now" value="{{{txt.errors_recount_now}}}">
				</form>
	{{else}}
				<p>{{{txt.errors_fixed}}}</p>
				<p class="padding">
					<a href="{{scripturl}}?action=admin;area=maintain;sa=routine">{{{txt.maintain_return}}}</a>
				</p>
	{{/if}}
{{/if}}
			</div>
		</div>

{{#if context.redirect_to_recount}}
		<script>
			var countdown = 5;
			doAutoSubmit();

			function doAutoSubmit()
			{
				if (countdown == 0)
					document.forms.recount_form.submit();
				else if (countdown == -1)
					return;

				document.forms.recount_form.recount_now.value = {{{json txt.errors_recount_now}}} + " (" + countdown + ")";
				countdown--;

				setTimeout("doAutoSubmit();", 1000);
			}
		</script>
{{/if}}