	{{! Add an individual smiley. }}
	<div id="admincenter">
		<form action="{{scripturl}}?action=admin;area=smileys;sa=addsmiley" method="post" accept-charset="UTF-8" name="smileyForm" id="smileyForm" enctype="multipart/form-data">
			<div class="cat_bar">
				<h3 class="catbg">{{{txt.smiley_new}}}</h3>
			</div>
			<div class="windowbg">
				<dl class="settings">
					<dt>
						<strong><label for="smiley_code">{{{txt.smileys_code}}}</label>: </strong>
					</dt>
					<dd>
						<input type="text" name="smiley_code" id="smiley_code" value="" required>
					</dd>
					<dt>
						<strong><label for="smiley_description">{{{txt.smileys_description}}}</label>: </strong>
					</dt>
					<dd>
						<input type="text" name="smiley_description" id="smiley_description" value="">
					</dd>
					<dt>
						<strong><label for="smiley_location">{{{txt.smileys_location}}}</label>: </strong>
					</dt>
					<dd>
						<select name="smiley_location" id="smiley_location">
							<option value="0" selected>
								{{{txt.smileys_location_form}}}
							</option>
							<option value="1">
								{{{txt.smileys_location_hidden}}}
							</option>
							<option value="2">
								{{{txt.smileys_location_popup}}}
							</option>
						</select>
					</dd>
					<dt>
						<strong>{{{txt.smileys_add_upload_choose}}}:</strong>
					</dt>
					<dd>
						<input type="file" name="uploadSmiley" id="uploadSmiley">
					</dd>
				</dl>
				<input type="submit" name="smiley_save" value="{{{txt.smileys_save}}}">
			</div>
			{{session_form}}
		</form>
	</div>