	{{! Add or edit a ban trigger }}
	<div id="manage_bans">
		<form id="admin_form_wrapper" action="{{{context.form_url}}}" method="post" accept-charset="UTF-8">
			<div class="cat_bar">
				<h3 class="catbg">
{{#if context.ban_trigger.is_new}}
					{{{txt.ban_add_trigger}}}
{{else}}
					{{{txt.ban_edit_trigger_title}}}
{{/if}}
				</h3>
			</div>
			<div class="windowbg">
				<fieldset>
					<legend>
						<input type="checkbox" onclick="invertAll(this, this.form, \'ban_suggestion\');"> {{{txt.ban_triggers}}}
					</legend>
					<dl class="settings">
						<dt>
							<input type="checkbox" name="ban_suggestions[]" id="main_ip_check" value="main_ip"{{#if context.ban_trigger.ip.selected}} checked{{/if}}>
							<label for="main_ip_check">{{{txt.ban_on_ip}}}</label>
						</dt>
						<dd>
							<input type="text" name="main_ip" value="{{{context.ban_trigger.ip.value}}}" size="44" onfocus="document.getElementById('main_ip_check').checked = true;">
						</dd>
						<dt>
							<input type="checkbox" name="ban_suggestions[]" id="email_check" value="email"{{#if context.ban_trigger.email.selected}} checked{{/if}}>
							<label for="email_check">{{{txt.ban_on_email}}}</label>
						</dt>
						<dd>
							<input type="text" name="email" value="{{{context.ban_trigger.email.value}}}" size="44" onfocus="document.getElementById('email_check').checked = true;">
						</dd>

						<dt>
							<input type="checkbox" name="ban_suggestions[]" id="user_check" value="user"{{#if context.ban_trigger.banneduser.selected}} checked{{/if}}>
							<label for="user_check">{{{txt.ban_on_username}}}</label>:
						</dt>
						<dd>
							<select id="user" name="user"></select>
						</dd>
					</dl>
				</fieldset>

				<input type="submit" name="{{#if context.ban_trigger.is_new}}add_new_trigger{{else}}edit_trigger{{/if}}" value="{{#if context.ban_trigger.is_new}}{{{txt.ban_add_trigger_submit}}}{{else}}{{{txt.ban_edit_trigger_submit}}}{{/if}}">
			</div>

			<input type="hidden" name="bi" value="{{{context.ban_trigger.id}}}">
			<input type="hidden" name="bg" value="{{{context.ban_trigger.group}}}">
			{{session_form}}
			{{token_form 'admin-bet'}}
		</form>
	</div>
	<script>
		$('#user').on('change', function() {
			$('#user_check').prop('checked', true);
		});
	</script>