<div id="boardindex_table" class="boardindex_table">

{{#each context.categories}}
	{{#if (or this.boards this.is_collapsed)}}
	{{! This category contains boards, or the category is collapsed, so we need to print it }}
	<div class="main_container">
		<div class="cat_bar{{#if is_collapsed}} collapsed{{/if}}" id="category_{{this.id}}">
			<h3 class="catbg">

		{{#if this.can_collapse}}
				<span id="category_{{this.id}}_upshrink" class="{{#if this.is_collapsed}}toggle_down{{else}}toggle_up{{/if}} floatright" data-collapsed="{{this.is_collapsed}}" title="{{#if this.is_collapsed}}{{../txt.hide_category}}{{else}}{{../txt.show_category}}{{/if}}" style="display:none"></span>
		{{/if}}
				{{{this.link}}}
			</h3>

		{{#if this.description}}
			<div class="desc">{{{this.description}}}</div>
		{{/if}}

		</div>
		<div id="category_{{this.id}}_boards" {{#if this.css_class}}{{{this.css_class}}}{{/if}}>

		{{#each this.boards}}
			{{> board_listing_board context=../../context txt=../../txt scripturl=../../scripturl settings=../../settings}}
		{{/each}}

		</div><!-- #category_{{this.id}}_boards -->
	</div><!-- .main_container -->

	{{/if}}{{! close if (or (not this.boards) this.is_collapsed) on line 7 }}
{{/each}} {{! close each context.categories on line 6}}

</div><!-- #boardindex_table -->

{{#if context.user.is_logged}}
	{{#if context.categories}}

<div class="mark_read">
	{{>button_strip button_strip=context.mark_read_button txt=txt}}
</div>

	{{/if}}
{{/if}}
