		{{! The main character list }}
		<div class="cat_bar">
			<h3 class="catbg">
				<span>{{{txt.chars_menu_title}}}</span>
			</h3>
		</div>

{{#unless context.char_list}}
		<div class="windowbg">{{{txt.characters_none}}}</div>
{{else}}
		<form>
			<div class="windowbg filterizr-filters">
	{{#if context.group_filters}}
				<fieldset>
					<legend>{{{txt.filter_on_groups}}}</legend>
					<ul>
		{{#each context.group_filters}}
						<li data-multifilter="{{{@key}}}">{{{.}}}</li>
		{{/each}}
					</ul>
				</fieldset>
	{{/if}}
				<fieldset>
					<legend>{{{txt.filter_on_player}}}</legend>
					<ul>
	{{#each context.member_filters}}
						<li data-multifilter="{{@key}}">{{{.}}}</li>
	{{/each}}
					</ul>
				</fieldset>
				<fieldset>
					<legend>{{{txt.other_filters}}}</legend>
					<ul>
						<li data-multifilter="1">{{{txt.char_sheet}}}</li>
					</ul>
				</fieldset>
			</div>
		</form>


		<div class="char_list_container filter-container">

	{{#each context.char_list}}
			<div class="windowbg filtr-item even" data-category="{{{filters}}}">
				<div>
					<h4><a href="{{{character_link}}}">{{{character_name}}}</a></h4>
					<ul class="user_info">
						<li class="avatar">
							<img src="{{{character_avatar.url}}}" class="avatar">
						</li>
		{{#if group_badges}}
						<li class="icons">{{{group_badges}}}</li>
		{{/if}}
		{{#if group_title}}
						<li class="membergroup">{{{group_title}}}</li>
		{{/if}}

						<li class="postcount">
							{{{../txt.member_postcount}}}: {{{posts}}}
						</li>

						<li class="created">{{{date_created_format}}}</li>

						<li class="sheet">
		{{#if retired}}
							{{{../txt.char_retired}}}
		{{else}}
			{{#if character_sheet_link}}
							<a href="{{{character_sheet_link}}}">{{{../txt.char_sheet}}}</a>
			{{else}}
							<em>{{{../txt.char_sheet_none_short}}}</em>
			{{/if}}
		{{/if}}
						</li>

						<li class="playedby">
							<a href="{{{played_by_link}}}">{{{played_by}}}</a>
						</li>
					</ul>
				</div>
			</div>
	{{/each}}
		</div>

	<script>
	$(document).ready(function() {
		$('.filter-container').filterizr({
			layout: 'sameWidth',
			multifilterLogicalOperator: 'and',
			gutterPixels: 20
		});
		$('.filterizr-filters ul li').on('click', function() {
			$(this).toggleClass('filter-active');
		})
		$('.filterizr-filters ul li[data-multifilter=1]').trigger('click');
	});
	</script>
{{/unless}}