{{#if context.becomesUnapproved}}
<div class="noticebox">
	{{txt.post_becomesUnapproved}}
</div>
{{/if}}

{{! New topic info }}
<div id="display_head" class="information">
	<h2 class="display_title">
		<div class="prefix-container">
		{{#each context.topicinfo.prefixes}}
			<div class="{{{css_class}}}">{{{name}}}</div>
		{{/each}}
		</div>
		<span id="top_subject">{{{context.subject}}}</span>
		{{#if context.is_locked}}<span class="main_icons lock"></span>{{/if}}
		{{#if context.is_sticky}}<span class="main_icons sticky"></span>{{/if}}
	</h2>
	<p>{{txt.started_by}} {{{context.topic_poster_name}}}, {{{context.topic_started_time}}}</p>

{{#if context.viewing}}
	<p>{{{context.viewing}}}</p>
{{/if}}

</div>

{{! Show the anchor for the top and for the first message. If the first message is new, say so. }}
<a id="msg{{context.first_message}}"></a>
{{#if context.first_new_message}}<a id="new"></a>{{/if}}

{{! poll logic }}
{{#if context.is_poll}}
<div id="poll">
	<div class="cat_bar">
		<h3 class="catbg main_icons poll">
			{{#if context.poll.is_locked}}<span class="main_icons lock"></span>{{/if}}
			{{context.poll.question}}
		</h3>
	</div>
	<div class="windowbg noup">
		<div id="poll_options">

	{{#if (or context.poll.show_results (not context.allow_vote))}}
			<dl class="options">

		{{#each context.poll.options}}
				<dt class="{{#if voted_this}}voted{{/if}}">{{option}}</dt>
				<dd class="statsbar{{#if voted_this}} voted{{/if}}">

			{{#if ../context.allow_results_view}}
				{{{bar_ndt}}}
				<span class="percentage">{{votes}} ({{percent}}%)</span>
			{{/if}}
				</dd>
		{{/each}}

			</dl>

		{{#if context.allow_results_view}}
			<p><strong>{{txt.poll_total_voters}}:</strong> {{context.poll.total_votes}}</p>
		{{/if}}
	{{else}}
		<form action="{{scripturl}}?action=vote;topic={{context.current_topic}}.{{context.start}};poll='{{context.poll.id}}" method="post" accept-charset="UTF-8">

		{{#if context.poll.allowed_warning}}
			<p class="smallpadding">{{context.poll.allowed_warning}}</p>
		{{/if}}
			<ul class="options">

		{{#each context.poll.options}}
				<li>{{{vote_button}}} <label for="{{id}}">{{option}}</label></li>
		{{/each}}
			</ul>
			<div class="submitbutton">
				<input type="submit" value="{{txt.poll_vote}}">
				{{session_form}}
			</div>
		</form>

		{{#if context.poll.expire_time}}
		<p>
			<strong>
			{{#if context.poll.is_expired}}
				{{{txt.poll_expired_on}}}
			{{else}}
				{{{txt.poll_expires_on}}}
			{{/if}}:
			</strong>
			{{{context.poll.expire_time}}}
		</p>
		{{/if}}
	{{/if}}

		</div>
	</div>
</div>
<div id="pollmoderation">
	{{>button_strip button_strip=context.poll_buttons}}
</div>
{{/if}}{{! end poll logic }}

{{! pagination }}
<div class="pagesection top">
	{{>button_strip button_strip=context.normal_buttons direction='right'}}{{context.menu_separator}}
	<div class="pagelinks floatleft">
		{{{context.page_index}}}
	</div>
</div>

{{! mobile moderation buttons }}
<div class="mobile_buttons floatright">
	<a class="button mobile_act">{{txt.mobile_action}}</a>
	{{#if (or context.can_moderate_forum context.user.is_mod)}}<a class="button mobile_mod">{{txt.mobile_moderation}}</a>{{/if}}
</div>

{{! topic information - subject, etc. }}
<div id="forumposts">
	<form action="{{scripturl}}?action=quickmod2;topic={{context.current_topic}}.{{context.start}}" method="post" accept-charset="UTF-8" name="quickModForm" id="quickModForm" onsubmit="return onQuickModify.bInEditMode ? oQuickModify.modifySave('{{context.session_id}}', '{{context.session_var}}') : false">

{{#each context.messages}}
	{{#if this.separator}}
		{{>post_separator .}}
	{{/if}}
		{{>single_post .}}
{{/each}}

	</form>
</div>

{{! mobile moderation buttons }}
<div class="mobile_buttons floatright">
	<a class="button mobile_act">{{txt.mobile_action}}</a>
	{{#if (or context.can_moderate_forum context.user.is_mod)}}<a class="button mobile_mod">{{txt.mobile_moderation}}</a>{{/if}}
</div>

{{! pagination }}
<div class="pagesection">
	{{>button_strip button_strip=context.normal_buttons direction='right'}}{{context.menu_separator}}
	<div class="pagelinks floatleft">
		{{{context.page_index}}}
	</div>
</div>

{{> linktree}}	
	
{{! moderation buttons }}
<div id="moderationbuttons">
	{{>button_strip button_strip=context.mod_buttons direction='bottom'}}
</div>

<div id="display_jump_to">&nbsp;</div>

{{#if context.can_reply}}
{{>quick_reply}}
{{/if}}

{{! small screen responsive user action pop }}
<div id="mobile_action" class="popup_container">
	<div class="popup_window description">
		<div class="popup_heading">{{txt.mobile_action}}
		<a href="javascript:void(0);" class="main_icons hide_popup"></a></div>
		{{>button_strip button_strip=context.normal_buttons}}
	</div>
</div>

{{! moderation buttons }}
{{#if (or context.can_moderate_forum context.user.is_mod)}}
<div id="mobile_moderation" class="popup_container">
	<div class="popup_window description">
		<div class="popup_heading">
			{{txt.mobile_moderation}}
			<a href="javascript:void(0);" class="main_icons hide_popup"></a>
		</div>
		<div id="moderationbuttons_mobile">
			{{>button_strip button_strip=context.mod_buttons direction='bottom'}}
		</div>
	</div>
</div>
{{/if}}

{{! Javascript nonsense }}
<script>
{{#if context.can_remove_post}}
	var oInTopicModeration = new InTopicModeration({
		sSelf: 'oInTopicModeration',
		sCheckboxContainerMask: 'in_topic_mod_check_',
		aMessageIds: {{{json context.removableMessageIDs}}},
		sSessionId: sbb_session_id,
		sSessionVar: sbb_session_var,
		sButtonStrip: 'moderationbuttons',
		sButtonStripDisplay: 'moderationbuttons_strip',
		bUseImageButton: false,
		bCanRemove: {{#if context.can_remove_post}}true{{else}}false{{/if}},
		sRemoveButtonLabel: {{{json txt.quickmod_delete_selected}}},
		sRemoveButtonImage: 'delete_selected.png',
		sRemoveButtonConfirm: {{{json txt.quickmod_confirm}}},
		bCanRestore: {{#if context.can_restore_msg}}true{{else}}false{{/if}},
		sRestoreButtonLabel: {{{json txt.quick_mod_restore}}},
		sRestoreButtonImage: 'restore_selected.png',
		sRestoreButtonConfirm: {{{json txt.quickmod_confirm}}},
		bCanSplit: {{#if context.can_split}}true{{else}}false{{/if}},
		sSplitButtonLabel: {{{json txt.quickmod_split_selected}}},
		sSplitButtonImage: 'split_selected.png',
		sSplitButtonConfirm: {{{json txt.quickmod_confirm}}},
		sFormId: 'quickModForm'
	});
				
	var oInTopicModerationMobile = new InTopicModeration({
		sSelf: 'oInTopicModerationMobile',
		sCheckboxContainerMask: 'in_topic_mod_check_',
		aMessageIds: {{{json context.removableMessageIDs}}},
		sSessionId: sbb_session_id,
		sSessionVar: sbb_session_var,
		sButtonStrip: 'moderationbuttons_mobile',
		sButtonStripDisplay: 'moderationbuttons_strip_mobile',
		bUseImageButton: false,
		bCanRemove: {{#if context.can_remove_post}}true{{else}}false{{/if}},
		sRemoveButtonLabel: {{{json txt.quickmod_delete_selected}}},
		sRemoveButtonImage: 'delete_selected.png',
		sRemoveButtonConfirm: {{{json txt.quickmod_confirm}}},
		bCanRestore: {{#if context.can_restore_msg}}true{{else}}false{{/if}},
		sRestoreButtonLabel: {{{json txt.quick_mod_restore}}},
		sRestoreButtonImage: 'restore_selected.png',
		sRestoreButtonConfirm: '{{txt.quickmod_confirm}}',
		bCanSplit: {{#if context.can_split}}true{{else}}false{{/if}},
		sSplitButtonLabel: {{{json txt.quickmod_split_selected}}},
		sSplitButtonImage: 'split_selected.png',
		sSplitButtonConfirm: {{{json txt.quickmod_confirm}}},
		sFormId: 'quickModForm'
	});
{{/if}}
	if ('XMLHttpRequest' in window)
		{
			var oQuickModify = new QuickModify({
				sScriptUrl: sbb_scripturl,
				sClassName: 'quick_edit',
				bShowModify: {{#if modSettings.show_modify}}true{{else}}false{{/if}},
				iTopicId: {{{json context.current_topic}}},
				sTemplateBodyEdit: '<div id="quick_edit_body_container">' +
					'<div id="error_box" class="error"></div>' +
					'<textarea class="editor" name="message" rows="12" style="margin-bottom: 10px;">%body%</textarea><br>' +
					'{{session_form}}' +
					'<input type="hidden" name="topic" value="{{context.current_topic}}">' +
					'<input type="hidden" name="msg" value="%msg_id%">' +
					'<div class="buttonlist righttext quickModifyMargin">' +
						'<button type="submit" class="active button" name="post" value="post" onclick="return oQuickModify.modifySave(\'{{context.session_id}}\', \'{{context.session_var}}\');" accesskey="s">{{txt.save}}</button> <button type="submit" name="cancel" value="cancel" class="button" onclick="return oQuickModify.modifyCancel();">{{txt.modify_cancel}}</button>' +
					'</div>' +
				'</div>',
				sTemplateSubjectEdit: {{{json '<input type="text" name="subject" value="%subject%" size="80" maxlength="80">'}}},
				sTemplateBodyNormal: {{{json '%body%'}}},
				sTemplateSubjectNormal: '<a href="{{scripturl}}?topic={{context.current_topic}}.msg%msg_id%#msg%msg_id%" rel="nofollow">%subject%</a>',
				sTemplateTopSubject: {{{json '%subject%'}}},
				sTemplateReasonEdit: {{{json (concat txt.reason_for_edit ': ' '<input type="text" name="modify_reason" value="%modify_reason%" size="80" maxlength="80" class="quickModifyMargin">')}}},
				sTemplateReasonNormal: {{{json '%modify_text'}}},
				sErrorBorderStyle: {{{json '1px solid red'}}}{{#if context.can_reply}},
				sFormRemoveAccessKeys: 'postmodify'{{/if}}
			});

			aJumpTo[aJumpTo.length] = new JumpTo({
				sContainerId: "display_jump_to",
				sJumpToTemplate: "<label class=\"smalltext jump_to\" for=\"%select_id%\">{{context.jump_to.label}}<" + "/label> %dropdown_list%",
				iCurBoardId: '{{context.current_board}}',
				sCurBoardUrl: '{{context.current_board_link}}',
				iCurBoardChildLevel: '{{context.jump_to.child_level}}',
				sCurBoardName: "{{{context.jump_to.board_name}}}",
				sBoardChildLevelIndicator: "==",
				sBoardPrefix: "=> ",
				sCatSeparator: "-----------------------------",
				sCatPrefix: "",
				sGoButtonLabel: {{{json txt.go}}}
			});
		}
	{{#if context.ignoredMsgs}}ignore_toggles({{{json context.ignoredMsgs}}}, {{{json txt.show_ignore_user_post}}});{{/if}}
</script>