	<div class="login" id="maintenance_mode">
		<div class="cat_bar">
			<h3 class="catbg">{{context.title}}</h3>
		</div>
		<div class="information">
			<img class="floatleft" src="{{settings.images_url}}/construction.png" width="40" height="40" alt="{{txt.in_maintain_mode}}">
			{{context.description}}<br class="clear">
		</div>
		<div class="title_bar">
			<h4 class="titlebg">{{txt.admin_login}}</h4>
		</div>
		<div class="roundframe noup">
			{{{context.form}}}
		</div>
	</div>