{{#if context.becomesUnapproved}}
	<div class="noticebox">
		{{txt.post_becomesUnapproved}}
	</div>
{{/if}}

<div class="cat_bar">
	<h3 class="catbg"><span>{{{context.name}}}</span></h3>
	{{#if (or context.description context.moderators)}}
	<div class="desc">
		{{{context.description}}}&nbsp;

		{{#if context.moderators}}
			{{#if (eq (count context.moderators) 1)}}{{txt.moderator}}{{else}}{{txt.moderator}}{{/if}}: {{{join context.link_moderators ', '}}}.
		{{/if}}
	</div>
	{{/if}}
</div>

{{#if (or (eq_coerce settings.display_who_viewing '1') (eq_coerce settings.display_who_viewing '2'))}}
		<div class="information">

	{{#if (eq_coerce settings.display_who_viewing '1')}}
			{{#if (eq_coerce (count context.view_members) '1')}}{{txt.who_member}}{{else}}{{txt.members}}{{/if}}
	{{else}}
			{{#if context.view_members_list}}{{{join context.view_members_list ', '}}} {{#if (or context.view_num_hidden context.can_moderate_forum)}}({{context.view_num_hidden}} {{txt.hidden}}){{/if}}{{else}} 0 {{txt.members}}{{/if}}
	{{/if}}
			{{txt.who_and}} {{context.view_num_guests}} {{#if (eq_coerce context.view_num_guests '1')}}{{txt.guest}}{{else}}{{txt.guests}}{{/if}} {{txt.who_viewing_board}}
		</div>
{{else}}
	<br>
{{/if}}

{{#if context.boards}}
	<div id="board_{{context.current_board}}_childboards" class="boardindex_table sub_boards">
		<div class="cat_bar">
			<h3 class="catbg">{{txt.sub_boards}}</h3>
		</div>

	{{#each context.boards}}
		{{> board_listing_board context=../context txt=../txt scripturl=../scripturl settings=../settingss}}
	{{/each}}
	</div><!-- #board_{{context.current_board}}_childboards -->
{{/if}}

{{#unless context.no_topic_listing}}
	<div class="mobile_buttons floatright">
		<a class="button mobile_act">{{txt.mobile_action}}</a>
	</div>
	<div class="pagesection">
		{{context.menu_separator}}
		<div class="pagelinks floatleft">{{{context.page_index}}}</div>
		{{>button_strip button_strip=context.normal_buttons direction='right'}}
	</div>

	{{#if (and context.can_quick_mod context.topics)}}
	<form action="{{scripturl}}?action=quickmod;board={{context.current_board}}.{{context.start}}" method="post" accept-charset="UTF-8" class="clear" name="quickModForm" id="quickModForm">
	{{/if}}

		<div id="messageindex">

{{#if context.is_character_board}}
			<div class="title_bar topic-header">
				<div class="topic-subject">{{{context.topics_headers.subject}}} / {{{context.topics_headers.starter}}}</div>
				<div class="replies">{{{context.topics_headers.replies}}}</div>
				<div class="last-post">{{{context.topics_headers.last_post}}}</div>
				<div class="participants">{{{txt.participants}}}</div>
	{{#if context.can_quick_mod}}
				<div class="moderation">
					<input type="checkbox" onclick="invertAll(this, this.form, 'topics[]');">
				</div>
	{{/if}}
			</div>
{{else}}
			<div class="title_bar" id="topic_header">

	{{#if context.topics}}
				<div class="info">
					{{{context.topics_headers.subject}}} / {{{context.topics_headers.starter}}}
				</div>
				<div class="board_stats centertext">
					{{{context.topics_headers.replies}}}
				</div>
				<div class="lastpost">
					{{{context.topics_headers.last_post}}}
				</div>

		{{#if context.can_quick_mod}}
				<div class="moderation">
					<input type="checkbox" onclick="invertAll(this, this.form, 'topics[]');">
				</div>
		{{/if}}
	{{else}}
				{{! no topics }}
				<h3 class="titlebg">{{txt.topic_alert_none}}</h3>
	{{/if}}

			</div>
{{/if}}

			<div id="{{#unless context.is_character_board}}topic_container{{/unless}}" class="{{#if context.is_character_board}}topic-list{{/if}}">
	{{#if context.prefix_filter}}
				<div class="information">
					{{txt.prefix_filter}}&nbsp; <span class="{{{context.prefix_filter.css_class}}}">{{{context.prefix_filter.name}}}</span> <a href="{{context.current_board_link}}"><span class="main_icons delete"></span></a>
				</div>
	{{/if}}
	{{#if context.unapproved_posts_message}}
				<div class="information approvetopic">
					<span class="alert">!</span> {{{context.unapproved_posts_message}}}
				</div>
	{{/if}}

	{{#if context.is_character_board}}
		{{#if context.ongoing_topics}}
			<div class="sub_bar">
				<div class="subbg">{{{txt.ongoing_topics}}}</div>
			</div>
		{{/if}}
		{{#each context.topics}}
			{{#unless is_finished}}
			{{> topic_display_ic txt=../txt context=../context can_quick_mod=../context.can_quick_mod message_index_preview_first=../modSettings.message_index_preview_first scripturl=../scripturl}}
			{{/unless}}
		{{/each}}
		{{#if context.finished_topics}}
			<div class="sub_bar">
				<div class="subbg">{{{txt.finished_topics}}}</div>
			</div>
		{{/if}}
		{{#each context.topics}}
			{{#if is_finished}}
			{{> topic_display_ic txt=../txt context=../context can_quick_mod=../context.can_quick_mod message_index_preview_first=../modSettings.message_index_preview_first scripturl=../scripturl}}
			{{/if}}
		{{/each}}
	{{else}}
		{{#each context.topics}}
			{{> topic_display_ooc txt=../txt context=../context can_quick_mod=../context.can_quick_mod message_index_preview_first=../modSettings.message_index_preview_first scripturl=../scripturl}}
		{{/each}}
	{{/if}}

	{{#if (and context.can_quick_mod context.topics)}}
				<div class="righttext" id="quick_actions">
					<select class="qaction" name="qaction"{{#if context.can_move}} onchange="this.form.move_to.disabled = (this.options[this.selectedIndex].value != 'move');"{{/if}}>
						<option value="">--------</option>
						{{#each context.qmod_actions}}{{{qmod_option .}}}{{/each}}
					</select>
					{{#if context.can_move}}<span id="quick_mod_jump_to">&nbsp;</span>{{/if}}
					<input type="submit" value="{{txt.quick_mod_go}}" onclick="return document.forms.quickModForm.qaction.value != '' &amp;&amp; confirm('{{txt.quickmod_confirm}}');" class="qaction">
				</div>
	{{/if}}
			</div><!-- #topic_container -->
		</div><!-- #messageindex -->
	{{#if (and context.can_quick_mod context.topics)}}
		{{session_form}}
	</form>
	{{/if}}

	<div class="mobile_buttons floatright">
		<a class="button mobile_act">{{txt.mobile_action}}</a>
	</div>
	<div class="pagesection">
		{{>button_strip button_strip=context.normal_buttons direction='right'}}
		{{context.menu_separator}}
		<div class="pagelinks floatleft">{{{context.page_index}}}</div>
	</div>
{{/unless}}

{{#if (and context.can_quick_mod context.topics context.can_move)}}
	<script>
	if (typeof(window.XMLHttpRequest) != "undefined")
		aJumpTo[aJumpTo.length] = new JumpTo({
			sContainerId: "quick_mod_jump_to",
			sClassName: "qaction",
			sJumpToTemplate: "%dropdown_list%",
			iCurBoardId: {{context.current_board}},
			iCurBoardChildLevel: {{context.jump_to.child_level}},
			sCurBoardName: "{{context.jump_to.board_name}}",
			sBoardChildLevelIndicator: "==",
			sBoardPrefix: "=> ",
			sCatSeparator: "-----------------------------",
			sCatPrefix: "",
			bNoRedirect: true,
			bDisabled: true,
			sCustomName: "move_to"
		});
	</script>
{{/if}}

	<div id="mobile_action" class="popup_container">
		<div class="popup_window description">
			<div class="popup_heading">
				{{txt.mobile_action}}
				<a href="javascript:void(0);" class="main_icons hide_popup"></a>
			</div>
			{{>button_strip button_strip=context.normal_buttons}}
		</div>
	</div>