	<div class="cat_bar">
		<h3 class="catbg">{{{txt.order_sticky}}}</h3>
	</div>

	<form action="{{{context.this_url}}}" method="post" accept-charset="UTF-8">

		<div id="messageindex">

			<div class="title_bar" id="topic_header">
				<div class="info">
					{{{txt.subject}}} / {{{txt.starter}}}
				</div>
				<div class="board_stats centertext">
					{{{txt.replies}}} / {{{txt.views}}}
				</div>
				<div class="lastpost">
					{{{txt.last_post}}}
				</div>
			</div>

			<div id="topic_container" class="sortable">


	{{#each context.sticky_topics}}
				<div class="{{css_class}}">
					<span class="draggable-handle"></span>

					<input type="hidden" name="order[]" value="{{{id}}}">
					<div class="info">
						<div class="icons floatright">
							{{#if is_watched}}<span class="main_icons watch" title="{{../txt.watching_this_topic}}"></span>{{/if}}
							{{#if is_locked}}<span class="main_icons lock" title="{{../txt.locked_topic}}"></span>{{/if}}
							{{#if is_sticky}}<span class="main_icons sticky" title="{{../txt.sticky_topic}}"></span>{{/if}}
							{{#if is_redirect}}<span class="main_icons move" title="{{../txt.moved_topic}}"></span>{{/if}}
							{{#if is_poll}}<span class="main_icons poll" title="{{../txt.poll}}"></span>{{/if}}
						</div>
						<div class="first_poster">
							{{{first_post.member.avatar.image}}}
						</div>
						<div class="msg_container">
							<div class="message_index_title">

								<span class="preview{{#if is_sticky}} bold_text{{/if}}">

									{{#each prefixes}}
										<span class="{{{css_class}}}">{{{name}}}</span>
									{{/each}}
									<span id="msg_{{first_post.id}}">
										{{{first_post.link}}}
									</span>
								</span>
							</div>
							<div>
								{{../txt.started_by}}
								{{{first_post.member.link}}}
								{{#if pages}}<span id="pages{{first_post.id}}" class="topic_pages">&nbsp;{{{pages}}}</span>{{/if}}
							</div>
						</div>
					</div><!-- .info -->

					<div class="board_stats centertext">
						<p>{{replies}} {{../txt.replies}}<br>
						{{views}} {{../txt.views}}</p>
					</div>
					<div class="lastpost">
						<div class="last_poster">
							{{{last_post.member.avatar.image}}}
						</div>
						<p>{{textTemplate ../txt.last_post_topic (concat '<a href="' last_post.href '">' last_post.time '</a>') last_post.member.link}}</p>
					</div> 
				</div>
	{{/each}}

			</div><!-- #topic_container -->
			<div class="pagesection">
				<div class="buttonlist floatright">
					<button class="button active">{{{txt.save}}}</button>
				</div>
			</div>
		</div><!-- #messageindex -->
		{{session_form}}
	</form>
