	<form action="{{scripturl}}?action=pm;sa=manage_labels" method="post" accept-charset="UTF-8">
		<div class="cat_bar">
			<h3 class="catbg">{{txt.pm_manage_labels}}</h3>
		</div>
		<div class="information">
			{{txt.pm_labels_desc}}
		</div>
		<table class="table_grid">
			<thead>
				<tr class="title_bar">
					<th class="lefttext">
						{{txt.pm_label_name}}
					</th>
					<th class="centertext table_icon">
						{{#if (gt (getNumItems context.labels) 2)}}<input type="checkbox" onclick="invertAll(this, this.form);">{{/if}}
					</th>
				</tr>
			</thead>
			<tbody>

{{#if (lt (getNumItems context.labels) 2)}}
				<tr class="windowbg">
					<td colspan="2">{{txt.pm_labels_no_exist}}</td>
				</tr>
{{else}}
	{{#each context.labels}}
		{{#unless (eq id -1)}}
				<tr class="windowbg">
					<td>
						<input type="text" name="label_name[{{id}}]" value="{{name}}" size="30" maxlength="30">
					</td>
					<td class="table_icon"><input type="checkbox" name="delete_label[{{id}}]"></td>
				</tr>
		{{/unless}}
	{{/each}}
{{/if}}

			</tbody>
		</table>

{{#if (gte (getNumItems context.labels) 2)}}
		<div class="buttonlist righttext">
			<button type="submit" class="active button" name="save" value="save">{{txt.save}}</button>
			<button type="submit" class="button you_sure" name="delete" value="delete" data-confirm="{{txt.pm_labels_delete}}">{{txt.quickmod_delete_selected}}</button>
		</div>
{{/if}}

		{{session_form}}
	</form>

	<br class="clear">

	<form action="{{scripturl}}?action=pm;sa=manage_labels" method="post" accept-charset="UTF-8" style="margin-top: 1ex;">
		<div class="cat_bar">
			<h3 class="catbg">{{txt.pm_label_add_new}}</h3>
		</div>
		<div class="windowbg">
			<dl class="settings">
				<dt>
					<strong><label for="add_label">{{txt.pm_label_name}}</label>:</strong>
				</dt>
				<dd>
					<input type="text" id="add_label" name="label" value="" size="30" maxlength="30">
				</dd>
			</dl>
			<div class="buttonlist righttext">
				<button type="submit" class="active button" name="add" value="add">{{txt.pm_label_add_new}}</button>
			</div>
		</div>
		{{session_form}}
	</form><br>