	<div class="cat_bar">
		<h3 class="catbg">{{txt.pm_prune}}</h3>
	</div>
	<div class="windowbg">
		<form action="{{scripturl}}?action=pm;sa=prune" method="post" accept-charset="UTF-8" onsubmit="return confirm('{{txt.pm_prune_warning}}');">
			<p>
				{{txt.pm_prune_desc1}}
				<input type="text" name="age" size="3" value="14">
				{{txt.pm_prune_desc2}}
			</p>
			<input type="submit" value="{{txt.delete}}">
			{{session_form}}
		</form>
	</div>
	<div class="windowbg">
		<form action="{{scripturl}}?action=pm;sa=prune" method="post" onsubmit="return confirm('{{txt.pm_remove_all_warning}}');">
			<p>{{txt.pm_remove_all}}</p>
			<input type="checkbox" name="all"> {{txt.understand_deletion}}
			<div class="buttonlist righttext">
				<input type="submit" value="{{txt.delete_all_prune}}">
			</div>
			{{session_form}}
		</form>
	</div>