	<script>
		var allLabels = {};
		var currentLabels = {};
		function loadLabelChoices()
		{
			var listing = document.forms.pmFolder.elements;
			var theSelect = document.forms.pmFolder.pm_action;
			var add, remove, toAdd = {length: 0}, toRemove = {length: 0};

			if (theSelect.childNodes.length == 0)
				return;

			// This is done this way for internationalization reasons.
			if (!('-1' in allLabels))
			{
				for (var o = 0; o < theSelect.options.length; o++)
					if (theSelect.options[o].value.substr(0, 4) == "rem_")
						allLabels[theSelect.options[o].value.substr(4)] = theSelect.options[o].text;
			}

			for (var i = 0; i < listing.length; i++)
			{
				if (listing[i].name != "pms[]" || !listing[i].checked)
					continue;

				var alreadyThere = [], x;
				for (x in currentLabels[listing[i].value])
				{
					if (!(x in toRemove))
					{
						toRemove[x] = allLabels[x];
						toRemove.length++;
					}
					alreadyThere[x] = allLabels[x];
				}

				for (x in allLabels)
				{
					if (!(x in alreadyThere))
					{
						toAdd[x] = allLabels[x];
						toAdd.length++;
					}
				}
			}

			while (theSelect.options.length > 2)
				theSelect.options[2] = null;

			if (toAdd.length != 0)
			{
				theSelect.options[theSelect.options.length] = new Option("{{txt.pm_msg_label_apply}}", "");
				theSelect.options[theSelect.options.length - 1].innerHTML = "{{txt.pm_msg_label_apply}}";
				theSelect.options[theSelect.options.length - 1].disabled = true;

				for (i in toAdd)
				{
					if (i != "length")
						theSelect.options[theSelect.options.length] = new Option(toAdd[i], "add_" + i);
				}
			}

			if (toRemove.length != 0)
			{
				theSelect.options[theSelect.options.length] = new Option("{{txt.pm_msg_label_remove}}", "");
				theSelect.options[theSelect.options.length - 1].innerHTML = "{{txt.pm_msg_label_remove}}";
				theSelect.options[theSelect.options.length - 1].disabled = true;

				for (i in toRemove)
				{
					if (i != "length")
						theSelect.options[theSelect.options.length] = new Option(toRemove[i], "rem_" + i);
				}
			}
		}
	</script>
	<form class="flow_hidden" action="{{scripturl}}?action=pm;sa=pmactions;conversation;start={{context.start}}{{#if (neq context.current_label_id -1)}};l={{context.current_label_id}}{{/if}}" method="post" accept-charset="UTF-8" name="pmFolder" id="forumposts">

{{#unless context.current_pm}}
		{{>pm_subjects}}
		<div class="clear_right"><br></div>

		<div class="pagesection">
			{{>button_strip button_strip=context.conversation_buttons direction='right'}}
		</div>
{{/unless}}

{{#if context.messages}}
		<div class="pm_info">
			{{#if (eq context.folder 'sent')}}
			<a href="{{scripturl}}?action=pm;f=sent">{{{txt.back_to_sent_items}}}</a>
			{{else}}
			<a href="{{scripturl}}?action=pm;f=inbox">{{{txt.back_to_inbox}}}</a>
			{{/if}}

			{{#each context.current_msg_labels}}
			<span class="pm_label">{{{name}}}</span>
			{{/each}}
		</div>
		<div class="cat_bar">
			<h3 class="catbg">
				<span id="author">{{txt.author}}</span>
				<span id="topic_title">{{txt.conversations}}</span>
			</h3>
		</div>

	{{#each context.messages}}
		{{>single_post .}}
	{{/each}}

	{{#if context.conversation_buttons}}
		<div class="pagesection">
			{{>button_strip button_strip=context.conversation_buttons direction='right'}}
		</div>
	{{/if}}
		<br>
{{/if}}

		{{session_form}}
	</form>