<div class="cat_bar">
	<h3 class="catbg">{{txt.pm_report_title}}</h3>
</div>
<div class="windowbg">
	<p>{{txt.pm_report_done}}</p>
	<a href="{{scripturl}}?action=pm;l={{context.current_label_id}}">{{txt.pm_report_return}}</a>
</div>