	<div class="profile cat_bar">
		<h3 class="catbg">
			{{{context.member.name}}}
		</h3>
	</div>
	<div class="profile profile-summary">
		<div class="user-summary">
{{! Are there any custom profile fields for above the name? }}
{{#if context.print_custom_fields.above_member}}
			<div class="custom_fields_above_name">
				<ul>
					{{#each context.print_custom_fields.above_member}}
						{{#if output_html}}
							<li>{{output_html}}</li>
						{{/if}}
					{{/each}}
				</ul>
			</div>
{{/if}}

			<ul class="user_info">
				<li class="avatar">{{{context.member.avatar.image}}}</li>
				<li class="icons">{{{context.member.badges}}}</li>
				<li class="membergroup">{{{context.member.group}}}</li>

{{#if member.custom_fields.after_membergroup}}
				<li class="custom_fields_after_membergroup">
					<ul class="nolist">
					{{#each member.custom_fields.after_membergroup}}
						<li class="custom {{col_name}}">{{{value}}}</li>
					{{/each}}
					</ul>
				</li>
{{/if}}

				<li class="profile-online">
					<span class="{{#if context.member.online.is_online}}on{{else}}off{{/if}}" title="{{{context.member.online.text}}}"></span>
					<span class="smalltext">{{{context.member.online.label}}}</span>
				</li>

{{! Are there any custom profile fields for below the avatar? }}
{{#if context.print_custom_fields.below_avatar}}
				<li class="custom_fields_below_avatar">
					<ul>
						{{#each context.print_custom_fields.below_avatar}}
							{{#if output_html}}
								<li>{{output_html}}</li>
							{{/if}}
						{{/each}}
					</ul>
				</li>
{{/if}}

				<li class="user-actions">
{{! What about sending them a PM? }}
{{#if (and context.can_send_pm (not context.user.is_owner))}}
					<a href="{{scripturl}}?action=pm;sa=send;u={{context.id_member}}" class="send-pm" title="{{{txt.profile_sendpm_short}}}"><i class="fa-fw far fa-comments"></i></a>
{{/if}}

{{! Can they add this member as a buddy? }}
{{#if (and context.can_have_buddy (not context.user.is_owner))}}
	{{#if context.member.is_buddy}}
					<a href="{{scripturl}}?action=buddy;u={{context.id_member}};{{session_url}}" title="{{txt.buddy_remove}}"><i class="fa-fw fas fa-user-minus"></i></a>
	{{else}}
					<a href="{{scripturl}}?action=buddy;u={{context.id_member}};{{session_url}}" title="{{txt.buddy_add}}"><i class="fa-fw fas fa-user-plus"></i></a>
	{{/if}}
{{/if}}

				</li>
			</ul>

		</div>

		<div class="user-details">
			<h5>{{txt.activity}}</h5>
			<dl>
{{#if (not context.disabled_fields.posts)}}
				<dt>{{{txt.profile_posts}}}</dt>
				<dd>{{{context.member.posts}}} ({{{context.member.posts_per_day}}} {{{txt.posts_per_day}}})</dd>
{{/if}}
				<dt>{{{txt.date_registered}}}</dt>
				<dd>{{{context.member.registered}}}</dd>
				<dt>{{{txt.local_time}}}</dt>
				<dd>{{{context.member.local_time}}}</dd>
{{#if context.member.show_last_login}}
				<dt>{{{txt.lastLoggedIn}}}</dt>
				<dd>
					{{{context.member.last_login}}}
					{{#if context.member.is_hidden}} ({{txt.hidden}}){{/if}}
				</dd>
{{/if}}
{{#if context.member.show_birth}}
				<dt>{{{txt.dob}}}</dt>
				<dd>
					{{{context.member.formatted_birthdate}}}
					{{#if context.member.age}}
					{{{context.member.age}}}
					{{/if}}
				</dd>
{{/if}}

{{! Are there any custom profile fields for standard? }}
{{#if context.print_custom_fields.standard}}
				{{#each context.print_custom_fields.standard}}
					{{#if output_html}}
						<dt>{{name}}</dt>
						<dd>{{output_html}}</dd>
					{{/if}}
				{{/each}}
{{/if}}
			</dl>

{{! Are there any custom profile fields for above signature? }}
{{#if context.print_custom_fields.above_signature}}
			<div class="custom_fields_above_signature">
				<ul class="nolist">
					{{#each context.print_custom_fields.above_signature}}
						{{#if output_html}}
							<li>{{output_html}}</li>
						{{/if}}
					{{/each}}
				</ul>
			</div>
{{/if}}

{{! User signature }}
{{#if (and context.signature_enabled context.member.signature)}}
			<div class="signature">
				<h5>{{{txt.signature}}}</h5>
				{{{context.member.signature}}}
			</div>
{{/if}}


{{! Are there any custom profile fields for below signature? }}
{{#if context.print_custom_fields.below_signature}}
			<div class="custom_fields_below_signature">
				<ul class="nolist">
					{{#each context.print_custom_fields.below_signature}}
						{{#if output_html}}
							<li>{{output_html}}</li>
						{{/if}}
					{{/each}}
				</ul>
			</div>
{{/if}}

{{#if (or context.can_see_ip context.activate_message context.member.bans)}}
			<h5>{{txt.administrative}}</h5>
			<dl>
	{{! If the person looking is allowed, they can check the member's IP address}}
	{{#if context.can_see_ip}}
		{{#if context.member.ip}}
				<dt>{{txt.ip}}</dt>
				<dd>
					<a href="{{scripturl}}?action=admin;area=logs;sa=ip;searchip={{context.member.ip}};u={{context.member.id}}">{{context.member.ip}}</a>
				</dd>
		{{/if}}
	{{/if}}
	{{! Can they view/issue a warning? }}
	{{#if (and context.can_view_warning context.member.warning)}}
				<dt>{{{txt.profile_warning_level}}}</dt>
				<dd>
					<a href="{{scripturl}}?action=profile;u={{context.id_member}};area={{#if (and context.can_issue_warning (not context.user.is_owner))}}issue_warning{{else}}view_warnings{{/if}}">{{context.member.warning}}%</a>
					{{#if context.warning_status}}
						<span class="smalltext">({{{context.warning_status}}})</span>
					{{/if}}
				</dd>
	{{/if}}

	{{! Does the account require activation?}}
	{{#if context.activate_message}}
				<dt class="full-width">
					<span class="alert">{{{context.activate_message}}}</span>
					&nbsp; (<a href="{{{context.activate_link}}}"{{#if eq 4 context.activate_type}} class="you_sure" data-confirm="{{{txt.profileConfirm}}}"{{/if}}>{{{context.activate_link_text}}}</a>)
				</dt>
	{{/if}}

	{{#if context.member.bans}}
				<dt class="full-width">
					<span class="alert">{{{txt.user_is_banned}}}</span>
					&nbsp; [<a href="#" onclick="$('#ban_info').toggle();return false;">{{{txt.view_ban}}}</a>]
				</dt>
				<dt class="full-width" id="ban_info" style="display:none">
					<strong>{{{txt.user_banned_by_following}}}:</strong>
					{{#each context.member.bans}}
						<br><span class="smalltext">{{explanation}}</span>
					{{/each}}
				</dt>
	{{/if}}
			</dl>
{{/if}}

{{! Are there any characters to display? }}
{{#if (and context.member.characters (gt (count context.member.characters) 1))}}
			<h5>{{{txt.characters}}}</h5>
			<ul class="characters">

	{{#each context.member.characters}}
		{{#unless is_main}}
				<li>
					<div class="character-avatar">
						<img alt="{{{character_name}}}" src="{{{avatar}}}">
					</div>
					<div class="character-name">
						<a href="{{../scripturl}}{{character_url}}">{{{character_name}}}</a>
						{{#if retired}}({{{../txt.char_retired}}}){{/if}}

						<div class="char_group">
							{{{display_group}}}
						</div>
					</div>
				</li>
		{{/unless}}
	{{/each}}
			</ul>
{{/if}}
		</div>
	</div>