			{{! Editing a character sheet }}
			<div class="cat_bar profile">
				<h3 class="catbg">
					{{{txt.char_sheet}}} - {{{context.character.character_name}}}
				</h3>
			</div>

{{#if context.character.arrow_bar}}
			{{> arrow_bar arrows=context.character.arrow_bar}}
{{/if}}

			<div class="errorbox"{{#unless context.sheet_errors}} style="display: none"{{/unless}} id="errors">
				<dl>
					<dt>
						<strong id="error_serious">{{{txt.error_while_submitting}}}</strong>
					</dt>
					<dd class="error" id="error_list">
						{{#if context.sheet_errors}}{{{join context.warning_errors '<br>'}}}{{/if}}
					</dd>
				</dl>
			</div>
			<div id="box_preview"{{#unless context.sheet_preview}} style="display:none"{{/unless}}>
				<div class="title_bar">
					<h3 class="titlebg">{{{txt.preview}}}</h3>
				</div>
				<div class="roundframe">
					<div id="sheet_preview">{{#if context.sheet_preview}}{{{context.sheet_preview}}}{{/if}}</div>
				</div>
			</div>
			<form action="{{scripturl}}?action=profile;u={{context.id_member}};area=character_sheet;char={{context.character.id_character}};edit" method="post" accept-charset="UTF-8" name="postmodify" id="postmodify" class="flow_hidden" onsubmit="submitonce(this);">
				<div id="post_area">
					<div class="roundframe">

{{#if context.sheet_templates}}
						{{{txt.char_templates_sel}}}
						<select id="char_sheet_template">
							<option>-- {{{txt.char_templates}}} --</option>
							{{#each context.sheet_templates}}
							<option value="{{@key}}">{{name}}</option>
							{{/each}}
						</select>
						<a href="#" class="button" id="insert_char_template">{{{txt.char_templates_add}}}</a><br><br>
{{/if}}

						{{{richtexteditor 'message' '' 'bbcBox'}}}

						<br class="clear">
						<div class="buttonlist righttext">
{{#if (and context.drafts_charsheet_save context.drafts_autosave)}}
							<span class="floatleft padding" style="display: block">
								<span id="throbber" style="display:none">
									<i class="fas fa-spinner fa-pulse"></i>&nbsp;
								</span>
								<span id="draft_lastautosave"></span>
							</span>
							<script src="{{settings.default_theme_url}}/scripts/drafts.js{{modSettings.browser_cache}}"></script>
							<script>
								var oDraftAutoSave = new sbb_DraftAutoSave({
									sSelf: 'oDraftAutoSave',
									sLastNote: 'draft_lastautosave',
									sLastID: 'id_draft',
									sSceditorID: 'message',
									sType: 'charsheet',
									iBoard: 0,
									iFreq: '{{context.drafts_autosave_frequency}}',
									iMember: {{{context.id_member}}},
									iCharacter: {{#if context.character.id_character}}{{context.character.id_character}}{{else}}0{{/if}}
								});
							</script>
{{/if}}
							<button type="submit" class="active button" value="save" onclick="return submitThisOnce(this);">{{{txt.save}}}</button>
							<button type="submit" class="button" name="preview" value="preview" id="preview_sheet">{{{txt.preview}}}</button>
						</div>
					</div>
				</div>
				<br class="clear">
				<input type="hidden" id="id_draft" name="id_draft" value="{{#if context.id_draft}}{{context.id_draft}}{{else}}0{{/if}}">
				{{session_form}}
			</form>

{{#if context.sheet_comments}}
			<br>
			<div class="cat_bar">
				<h3 class="catbg">
					{{{txt.char_sheet_comments}}}
				</h3>
			</div>

	{{#each context.sheet_comments}}
			<div class="windowbg">
				<div>
					<strong>{{{real_name}}}</strong> - {{{time_posted_format}}}
				</div>
				<div>{{{sheet_comment_parsed}}}</div>
			</div>
	{{/each}}
{{/if}}