	{{! The form for creating a character }}
	<div class="cat_bar profile">
		<h3 class="catbg">{{{txt.char_create}}}</h3>
	</div>

	<div id="profileview" class="roundframe flow_auto">
		<div id="basicinfo"></div>
		<div id="detailedinfo">
			<form id="creator" action="{{scripturl}}?action=profile;u={{context.id_member}};area=character_create" method="POST" accept-charset="UTF-8">
				<div class="errorbox" id="profile_error"{{#unless context.form_errors}} style="display:none"{{/unless}}>
					<span>{{{txt.char_editing_error}}}</span>
					<ul id="list_errors">
						{{#each context.form_errors}}
							<li>{{{.}}}</li>
						{{/each}}
					</ul>
				</div>
				<dl>
					<dt>{{{txt.char_name}}}</dt>
					<dd>
						<input type="text" name="char_name" id="char_name" size="50" value="{{{context.character.character_name}}}" maxlength="50">
					</dd>
{{#if context.character.custom_fields}}
	{{#each context.character.custom_fields}}
					<dt>
						{{{field_name}}}:
						{{#if field_desc}}
						<div class="smalltext">{{{field_desc}}}</div>
						{{/if}}
					</dt>
					<dd>{{{input_html}}}</dd>
	{{/each}}
{{/if}}
				</dl>
				<br>
				<div class="smalltext">{{{txt.you_can_add_later}}}</div>
				<input type="hidden" name="u" value="{{context.id_member}}">
				<div class="buttonlist righttext">
					<button type="submit" name="create_char" value="create_char" class="active button">{{{txt.char_create}}}</button>
				</div>
				{{session_form}}
			</form>
		</div>
	</div>