	{{! Showing the ignore list of the user. }}
	<div id="edit_buddies">
		<div class="cat_bar">
			<h3 class="catbg">
				{{{txt.editIgnoreList}}}
			</h3>
		</div>
		<table class="table_grid">
			<tr class="title_bar">
				<th scope="col" class="quarter_table">{{{txt.name}}}</th>
				<th scope="col">{{{txt.status}}}</th>
				<th scope="col">{{{txt.ignore_remove}}}</th>
			</tr>

{{! If they don't have anyone on their ignore list, don't list it! }}
{{#unless context.ignore_list}}
			<tr class="windowbg">
				<td colspan="3"><strong>{{{txt.no_ignore}}}</strong></td>
			</tr>
{{/unless}}

{{! Now loop through each account showing info on each. }}
{{#each context.ignore_list}}
			<tr class="windowbg">
				<td>{{{link}}}</td>
				<td><a href="{{{online.href}}}"><span class="{{#if (eq_coerce online.is_online 1)}}on{{else}}off{{/if}}" title="{{{online.text}}}"></span></a></td>
				<td><a href="{{../scripturl}}?action=profile;u={{../context.id_member}};area=ignored_people;remove={{id}};{{session_url}}" class="main_icons delete" title="{{{../txt.ignore_remove}}}"></a></td>
			</tr>
{{/each}}

		</table>
	</div>

	{{! Add to the ignore list? }}
	<form action="{{scripturl}}?action=profile;u={{context.id_member}};area=ignored_people" method="post" accept-charset="UTF-8">
		<div class="cat_bar">
			<h3 class="catbg">{{{txt.ignore_add}}}</h3>
		</div>
		<div class="information">
			<dl class="settings">
				<dt>
					<label for="new_buddy"><strong>{{{txt.who_member}}}:</strong></label>
				</dt>
				<dd>
					<select name="new_ignore" id="new_ignore"><option></option></select>
					<button type="submit" class="button">{{{txt.ignore_add_button}}}</button>
				</dd>
			</dl>
		</div>

		{{#if context.token_check}}{{token_form context.token_check}}{{/if}}
		{{session_form}}
	</form>