			{{! Showing a character sheet }}
			<div class="cat_bar profile">
				<h3 class="catbg">
					{{{context.character.character_name}}} - {{{txt.char_sheet}}}
				</h3>
			</div>

{{#if context.character.arrow_bar}}
			{{> arrow_bar arrows=context.character.arrow_bar}}
{{/if}}

{{#if context.character.sheet_details.sheet_text}}
	{{#unless context.character.sheet_details.id_approver}}
			<div class="noticebox">
				{{{txt.char_sheet_not_approved}}}
				{{#if context.character.sheet_details.approval_state}}
					{{{txt.char_sheet_waiting_approval}}}
				{{/if}}
			</div>
	{{/unless}}

	{{#if context.sheet_buttons}}
			{{> button_strip button_strip=context.sheet_buttons txt=txt direction='right'}}
			<div class="clear"></div>
	{{/if}}

			<div class="windowbg">
				{{{context.character.sheet_details.sheet_text}}}
			</div>
{{else}}
			<div class="windowbg">
				{{{txt.char_sheet_none}}}
			</div>

	{{#if context.sheet_buttons}}
			{{> button_strip button_strip=context.sheet_buttons txt=txt direction='right'}}
			<div class="clear"></div>
	{{/if}}

{{/if}}

{{#if context.show_sheet_comments}}
			<br>
			<div class="cat_bar">
				<h3 class="catbg">
					{{{txt.char_sheet_comments}}}
				</h3>
			</div>
			<div id="quickReplyOptions">
				<div class="roundframe">
					<form action="{{scripturl}}?action=profile;u={{context.id_member}};area=character_sheet;char={{context.character.id_character}}" method="post" accept-charset="UTF-8" name="postmodify" id="postmodify" class="flow_hidden" onsubmit="submitonce(this);">
						{{{richtexteditor 'message' 'smileyBox_message' 'bbcBox_message'}}}
						<br class="clear_right">
						<span id="post_confirm_buttons">
							<button type="submit" name="post" value="post" class="active button">{{{txt.char_sheet_add_comment}}}</button>
							{{session_form}}
						</span>
					</form>
				</div>
			</div>

	{{#each context.sheet_comments}}
			<div class="windowbg">
				<div>
					<strong>{{{real_name}}}</strong> - {{{time_posted_format}}}
				</div>
				<div>{{{sheet_comment_parsed}}}</div>
			</div>
	{{/each}}
{{/if}}