	{{! Creating a search index }}
	<div id="admincenter">
		<form action="{{scripturl}}?action=admin;area=managesearch;sa=createmsgindex;step=1" method="post" accept-charset="UTF-8" name="create_index">
			<div class="cat_bar">
				<h3 class="catbg">{{{txt.search_create_index}}}</h3>
			</div>
			<div class="windowbg">
				<dl class="settings">
					<dt>
						<label for="predefine_select">{{{txt.search_predefined}}}:</label>
					</dt>
					<dd>
						<select name="bytes_per_word" id="predefine_select">
							<option value="2">{{{txt.search_predefined_small}}}</option>
							<option value="4" selected>{{{txt.search_predefined_moderate}}}</option>
							<option value="5">{{{txt.search_predefined_large}}}</option>
						</select>
					</dd>
				</dl>
				<hr>
				<input type="submit" name="save" value="{{{txt.search_create_index_start}}}">
				{{session_form}}
			</div>
		</form>
	</div>