	<div class="cat_bar">
		<h3 class="catbg">{{{context.page_title}}}</h3>
	</div>
	<p class="information">{{{txt.shipper_description}}}</p>

	<form class="windowbg">
		<fieldset id="character_filter">
			<legend>{{{txt.character_filter}}}</legend>

{{#each context.participating_characters}}
			<label><input type="checkbox" name="character[]" value="{{@key}}" checked> {{{.}}}</label>
{{/each}}

			<hr>
			<label><input type="checkbox" id="check_all" checked onclick="invertAll(this, this.form, 'character[]');"> {{txt.check_all}}</label>
		</fieldset>
	</form>

		<div id="topic_container" class="character_filter">
			<div class="roundframe centertext no_topics" style="display:none">
				{{{txt.no_shipper_topics}}}
			</div>
{{#each context.ships}}
	{{#if show}}
		{{#if hidden}}
			<div class="character"{{#each characters}} data-char-{{@key}}="{{@key}}"{{/each}}>
				<div class="title_bar">
					<h3 class="titlebg">
						{{{join characters ' / '}}}
						{{#if ship_name}} &mdash; &ldquo;{{{ship_name}}}&rdquo;{{/if}}
						{{#if toggle_hidden_link}}<span class="floatright"><a href="{{{toggle_hidden_link}}}">{{{../txt.show}}}</a></span>{{/if}}
					</h3>
				</div>
			</div>
		{{else}}
			<div class="character"{{#each characters}} data-char-{{@key}}="{{@key}}"{{/each}}>
				<div class="title_bar">
					<h3 class="titlebg">
						{{{join characters ' / '}}}
						{{#if ship_name}} &mdash; &ldquo;{{{ship_name}}}&rdquo;{{/if}}
						<span class="floatright">
						{{#if shipper_link}}
							&nbsp; <a href="{{{shipper_link}}}">{{{../txt.view_shipper}}}</a>
						{{/if}}
						{{#if editable}}
							&nbsp; <a href="{{{edit_shipper_link}}}">{{{../txt.edit_shipper}}}</a>
							&nbsp; <a href="{{{timeline_link}}}">{{{../txt.edit_timeline}}}</a>
						{{/if}}
						{{#if toggle_hidden_link}}&nbsp; <a href="{{{toggle_hidden_link}}}">{{{../txt.hide}}}</a>{{/if}}
						</span>
					</h3>
				</div>

			{{#each topics}}
				<div class="windowbg">
				{{#if extra_characters}}&nbsp; &nbsp;{{/if}}
					<a href="{{{topic_href}}}">{{#each prefixes}}<span class="{{{css_class}}}">{{{name}}}</span>{{/each}}{{{subject}}}</a>
				{{#if extra_characters}}
					&mdash; {{textTemplate ../../txt.also_with (join extra_characters ', ')}}
				{{/if}}
				</div>
			{{/each}}
			</div>
		{{/if}}
	{{/if}}
{{/each}}
		</div>

<script>
	function character_filter() {
		$('.no_topics').hide();
		$('#topic_container .character').hide();

		$('#character_filter input:not(#check_all):checked').each(function () {
			var id_char = $(this).val();
			$('#topic_container .character[data-char-' + id_char + ']').show();
		});

		if ($('#topic_container .character:visible').length == 0) {
			$('.no_topics').show();
		}
	}

	$('#character_filter input').on('click', character_filter);
	character_filter();
</script>
