	{{! Template for a user to edit/pick their subscriptions. }}
	<div id="paid_subscription">
		<form action="{{scripturl}}?action=profile;u={{context.id_member}};area=subscriptions;confirm" method="post">
			<div class="cat_bar">
				<h3 class="catbg">{{{txt.subscriptions}}}</h3>
			</div>

{{#unless context.subscriptions}}
			<div class="information">
				{{{txt.paid_subs_none}}}
			</div>
{{else}}
			<div class="information">
				{{{txt.paid_subs_desc}}}
			</div>
{{/unless}}

{{! Print out all the subscriptions. }}
{{#each context.subscriptions}}
	{{#if active}}
			<div class="cat_bar">
				<h3 class="catbg">{{{name}}}</h3>
			</div>
			<div class="windowbg">
				<p><strong>{{{name}}}</strong></p>
				<p class="smalltext">{{{desc}}}</p>

		{{#unless flexible}}
				<div><strong>{{{../txt.paid_duration}}}:</strong> {{{length}}}</div>
		{{/unless}}

		{{#if ../context.user.is_owner}}
				<strong>{{{../txt.paid_cost}}}:</strong>

			{{#if flexible}}
				<select name="cur[{{id}}]">

				{{! Print out the costs for this one. }}
				{{#each costs}}
					<option value="{{@key}}">{{textTemplate ../../modSettings.paid_currency_symbol .}}/{{get_text @key}}</option>
				{{/each}}

				</select>
			{{else}}
				{{textTemplate ../modSettings.paid_currency_symbol costs.fixed}}
			{{/if}}

				<hr>
				<input type="submit" name="sub_id[{{id}}]" value="{{{../txt.paid_order}}}">

		{{else}}
				<a href="{{../scripturl}}?action=admin;area=paidsubscribe;sa=modifyuser;sid={{id}};uid={{../context.member.id}}{{#if sublog}};lid={{sublog}}{{/if}}">{{#if sublog}}{{{../txt.paid_edit_subscription}}}{{else}}{{{../txt.paid_admin_add}}}{{/if}}</a>
		{{/if}}

			</div>
	{{/if}}
{{/each}}

			{{session_form}}
		</form>
		<br class="clear"/>
		<div class="cat_bar">
			<h3 class="catbg">{{{txt.paid_current}}}</h3>
		</div>
		<div class="information">
			{{{txt.paid_current_desc}}}
		</div>
		<table class="table_grid">
			<thead>
				<tr class="title_bar">
					<th style="width: 30%">{{{txt.paid_name}}}</th>
					<th>{{{txt.paid_status}}}</th>
					<th>{{{txt.start_date}}}</th>
					<th>{{{txt.end_date}}}</th>
				</tr>
			</thead>
			<tbody>

{{#unless context.current}}
				<tr class="windowbg">
					<td colspan="4">
						{{{txt.paid_none_yet}}}
					</td>
				</tr>
{{/unless}}

{{#each context.current}}
	{{#unless hide}}
				<tr class="windowbg">
					<td>
						{{#if can_modify}}<a href="{{../scripturl}}?action=admin;area=paidsubscribe;sa=modifyuser;lid={{id}}">{{{name}}}</a>{{else}}{{{name}}}{{/if}}
					</td>
					<td>
						<span style="color: {{#if (eq_coerce status 2)}}green{{else}}{{#if (eq_coerce status 1)}}red{{else}}orange{{/if}}{{/if}}"><strong>{{{status_text}}}</strong></span>
					</td>
					<td>{{{start}}}</td>
					<td>{{{end}}}</td>
				</tr>
	{{/unless}}
{{/each}}
			</tbody>
		</table>
	</div>