	{{! Thanking the user for their subscription. }}
	<div id="paid_subscription">
		<div class="cat_bar">
			<h3 class="catbg">{{{txt.paid_done}}}</h3>
		</div>
		<div class="windowbg">
			<p>{{{txt.paid_done_desc}}}</p>
			<br>
			<a href="{{scripturl}}}?action=profile;u={{context.member.id}};area=subscriptions">{{{txt.paid_sub_return}}}</a>
		</div>
	</div>