	<div class="main_section" id="whos_online">
		<div class="cat_bar">
			<h3 class="catbg">{{txt.who_title}}</h3>
		</div>
		<div id="mlist">
			<div class="pagesection">
				<div class="pagelinks">{{{context.page_index}}}</div>
			</div>

			{{> tab_bar tabs=context.navigation_tabs }}

			<table class="table_grid">
				<thead>
					<tr class="cat_bar">
						<th scope="col" class="lefttext" style="width: 40%;"><a href="{{context.table_headers.user.link}}" rel="nofollow">{{context.table_headers.user.label}} {{#if (eq context.sort_by "user")}}<span class="main_icons sort_{{context.sort_direction}}"></span>{{/if}}</a></th>
						<th scope="col" class="lefttext time" style="width: 10%;"><a href="{{context.table_headers.time.link}}" rel="nofollow">{{context.table_headers.time.label}} {{#if (eq context.sort_by "time")}}<span class="main_icons sort_{{context.sort_direction}}"></span>{{/if}}</a></th>
						<th scope="col" class="lefttext half_table">{{context.table_headers.action.label}}</th>
					</tr>
				</thead>
				<tbody>

{{#each context.members}}
					<tr class="windowbg">
						<td>
	{{#unless is_guest}}
							<span class="contact_info floatright">
								{{#if ../context.can_send_pm}}<a href="{{{online.href}}}" title="{{{online.text}}}">{{/if}}
									
								<span class="{{#if online.is_online}}on{{else}}off{{/if}}" title="{{online.text}}"></span>

								{{#if ../context.can_send_pm}}</a>{{/if}}
							</span>
	{{/unless}}
							<span class="member{{#if is_hidden}} hidden{{/if}}"{{#if title}} title="{{{title}}}"{{/if}}>
								{{#if is_guest}}
									{{#if link}}{{{link}}}{{else}}{{{name}}}{{/if}}
								{{else}}
									<a href="{{{href}}}" title="{{../txt.profile_of}} {{{name}}}"{{#if color}} style="color: {{color}}"{{/if}}>{{{name}}}</a>
								{{/if}}
							</span>
	{{#if ip}}
							(<a href="{{../scripturl}}?action=admin;area=logs;sa=ip{{#unless is_guest}};u={{id}}{{/unless}};searchip={{ip}}">{{ip}}</a>)
	{{/if}}
						</td>
						<td class="time">{{time}}</td>
						<td>{{{action}}}</td>
					</tr>
{{/each}}

{{! No members? }}
{{#unless context.members}}
					<tr class="windowbg">
						<td colspan="3">
						{{#if (eq context.show_by "guests")}} {{txt.who_no_online_guests}} {{/if}}
						{{#if (eq context.show_by "robots")}} {{txt.who_no_online_robots}} {{/if}}
						{{#if (eq context.show_by "members")}} {{txt.who_no_online_members}} {{/if}}
						</td>
					</tr>
{{/unless}}
				</tbody>
			</table>

			<div class="pagesection" id="lower_pagesection">
				<div class="pagelinks">{{{context.page_index}}}</div>
			</div>
		</div>
	</div>