	{{boardindex_total_posts}}{{#if show_latest_member}} - {{txt.latest_member}}: <strong> {{{latest_member.link}}}</strong>{{/if}}<br>
	{{#if latest_post}}{{txt.latest_post}}: <strong>&quot;{{{latest_post.link}}}&quot;</strong>  ({{{latest_post.time}}})<br>{{/if}}
	<a href="{{scripturl}}?action=recent">{{txt.recent_view}}</a>