{{#if latest_posts}}
	<table>
		<thead>
			<tr>
				<th class="recentpost">{{txt.message}}</th>
				<th class="recentposter">{{txt.author}}</th>
				<th class="recentboard">{{txt.board}}</th>
				<th class="recenttime">{{txt.date}}</th>
			</tr>
		</thead>

		<tbody>
	{{#each latest_posts}}
			<tr>
				<td class="recentpost"><a href="{{{href}}}" rel="nofollow noopener">{{#each prefixes}}<span class="{{{css_class}}}">{{{name}}}</span>{{/each}}{{{subject}}}</a></td>
				<td class="recentposter">{{{poster.link}}}</td>
				<td class="recentboard">{{{board.link}}}</td>
				<td class="recenttime">{{{time}}}</td>
			</tr>
	{{/each}}
		</tbody>

	</table>
{{/if}}