{{#if tiers}}
	{{#each tiers}}
		<div class="affiliate_tier affiliate_tier_{{id_tier}}{{#if desaturate}} desaturate{{/if}}">
			<div class="title_bar">
				<h3 class="titlebg">{{{tier_name}}}</h3>
			</div>

			<div class="centertext">
		{{#each affiliates}}
				<a href="{{{url}}}" target="_blank" rel="noopener" title="{{{affiliate_name}}}"><img src="{{{image}}}" alt="{{{affiliate_name}}}"></a>
		{{/each}}
			</div>
		</div>
	{{/each}}
{{/if}}