		<img src="{{image_href}}" alt="{{txt.visual_verification_description}}" id="verification_image_{{verify_id}}">

		<div class="smalltext" style="margin: 4px 0 8px 0;">
			<a href="{{image_href}};sound" id="visual_verification_{{verify_id}}_sound" rel="nofollow">{{{txt.visual_verification_sound}}}</a> / <a href="#visual_verification_{{verify_id}}_refresh" id="visual_verification_{{verify_id}}_refresh">{{{txt.visual_verification_request_new}}}</a><br><br>
			{{{txt.visual_verification_description}}}:<br>
			<input type="text" name="{{verify_id}}_vv[code]" value="{{{text_value}}}" size="30" required>
		</div>