	<button type="submit" class="active button" name="post" value="post" onclick="return submitThisOnce(this);">{{#if editor_context.labels.post_button}}{{editor_context.labels.post_button}}{{else}}{{txt.post}}{{/if}}</button>

{{#if editor_context.preview_type}}
	<button type="submit" name="preview" value="preview" class="button" onclick="{{#if (eq editor_context.preview_type 2)}}return event.ctrlKey || previewPost();{{else}}return submitThisOnce(this);{{/if}}">{{#if editor_context.labels.preview_button}}{{editor_context.labels.preview_button}}{{else}}{{txt.preview}}{{/if}}</button>
{{/if}}

{{#if context.drafts_pm_save}}
	<button type="submit" name="save_draft" value="save_draft" class="button" onclick="submitThisOnce(this);" accesskey="d">{{txt.draft_save}}</button>
	<input type="hidden" id="id_pm_draft" name="id_pm_draft" value="{{#if context.id_pm_draft}}{{context.id_pm_draft}}{{else}}0{{/if}}">
{{/if}}

{{#if context.drafts_save}}
	<button type="submit" name="save_draft" value="save_draft" class="button" onclick="return confirm({{jsEscape txt.draft_save_note}}) && submitThisOnce(this);">{{txt.draft_save}}</button>
	<input type="hidden" id="id_draft" name="id_draft" value="{{#if context.id_draft}}{{context.id_draft}}{{else}}0{{/if}}">
{{/if}}

{{! auto-saver }}
{{#if (and context.drafts_pm_save context.drafts_autosave)}}
	<span class="floatleft padding" style="display: block">
		<span id="throbber" style="display:none">
			<i class="fas fa-spinner fa-pulse"></i>&nbsp;
		</span>
		<span id="draft_lastautosave"></span>
	</span>
	<script src="{{settings.default_theme_url}}/scripts/drafts.js{{modSettings.browser_cache}}"></script>
	<script>
		var oDraftAutoSave = new sbb_DraftAutoSave({
			sSelf: 'oDraftAutoSave',
			sLastNote: 'draft_lastautosave',
			sLastID: 'id_pm_draft',
			sSceditorID: '{{editor_id}}',
			sType: 'post',
			bPM: true,
			iBoard: 0,
			iFreq: '{{#if modSettings.drafts_autosave_frequency}}{{modSettings.drafts_autosave_frequency}} * 1000{{else}}60000{{/if}}'
		});
	</script>
{{/if}}

{{#if (and context.drafts_save context.drafts_autosave)}}
	<span class="floatleft padding" style="display: block">
		<span id="throbber" style="display:none">
			<i class="fas fa-spinner fa-pulse"></i>&nbsp;
		</span>
		<span id="draft_lastautosave" ></span>
	</span>
	<script src="{{settings.default_theme_url}}/scripts/drafts.js{{modSettings.browser_cache}}"></script>
	<script>
		var oDraftAutoSave = new sbb_DraftAutoSave({
			sSelf: 'oDraftAutoSave',
			sLastNote: 'draft_lastautosave',
			sLastID: 'id_draft',
			sSceditorID: '{{editor_id}}',
			sType: 'post',
			iBoard: '{{#if context.current_board}}{{context.current_board}}{{else}}0{{/if}}',
			iFreq: '{{context.drafts_autosave_frequency}}'
		});
	</script>
{{/if}}