{{! Showing tabs within a generic menu }}
{{#if context.current_menu_context.tab_data.title}}
		<div class="cat_bar">

	{{#if context.show_admin_search}}
			<form action="{{scripturl}}?action=admin;area=search" method="post" accept-charset="UTF-8">
	{{/if}}

			<h3 class="catbg">

	{{#if context.show_admin_search}}
				<span class="floatright admin_search">
					<span class="main_icons filter centericon"></span>
					<input type="search" name="search_term" placeholder="{{get_text 'admin_search'}}">
					<select name="search_type">
						<option value="internal"{{#if (eq context.admin_preferences.sb 'internal')}} selected{{/if}}>{{get_text 'admin_search_type_internal'}}</option>
						<option value="member"{{#if (eq context.admin_preferences.sb 'member')}} selected{{/if}}>{{get_text 'admin_search_type_member'}}</option>
					</select>
					<input type="submit" name="search_go" id="search_go" value="{{get_text 'admin_search_go'}}">
				</span>
	{{/if}}

	{{#if (or context.selected_tab.icon_class context.current_menu_context.tab_data.icon_class)}}
				<span class="{{#if context.selected_tab.icon_class}}{{context.selected_tab.icon_class}}{{else}}{{context.current_menu_context.tab_data.icon_class}}{{/if}} icon"></span>
	{{else}}
		{{#if (or context.selected_tab.icon context.current_menu_context.tab_data.icon)}}
				<img src="{{settings.images_url}}/icons/{{#if context.selected_tab.icon}}{{context.selected_tab.icon}}{{else}}{{context.current_menu_context.tab_data.icon}}{{/if}}" alt="" class="icon">
		{{/if}}
	{{/if}}

	{{#if context.selected_tab.help}}
				{{> helpicon help=context.selected_tab.help}}
	{{else}}
		{{#if context.current_menu_context.tab_data.help}}
				{{> helpicon help=context.current_menu_context.tab_data.help}}
		{{/if}}
	{{/if}}

				{{{context.current_menu_context.tab_data.title}}}
			</h3>

	{{#if context.show_admin_search}}
			</form>
	{{/if}}

		</div>
{{/if}}

{{#if context.selected_tab.description}}
		<p class="information">{{{context.selected_tab.description}}}</p>
{{else}}
	{{#if context.current_menu_context.tab_data.description}}
		<p class="information">{{{context.current_menu_context.tab_data.description}}}</p>
	{{/if}}
{{/if}}