{{#if context.linktree}}
					<div class="navigate_section">
						<ul>

	{{#if context.user.is_logged}}
							<li class="unread_links">
								<a href="{{scripturl}}?action=unread" title="{{txt.unread_since_visit}}">{{txt.view_unread_category}}</a>
								<a href="{{scripturl}}?action=unreadreplies" title="{{txt.show_unread_replies}}">{{txt.unread_replies}}</a>
							</li>
	{{/if}}

	{{#each context.linktree}}
							<li {{#if @last}}class="last"{{/if}}>
								{{#unless @first}}<span class="dividers">{{#if context.right_to_left}}&#9668;{{else}}&#9658;{{/if}} </span>{{/unless}}
								{{{extra_before}}}
								{{#if url}}
									<a href="{{url}}"><span>{{{name}}}</span></a>
								{{else}}
									<span>{{{name}}}</span>
								{{/if}}
								{{{extra_after}}}
							</li>
	{{/each}}
						</ul>
					</div>
{{/if}}