		<dt>
			<strong>{{{txt.current_theme}}}:</strong>
		</dt>
		<dd>
			{{{context.member.theme.name}}} [<a href="{{scripturl}}?action=theme;sa=pick;u={{context.id_member}};{{session_url}}">{{{txt.change}}}</a>]
		</dd>