	{{> tab_bar tabs=context.navigation }}
	<div class="generic_menu_container">
		{{#each context.navigation}}
			{{#if active}}
				{{#each sections}}
					{{#each links}}
						{{#if active}}
							<input type="checkbox" class="mobile-tabside">
							<div class="mobile-tabside">{{!
								}}{{#if (gt (count ../../sections) 1)}}{{!
									}}<span class="heading">{{{../label}}}</span>{{!
								}}{{/if}}{{!
								}}<span class="area">{{label}}</span>
							</div>
						{{/if}}
					{{/each}}
				{{/each}}
			{{/if}}
		{{/each}}
		<div class="generic_menu_sidebar">
			{{#each context.navigation}}
				{{#if active}}
					{{#each sections}}
						{{#if (gt (count ../sections) 1)}}
						<div class="heading">{{{label}}}</div>
						{{/if}}
						<ul>
							{{#each links}}
								<li{{#if active}} class="active"{{/if}}><a href="{{url}}">{{{label}}}</a></li>
							{{/each}}
						</ul>
					{{/each}}
				{{/if}}
			{{/each}}
		</div>
		<div id="admin_content">