{% extends '@layouts/admin.twig' %}
{% import '@partials/admin/panels.twig' as panel %}

{% block title %}ADMIN LOGIN{% endblock %}

{% block content %}
	{{ panel.begin() }}
		{{ panel.heading( phrase('General:login') ) }}
		{{ panel.body_begin() }}
			{% if login_errors %}
				<div class="errorbox">
					<ul>
						{% for error in login_errors %}
						<li>{{ error|raw }}</li>
						{% endfor %}
					</ul>
				</div>
			{% endif %}
			{{ form|raw }}
		{{ panel.body_end() }}
	{{ panel.end() }}
{% endblock %}