	<div class="block blocktype_{{ blocktype }}" id="block_{{ instance }}">
		<div class="block_title_container sub_bar">
			<h3 class="block_title subbg{% if icon %} main_icons {{ icon }}{% endif %}">
				{% if fa_icon %}<i class="{{ fa_icon }}"></i>{% endif %}
				{% if collapsible %}
					<span class="toggle_up floatright img_toggle"></span>
					<a href="#">{{ title }}</a>
				{% else %}
					{{ title }}
				{% endif %}
			</h3>
		</div>
		<div class="block_content"{% if collapsed %} style="display:none"{% endif %}>
			{{ content|raw }}
		</div>
	</div>