	<span class="pages">{{ phrase('pages') }}</span>

{# Show the "prev page" link. (>prev page< 1 ... 6 7 [8] 9 10 ... 15 next page) #}
{% if previous_page %}
	<a class="navPages previous_page" href="{{ previous_page }}"></a>
{% endif %}

{# Show the first page. (prev page >1< ... 6 7 [8] 9 10 ... 15) #}
{% if start > (num_per_page * continuous_numbers) %}
	<a class="navPages" href="{{ first_page_link }}">1</a>
{% endif %}

{# Show the ... after the first page.  (prev page 1 >...< 6 7 [8] 9 10 ... 15 next page) #}
{% if start > (num_per_page * (continuous_numbers + 1)) %}
	<span class="expand_pages"> ... </span>
{% endif %}

{# Show the pages before the current one. (prev page 1 ... >6 7< [8] 9 10 ... 15 next page) #}
{% for page, url in range_before %}
	<a class="navPages" href="{{ url }}">{{ page }}</a>
{% endfor %}

{# Show the current page. (prev page 1 ... 6 7 >[8]< 9 10 ... 15 next page) #}
{% if actually_on_current_page %}
	<span class="current_page">{{ current_page_display }}</span>
{% else %}
	<a class="navPages" href="{{ current_page_link }}">{{ current_page_display }}</a>
{% endif %}

{# Show the pages after the current one... (prev page 1 ... 6 7 [8] >9 10< ... 15 next page) #}
{% for page, url in range_after %}
	<a class="navPages" href="{{ url }}">{{ page }}</a>
{% endfor %}

{# Show the '...' part near the end. (prev page 1 ... 6 7 [8] 9 10 >...< 15 next page) #}
{% if max_index > start + (num_per_page * (continuous_numbers + 1)) %}
	<span class="expand_pages"> ... </span>
{% endif %}

{# Show the last number in the list. (prev page 1 ... 6 7 [8] 9 10 ... >15<  next page) #}
{% if max_index > start + (num_per_page * continuous_numbers) %}
	<a class="navPages" href="{{ last_page_link }}">{{max_pages}}</a>
{% endif %}

{# Show the "next page" link. (prev page 1 ... 6 7 [8] 9 10 ... 15 >next page<) #}
{% if next_page %}
	<a class="navPages next_page" href="{{ next_page }}"></a>
{% endif %}