		{{> admin_setting_dt_container config_var=config_var}}
		<dd{{#if config_var.force_div_id}} id="{{config_var.force_div_id}}_dd"{{/if}}>
			{{{config_var.preinput}}}
			<fieldset id="perms_{{config_var.name}}">
				<legend><a href="#" onclick="document.getElementById('perms_{{config_var.name}}').style.display = 'none'; document.getElementById('perms_{{config_var.name}}_groups_link').style.display = 'block'; return false;" class="toggle_up"> {{{txt.avatar_select_permission}}}</a></legend>
				<div class="information">{{{txt.permissions_option_desc}}}</div>
				<dl class="settings">
					<dt>
						<span class="perms"><strong>{{{txt.permissions_option_on}}}</strong></span>
						<span class="perms"><strong>{{{txt.permissions_option_off}}}</strong></span>
						<span class="perms red"><strong>{{{txt.permissions_option_deny}}}</strong></span>
					</dt>
					<dd>
					</dd>
					{{#each (lookup context config_var.name)}}
						<dt>
							<span class="perms"><input type="radio" name="{{../config_var.name}}[{{id}}]" value="on"{{#if (eq status 'on')}} checked{{/if}} class="input_radio"></span>
							<span class="perms"><input type="radio" name="{{../config_var.name}}[{{id}}]" value="off"{{#if (eq status 'off')}} checked{{/if}} class="input_radio"></span>
							<span class="perms"><input type="radio" name="{{../config_var.name}}[{{id}}]" value="deny"{{#if (eq status 'deny')}} checked{{/if}} class="input_radio"></span>
						</dt>
						<dd>
							<span{{#if is_postgroup}} style="font-style: italic;"{{/if}}>{{{name}}}</span>
						</dd>
					{{/each}}
				</dl>
			</fieldset>
			<a href="javascript:void(0);" onclick="document.getElementById('perms_{{config_var.name}}').style.display = 'block'; document.getElementById('perms_{{config_var.name}}_groups_link').style.display = 'none'; return false;" id="perms_{{config_var.name}}_groups_link" style="display: none;" class="toggle_down"> {{{txt.avatar_select_permission}}}</a>

			<script>
				document.getElementById('perms_{{config_var.name}}').style.display = "none";
				document.getElementById('perms_{{config_var.name}}_groups_link').style.display = "";
			</script>
			{{{config_var.postinput}}}
		</dd>