{{#if announcements}}
					<dl id="sbbAnnouncements">
	{{#each announcements}}
							<dt><a href="{{href}}">{{subject}}</a> {{{../txt.on}}} {{time}}</dt>
							<dd>{{message}}</dd>
	{{/each}}
					</dl>
{{else}}						
					{{{txt.lfyi}}}
{{/if}}
