						<div id="version_details" class="padding">
							<strong>{{txt.support_versions}}:</strong><br>
							{{txt.support_versions_forum}}:
							<em><span class="{{#if needs_update}}alert{{else}}up-to-date{{/if}}">{{forum_version}}</span></em><br>
							{{txt.support_versions_current}}:
							<em>StoryBB {{current_version}}</em>
							<br><br>

{{#each server_versions}}
							{{title}}: <em>{{version}}</em><br>
{{/each}}

						</div>