	<div class="block block_{{blocktype}}" id="block_{{instance}}">
		<div class="cat_bar">
			<h3 class="catbg{{#if icon}} main_icons {{icon}}{{/if}}">
				{{title}}
			</h3>
		</div>
		<div class="information">
			{{content}}
		</div>
	</div>