	<div class="sub_bar">
		<h4 class="subbg">
			<a href="{{scripturl}}?action=stats" title="{{txt.more_stats}}" class="main_icons stats">{{txt.forum_stats}}</a>
		</h4>
	</div>
	<p class="inline">
		{{context.common_stats.boardindex_total_posts}}{{#if settings.show_latest_member}} - {{txt.latest_member}}: <strong> {{{context.common_stats.latest_member.link}}}</strong>{{/if}}<br>
		{{#if context.latest_post}}{{txt.latest_post}}: <strong>&quot;{{{context.latest_post.link}}}&quot;</strong>  ({{{context.latest_post.time}}})<br>{{/if}}
		<a href="{{scripturl}}?action=recent">{{txt.recent_view}}</a>
	</p>