<div class="roundframe" id="info_center">
	<div class="title_bar">
		<h3 class="titlebg">
			<span class="toggle_up floatright" id="upshrink_ic" title="{{txt.hide_infocenter}}" style="display: none;"></span>
			<a href="#" id="upshrink_link">{{textTemplate txt.info_center_title context.forum_name_html_safe}}</a>
		</h3>
	</div>
	<div id="upshrinkHeaderIC"{{#if (eq options.collapse_header_ic '1')}} style="display: none;"{{/if}}>
	    {{#each context.info_center}}{{{dynamicpartial .}}}{{/each}}
	</div>
</div>
<script>
	var oInfoCenterToggle = new smc_Toggle({
		bToggleEnabled: true,
		bCurrentlyCollapsed: {{#if (eq options.collapse_header_ic '1')}}true{{else}}false{{/if}},
		aSwappableContainers: [
			'upshrinkHeaderIC'
		],
		aSwapImages: [
			{
				sId: 'upshrink_ic',
				altExpanded: {{{json txt.hide_infocenter}}},
				altCollapsed: {{{json txt.show_infocenter}}},
			}
		],
		aSwapLinks: [
			{
				sId: 'upshrink_link',
				msgExpanded: {{{json (textTemplate txt.info_center_title context.forum_name_html_safe)}}},
				msgCollapsed: {{{json (textTemplate txt.info_center_title context.forum_name_html_safe)}}},
			}
		],
		oThemeOptions: {
			bUseThemeSettings: {{#if context.user.is_guest}}false{{else}}true{{/if}},
			sOptionName: 'collapse_header_ic',
			sSessionId: sbb_session_id,
			sSessionVar: sbb_session_var,
		},
		oCookieOptions: {
			bUseCookie: {{#if context.user.is_guest}}true{{else}}false{{/if}},
			sCookieName: 'upshrinkIC'
		}
	});
</script>