			<div class="sub_bar">
				<h4 class="subbg">
					{{#if context.show_who}}<a href="{{scripturl}}?action=who">{{/if}}<span class="generic_icons people"></span> {{txt.online_users}} {{#if context.show_who}}</a>{{/if}}
				</h4>
			</div>
			<p class="inline">
				{{#if context.show_who}}<a href="{{scripturl}}?action=who">{{/if}}<strong>{{txt.online}}:</strong> {{comma context.num_guests}} {{#if (eq context.num_guests 1)}}{{txt.guest}}{{else}}{{txt.guests}}{{/if}}, {{comma context.num_users_online}} {{#if (eq context.num_users_online 1)}}{{txt.user}}{{else}}{{txt.users}}{{/if}}{{#if context.show_who}}</a>{{/if}}
				{{#if context.users_online}}
				{{textTemplate txt.users_active modSettings.lastActive}}: {{{join context.list_users_online ',&nbsp;'}}}
				{{#if (and settings.show_group_key context.membergroups)}}
				<span class="membergroups">{{{join context.membergroups ', '}}}</span>
				{{/if}}
				{{/if}}
			</p>