	<div class="verification_widget" id="verification_control_{{verify_id}}">

{{#if verify_context.empty_field}}
		<div class="smalltext vv_special">
			{{{txt.visual_verification_hidden}}}:
			<input type="text" name="{{verify_context.hidden_input_name}}" autocomplete="off" size="30" value="">
		</div>
{{/if}}

{{#if verify_context.show_visual}}
		<div class="verification_control">

	{{#if verify_context.use_graphic_library}}
			<img src="{{verify_context.image_href}}" alt="{{txt.visual_verification_description}}" id="verification_image_{{verify_id}}">
	{{else}}
			<img src="{{verify_context.image_href}};letter=1" alt="{{{txt.visual_verification_description}}}" id="verification_image_{{verify_id}}_1">
			<img src="{{verify_context.image_href}};letter=2" alt="{{{txt.visual_verification_description}}}" id="verification_image_{{verify_id}}_2">
			<img src="{{verify_context.image_href}};letter=3" alt="{{{txt.visual_verification_description}}}" id="verification_image_{{verify_id}}_3">
			<img src="{{verify_context.image_href}};letter=4" alt="{{{txt.visual_verification_description}}}" id="verification_image_{{verify_id}}_4">
			<img src="{{verify_context.image_href}};letter=5" alt="{{{txt.visual_verification_description}}}" id="verification_image_{{verify_id}}_5">
			<img src="{{verify_context.image_href}};letter=6" alt="{{{txt.visual_verification_description}}}" id="verification_image_{{verify_id}}_6">
	{{/if}}

			<div class="smalltext" style="margin: 4px 0 8px 0;">
				<a href="{{verify_context.image_href}};sound" id="visual_verification_{{verify_id}}_sound" rel="nofollow">{{{txt.visual_verification_sound}}}</a> / <a href="#visual_verification_{{verify_id}}_refresh" id="visual_verification_{{verify_id}}_refresh">{{{txt.visual_verification_request_new}}}</a><br><br>
				{{{txt.visual_verification_description}}}:<br>
				<input type="text" name="{{verify_id}}_vv[code]" value="{{{verify_context.text_value}}}" size="30" required>
			</div>
		</div>
{{/if}}

{{#if verify_context.can_recaptcha}}
		<div class="verification_control">
			<div class="g-recaptcha centertext" data-sitekey="{{verify_context.recaptcha_site_key}}" data-theme="{{verify_context.recaptcha_theme}}"></div>
			<br>
			<script type="text/javascript" src="https://www.google.com/recaptcha/api.js"></script>
		</div>
{{/if}}

	<div class="verification_control">

{{#each verify_context.questions}}
		<div class="smalltext">
			{{{q}}}:<br>
			<input type="text" name="{{{../verify_id}}}_vv[q][{{id}}]" size="30" value="{{{a}}}"{{#if is_error}} style="border: 1px red solid"{{/if}} required>
		</div>
{{/each}}

	</div>
</div>