{{#if (eq style 'tabs')}}
		<table style="margin-', $list_menu['position'], ': 10px; width: 100%;">
			<tr>{{#if (eq position 'right')}}<td>&nbsp;</td>{{/if}}
				<td class="{{position}}text">
					<table>
						<tr>
							<td class="{{#if (eq direction 'top')}}mirror{{else}}main{{/if}}tab_{{#if context.right_to_left}}last{{else}}first{{/if}}">&nbsp;</td>
							{{each links}}
								{{#if is_selected}}
							<td class="{{#if (eq direction 'top')}}mirror{{else}}main{{/if}}tab_active_{{#if context.right_to_left}}last{{else}}first{{/if}}">&nbsp;</td>
							<td class="{{#if (eq direction 'top')}}mirrortab{{else}}maintab{{/if}}_active_back">
								<a href="{{href}}">{{label}}</a>
							</td>
							<td class="{{#if (eq direction 'top')}}mirror{{else}}main{{/if}}tab_active_{{#if context.right_to_left}}first{{else}}last{{/if}}">&nbsp;</td>';
								{{else}}
							<td class="{{#if (eq direction 'top')}}mirror{{else}}main{{/if}}tab_back">
								<a href="{{href}}">{{label}}</a>
							</td>
								{{/if}}
							{{/each}}
							<td class="{{#if (eq direction 'top')}}mirror{{else}}main{{/if}}tab_{{#if context.right_to_left}}first{{else}}last{{/if}}">&nbsp;</td>
						</tr>
					</table>
				</td>{{#if (eq position 'left')}}<td>&nbsp;</td>{{/if}}
			</tr>
		</table>
{{else}}
	{{each links}}
		<table style="margin-', $list_menu['position'], ': 10px; width: 100%;">
			<tr>{{#if (eq position 'right')}}<td>&nbsp;</td>{{/if}}
				<td class="{{position}}text">
					<table>
						<tr>
							<td class="{{#if (eq direction 'top')}}mirror{{else}}main{{/if}}tab_{{#if context.right_to_left}}last{{else}}first{{/if}}">&nbsp;</td>
							<td class="{{#if (eq direction 'top')}}mirror{{else}}main{{/if}}tab_back">
								{{each links}}
									<a href="{{href}}">{{label}}</a> |
								{{/each}}
								</td>
							<td class="{{#if (eq direction 'top')}}mirror{{else}}main{{/if}}tab_{{#if context.right_to_left}}first{{else}}last{{/if}}">&nbsp;</td>
						</tr>
					</table>
				</td>{{#if (eq position 'left')}}<td>&nbsp;</td>{{/if}}
			</tr>
		</table>
{{/if}}