		{{! The mobile specific variation of this menu }}
		<a class="menu_icon mobile_generic_menu_{{context.cur_menu_id}}"></a>
		<div id="mobile_generic_menu_{{context.cur_menu_id}}" class="popup_container">
			<div class="popup_window description">
				<div class="popup_heading">{{get_text 'mobile_user_menu'}}
				<a href="javascript:void(0);" class="main_icons hide_popup"></a></div>
				{{> generic_menu}}
			</div>
		</div>
		<script>
			$( ".mobile_generic_menu_{{context.cur_menu_id}}" ).click(function() {
				$( "#mobile_generic_menu_{{context.cur_menu_id}}" ).show();
				});
			$( ".hide_popup" ).click(function() {
				$( "#mobile_generic_menu_{{context.cur_menu_id}}" ).hide();
			});
		</script>