	{{! A list of reported posts. }}
	<div class="cat_bar">
		<h3 class="catbg">
			<span id="reported_posts_toggle" class="{{#if (eq context.admin_prefs.mcrp '1')}}toggle_down{{else}}toggle_up{{/if}} floatright" style="display: none;"></span>
			<a href="{{scripturl}}?action=moderate;area=reportedposts" id="reported_posts_link">{{{txt.mc_recent_reports}}}</a>
		</h3>
	</div>
	<div class="windowbg" id="reported_posts_panel">
		<div class="modbox">
			<ul>

{{#each context.reported_posts}}
				<li>
					<span class="smalltext">{{textTemplate ../txt.mc_post_report report_link author.link}}</span>
				</li>
{{/each}}

{{#unless context.reported_posts}}
				<li>
					<strong class="smalltext">{{{txt.mc_recent_reports_none}}}</strong>
				</li>
{{/unless}}

			</ul>
		</div>
	</div>

	<script>
		var oWatchedUsersToggle = new smc_Toggle({
			bToggleEnabled: true,
			bCurrentlyCollapsed: {{#if (eq context.admin_prefs.mcrp '1')}}true{{else}}false{{/if}},
			aSwappableContainers: [
				'reported_posts_panel'
			],
			aSwapImages: [
				{
					sId: 'reported_posts_toggle',
					altExpanded: {{{json txt.hide}}},
					altCollapsed: {{{json txt.show}}}
				}
			],
			aSwapLinks: [
				{
					sId: 'reported_posts_link',
					msgExpanded: {{{json txt.mc_recent_reports}}},
					msgCollapsed: {{{json txt.mc_recent_reports}}}
				}
			],
			oThemeOptions: {
				bUseThemeSettings: true,
				sOptionName: 'admin_preferences',
				sSessionVar: sbb_session_var,
				sSessionId: sbb_session_id,
				sThemeId: '1',
				sAdditionalVars: ';admin_key=mcrp'
			}
		});
	</script>