	{{! Show the group requests that the user can see. }}
	<div class="cat_bar">
		<h3 class="catbg">
			<span id="group_requests_toggle" class="{{#if (eq context.admin_prefs.mcgr '1')}}toggle_down{{else}}toggle_up{{/if}} floatright" style="display: none;"></span>
			<a href="{{scripturl}}?action=groups;sa=requests" id="group_requests_link">{{{txt.mc_group_requests}}}</a>
		</h3>
	</div>
	<div class="windowbg" id="group_requests_panel">
		<div class="modbox">
			<ul>

{{#each context.group_requests}}
				<li class="smalltext">
					<a href="{{{request_href}}}">{{{group.name}}}</a> {{{txt.mc_groupr_by}}} {{{member.link}}}
				</li>
{{/each}}

{{#unless context.group_requests}}
				<li>
					<strong class="smalltext">{{{txt.mc_group_requests_none}}}</strong>
				</li>
{{/unless}}

			</ul>
		</div>
	</div>

	<script>
		var oGroupRequestsPanelToggle = new smc_Toggle({
			bToggleEnabled: true,
			bCurrentlyCollapsed: {{#if (eq context.admin_prefs.mcgr '1')}}true{{else}}false{{/if}},
			aSwappableContainers: [
				'group_requests_panel'
			],
			aSwapImages: [
				{
					sId: 'group_requests_toggle',
					altExpanded: {{{json txt.hide}}},
					altCollapsed: {{{json txt.show}}}
				}
			],
			aSwapLinks: [
				{
					sId: 'group_requests_link',
					msgExpanded: {{{json txt.mc_group_requests}}},
					msgCollapsed: {{{json txt.mc_group_requests}}}
				}
			],
			oThemeOptions: {
				bUseThemeSettings: true,
				sOptionName: 'admin_preferences',
				sSessionVar: sbb_session_var,
				sSessionId: sbb_session_id,
				sThemeId: '1',
				sAdditionalVars: ';admin_key=mcgr'
			}
		});
	</script>