		<dt>
			<label for="view_newest_pm_first">{{{txt.recent_pms_at_top}}}</label>
		</dt>
		<dd>
			<input type="hidden" name="default_options[view_newest_pm_first]" value="0">
			<input type="checkbox" name="default_options[view_newest_pm_first]" id="view_newest_pm_first" value="1"{{#if (eq_coerce context.member.options.view_newest_pm_first 1)}} checked{{/if}} class="input_check">
		</dd>
	</dl>
	<hr>
	<dl class="settings">
		<dt>
			<label for="pm_receive_from">{{{txt.pm_receive_from}}}</label>
		</dt>
		<dd>
			<select name="pm_receive_from" id="pm_receive_from">
				<option value="0"{{#if (or (eq_coerce context.receive_from 0) (and (eq_coerce modSettings.enable_buddylist 0) (lt context.receive_from 3)))}} selected{{/if}}>{{{txt.pm_receive_from_everyone}}}</option>

				{{#if (eq_coerce modSettings.enable_buddylist 1)}}
					<option value="1"{{#if (eq_coerce context.receive_from 1)}} selected{{/if}}>{{{txt.pm_receive_from_ignore}}}</option>
					<option value="2"{{#if (eq_coerce context.receive_from 2)}} selected{{/if}}>{{{txt.pm_receive_from_buddies}}}</option>
				{{/if}}

				<option value="3"{{#if (gt context.receive_from 2)}} selected{{/if}}>{{{txt.pm_receive_from_admins}}}</option>
			</select>
		</dd>
	</dl>
	<hr>
	<dl class="settings">
		<dt>
			<label for="pm_remove_inbox_label">{{{txt.pm_remove_inbox_label}}}</label>
		</dt>
		<dd>
			<input type="hidden" name="default_options[pm_remove_inbox_label]" value="0">
			<input type="checkbox" name="default_options[pm_remove_inbox_label]" id="pm_remove_inbox_label" value="1"{{#if (eq_coerce context.member.options.pm_remove_inbox_label 1)}} checked{{/if}} class="input_check">
		</dd>