		<dt>
			<strong id="personal_picture"><label for="avatar_upload_box">{{{txt.personal_picture}}}</label></strong>
			{{#unless (eq modSettings.gravatarOverride '1')}}
				<input type="radio" onclick="swap_avatar(this); return true;" name="avatar_choice" id="avatar_choice_none" value="none"{{#if (eq context.member.avatar.choice 'none')}} checked{{/if}}><label for="avatar_choice_none"{{#if context.form_errors.bad_avatar}} class="error"{{/if}}>{{{txt.no_avatar}}}</label>
				<br />
			{{/unless}}

			{{#if context.member.avatar.allow_external}}
				<input type="radio" onclick="swap_avatar(this); return true;" name="avatar_choice" id="avatar_choice_external" value="external"{{#if (eq context.member.avatar.choice 'external')}} checked{{/if}}><label for="avatar_choice_external"{{#if context.form_errors.bad_avatar}} class="error"{{/if}}>{{{txt.my_own_pic}}}</label>
				<br />
			{{/if}}

			{{#if context.member.avatar.allow_upload}}
				<input type="radio" onclick="swap_avatar(this); return true;" name="avatar_choice" id="avatar_choice_upload" value="upload"{{#if (eq context.member.avatar.choice 'upload')}} checked{{/if}}><label for="avatar_choice_upload"{{#if context.form_errors.bad_avatar}} class="error"{{/if}}>{{{txt.avatar_will_upload}}}</label>
				<br />
			{{/if}}

			{{#if context.member.avatar.allow_gravatar}}
				<input type="radio" onclick="swap_avatar(this); return true;" name="avatar_choice" id="avatar_choice_gravatar" value="gravatar"{{#if (eq context.member.avatar.choice 'gravatar')}} checked{{/if}}><label for="avatar_choice_gravatar"{{#if context.form_errors.bad_avatar}} class="error"{{/if}}>{{{txt.use_gravatar}}}</label>
			{{/if}}
		</dt>
		<dd>
			<div>
				<div><img id="avatar" src="{{#if (eq context.member.avatar.choice 'external')}}{{{context.member.avatar.external}}}{{else}}{{settings.images_url}}/blank.png{{/if}}" alt="Do Nothing"></div>
				<script>
					var avatar = document.getElementById("avatar");
					var cat = document.getElementById("cat");
					var selavatar = {{{json context.avatar_selected}}};
					var file = document.getElementById("file");
					var maxHeight = {{#if (gt modSettings.avatar_max_height 0)}}{{modSettings.avatar_max_height}}{{else}}0{{/if}};
					var maxWidth = {{#if (gt modSettings.avatar_max_width 0)}}{{modSettings.avatar_max_width}}{{else}}0{{/if}};

					previewExternalAvatar(avatar.src);
				</script>
			</div>

			{{! If the user can link to an off server avatar, show them a box to input the address. }}
			{{#if context.member.avatar.allow_external}}
				<div id="avatar_external">
					<div class="smalltext">{{{txt.avatar_by_url}}}</div>{{#if (eq modSettings.avatar_action_too_large 'option_download_and_resize')}}{{> max_avatar_size}}{{/if}}
					<input type="text" name="userpicpersonal" size="45" value="{{#if (eq context.character.avatar_settings.choice 'external')}}{{{context.character.avatar_settings.external}}}{{/if}}" placeholder="https://" onfocus="selectRadioByName(document.forms.creator.avatar_choice, 'external');" onchange="if (typeof(previewExternalAvatar) != 'undefined') previewExternalAvatar(this.value);">
				</div>
			{{/if}}

			{{! If the user is able to upload avatars to the server show them an upload box. }}
			{{#if context.member.avatar.allow_upload}}
				<div id="avatar_upload">
					<input type="file" size="44" name="attachment" id="avatar_upload_box" value="" onchange="readfromUpload(this)"  onfocus="selectRadioByName(document.forms.creator.avatar_choice, 'upload');" class="input_file" accept="image/gif, image/jpeg, image/jpg, image/png">{{> max_avatar_size}}
					{{#if context.member.avatar.id_attach}}<br><img src="{{{context.member.avatar.href}}}" alt="" id="attached_image"><input type="hidden" name="id_attach" value="{{context.member.avatar.id_attach}}">{{/if}}
				</div>
			{{/if}}

			{{! if the user is able to use Gravatar avatars show then the image preview }}
			{{#if context.member.avatar.allow_gravatar}}
				<div id="avatar_gravatar">
					<img src="{{{context.member.avatar.href}}}" alt="">

					{{#if (eq_coerce modSettings.gravatarAllowExtraEmail 1)}}
						<div class="smalltext">{{{txt.gravatar_alternateEmail}}}</div>
						<input type="text" name="gravatarEmail" id="gravatarEmail" size="45" value="{{#if (neq context.member.avatar.external context.member.email)}}{{{context.member.avatar.external}}}{{/if}}">
					{{else}}
						<div class="smalltext">{{{txt.gravatar_noAlternateEmail}}}</div>
					{{/if}}
				</div>
			{{/if}}

			<script>
				function swap_avatar(type)
				{
					switch(type.id)
					{
						case "avatar_choice_external":
							{{#if context.member.avatar.allow_external}}document.getElementById("avatar_external").style.display = "";{{/if}}
							{{#if context.member.avatar.allow_upload}}document.getElementById("avatar_upload").style.display = "none";{{/if}}
							{{#if context.member.avatar.allow_gravatar}}document.getElementById("avatar_gravatar").style.display = "none";{{/if}}
							break;
						case "avatar_choice_upload":
							{{#if context.member.avatar.allow_external}}document.getElementById("avatar_external").style.display = "none";{{/if}}
							{{#if context.member.avatar.allow_upload}}document.getElementById("avatar_upload").style.display = "";{{/if}}
							{{#if context.member.avatar.allow_gravatar}}document.getElementById("avatar_gravatar").style.display = "none";{{/if}}
							break;
						case "avatar_choice_none":
							{{#if context.member.avatar.allow_external}}document.getElementById("avatar_external").style.display = "none";{{/if}}
							{{#if context.member.avatar.allow_upload}}document.getElementById("avatar_upload").style.display = "none";{{/if}}
							{{#if context.member.avatar.allow_gravatar}}document.getElementById("avatar_gravatar").style.display = "none";{{/if}}
							break;
						case "avatar_choice_gravatar":
							{{#if context.member.avatar.allow_external}}document.getElementById("avatar_external").style.display = "none";{{/if}}
							{{#if context.member.avatar.allow_upload}}document.getElementById("avatar_upload").style.display = "none";{{/if}}
							{{#if context.member.avatar.allow_gravatar}}document.getElementById("avatar_gravatar").style.display = "";{{/if}}
							{{#if (eq context.member.avatar.external context.member.email)}}document.getElementById("gravatarEmail").value = "";{{/if}}
							break;
					}
				}
				swap_avatar({id: 'avatar_choice_{{{context.member.avatar.choice}}}'});
			</script>
		</dd>