		<dt>
			<strong>{{{txt.dob}}}:</strong><br>
			<span class="smalltext">{{{txt.dob_year}}} - {{{txt.dob_month}}} - {{{txt.dob_day}}}</span>
		</dt>
		<dd>
			<input type="text" name="bday3" size="4" maxlength="4" value="{{{context.member.birth_date.year}}}" class="input_text"> -
			<input type="text" name="bday1" size="2" maxlength="2" value="{{{context.member.birth_date.month}}}" class="input_text"> -
			<input type="text" name="bday2" size="2" maxlength="2" value="{{{context.member.birth_date.day}}}" class="input_text">
		</dd>