	<div class="information" id="topic_legend">
		<div class="floatright jump_to" id="message_index_jump_to"></div>

{{#unless context.no_topic_listing}}
		<ul class="topic_legend">

	{{#if modSettings.pollMode}}
			<li class="main_icons poll">{{txt.poll}}</li>
	{{/if}}

			<li class="main_icons moved_topic">{{txt.moved_topic}}</li>
			<li class="main_icons lock">{{txt.locked_topic}}</li>
			<li class="main_icons sticky">{{txt.sticky_topic}}</li>
		</ul>
{{/unless}}

{{#if context.jump_to}}
		<script>
			if (typeof(window.XMLHttpRequest) != "undefined")
				aJumpTo[aJumpTo.length] = new JumpTo({
					sContainerId: "message_index_jump_to",
					sJumpToTemplate: "<label class=\"smalltext jump_to\" for=\"%select_id%\">{{context.jump_to.label}}<" + "/label> %dropdown_list%",
					iCurBoardId: {{context.current_board}},
					iCurBoardChildLevel: {{context.jump_to.child_level}},
					sCurBoardName: "{{context.jump_to.board_name}}",
					sBoardChildLevelIndicator: "==",
					sBoardPrefix: "=> ",
					sCatSeparator: "-----------------------------",
					sCatPrefix: "",
					sGoButtonLabel: "{{txt.quick_mod_go}}"
				});
		</script>
{{/if}}

	</div>