		<div id="top_section">

{#if context.user.is_logged}}
			<ul class="floatleft" id="top_info">
				<li>
					<a href="{{scripturl}}?action=profile;area=characters" id="characters_menu_top" onclick="return false;">
					{{{user_info.ic_avatar.image}}}
					<span class="character_name">{{textTemplate txt.posting_as user_info.character_name}}</span></a>
					<div id="characters_menu" class="top_menu"></div>
				</li>
	{{#each context.sidebar}}
		{{#if (eq position 'top')}}
				<li class="navigation-item" id="btn-{{@key}}">
					<a href="{{{url}}}"{{#if label}} title="{{{label}}}"{{/if}}{{#if popup}} onclick="return reqOverlayDiv(this.href, {{{jsEscape popup}}});"{{/if}}{{#if (or popupmenu subitems)}} id="{{@key}}_menu_top"{{/if}}><i class="{{icon}}"></i>{{#if amt}}<span class="amt">{{amt}}</span>{{/if}}</a>
					{{#if popupmenu}}<div id="{{@key}}_menu" class="top_menu"></div>{{/if}}
					{{#if subitems}}
						<div id="{{@key}}_menu" class="top_menu scrollable subitems">
							<ul class="btn-subitems">
							{{#each subitems}}
								<li><a href="{{url}}">{{{title}}}{{#if (gt amt 0)}}<span class="amt">{{amt}}</span>{{/if}}</a>
							{{/each}}
							</ul>
						</div>
					{{/if}}
				</li>
		{{/if}}
	{{/each}}
			</ul>

{{else}}
			<ul class="floatleft" id="top_info">
				<li>
					<a href="{{buildlink 'login'}}">{{txt.login}}</a>
				</li>
				{{#if context.can_register}}
				<li>
					<a href="{{scripturl}}?action=signup">{{txt.register}}</a>
				</li>
				{{/if}}
			</ul>
{{/if#}

		</div>