{% if announcements %}
	<dl id="sbbAnnouncements">
	{% for item in announcements %}
		<dt><a href="{{ item.href }}">{{ item.subject }}</a> {{ phrase('on') }} {{ item.time }}</dt>
		<dd>{{ item.message }}</dd>
	{% endfor %}
	</dl>
{% else %}						
	{{ phrase('Admin:lfyi') }}
{% endif %}