<!DOCTYPE html>
<html{{#if context.right_to_left}} dir="rtl"{{/if}} lang="{{context.locale}}">
<head>
	<meta charset="UTF-8">
	{{#if modSettings.analytics_google_id}}
		{{> analytics_google ga_measurement_id=modSettings.analytics_google_id}}
	{{/if}}
	
	{{{css}}}
	{{{javascript deferred=0}}}

	<title>{{{context.page_title_html_safe}}}</title>
	<meta name="viewport" content="width=device-width, initial-scale=1">

{{#if settings.meta_theme_color}}
	<meta name="theme-color" content="{{settings.meta_theme_color}}">
{{/if}}

{{#each context.meta_tags}}
	<meta {{#if name}}name="{{name}}"{{else}}property="{{property}}"{{/if}}  content="{{content}}">
{{/each}}

	{{#if context.robot_no_index}}<meta name="robots" content="noindex">{{/if}}
	{{#if context.canonical_url}}<link rel="canonical" href="{{context.canonical_url}}">{{/if}}
	{{#if context.allow_search}}<link rel="search" href="{{scripturl}}?action=search">{{/if}}

	<link rel="help" href="{{buildlink 'help'}}">
	<link rel="contents" href="{{scripturl}}">
{{#if (eq_coerce modSettings.xmlnews_enable 1)}}
	<link rel="alternate" type="application/rss+xml" title="{{context.forum_name_html_safe}} - RSS" href="{{scripturl}}?action=.xml;type=rss2{{#if context.current_board}};board={{context.current_board}}{{/if}}">
	<link rel="alternate" type="application/atom+xml" title="{{context.forum_name_html_safe}} - Atom" href="{{scripturl}}?action=.xml;type=atom{{#if context.current_board}};board={{context.current_board}}{{/if}}">
{{/if}}
	
	{{#if context.links.next}}<link rel="next" href="{{context.links.next}}">{{/if}}
	{{#if context.links.prev}}<link rel="prev" href="{{context.links.prev}}">{{/if}}
	{{#if context.current_board_link}}<link rel="index" href="{{context.current_board_link}}">{{/if}}
	{{{context.html_headers}}}
</head>
<body id="{{context.browser_body_id}}"{{#if settings.meta_theme_color}} data-theme-color="{{settings.meta_theme_color}}"{{/if}} class="action_{{#if context.current_action}}{{context.current_action}}{{else}}{{#if context.current_board}}messageindex{{else}}{{#if context.current_topic}}display{{else}}home{{/if}}{{/if}}{{/if}}{{#if context.current_board}} board_{{context.current_board}}{{/if}}{{#if context.current_subaction}} sa-{{context.current_subaction}}{{/if}}">
	<div id="sidebar-bars">
		<i class="fa-fw fas fa-bars"></i>
	</div>
	<div id="sidebar">
		{{#each context.sidebar}}
			{{#if (eq position 'left')}}
			<div class="navigation-item" id="btn-{{@key}}">
				<a href="{{{url}}}"{{#if label}} title="{{{label}}}"{{/if}}{{#if popup}} onclick="return reqOverlayDiv(this.href, {{{jsEscape popup}}});"{{/if}}{{#if (or popupmenu subitems)}} id="{{@key}}_menu_top"{{/if}}><i class="{{icon}}"></i>{{#if amt}}<span class="amt">{{amt}}</span>{{/if}}</a>
				{{#if popupmenu}}<div id="{{@key}}_menu" class="top_menu scrollable"></div>{{/if}}
				{{#if subitems}}
					<div id="{{@key}}_menu" class="top_menu scrollable subitems">
						<ul class="btn-subitems">
						{{#each subitems}}
							<li><a href="{{url}}">{{{title}}}{{#if (gt amt 0)}}<span class="amt">{{amt}}</span>{{/if}}</a>
						{{/each}}
						</ul>
					</div>
				{{/if}}
			</div>
			{{/if}}
		{{/each}}
	</div>
	<div id="wrapper">
		<a href="" id="top"></a>
		<div id="top_section">

{{#if context.user.is_logged}}
			<ul class="floatleft" id="top_info">
				<li>
					<a href="{{scripturl}}?action=profile;area=characters" id="characters_menu_top" onclick="return false;">
					{{{user_info.ic_avatar.image}}}
					<span class="character_name">{{textTemplate txt.posting_as user_info.character_name}}</span></a>
					<div id="characters_menu" class="top_menu"></div>
				</li>
	{{#each context.sidebar}}
		{{#if (eq position 'top')}}
				<li class="navigation-item" id="btn-{{@key}}">
					<a href="{{{url}}}"{{#if label}} title="{{{label}}}"{{/if}}{{#if popup}} onclick="return reqOverlayDiv(this.href, {{{jsEscape popup}}});"{{/if}}{{#if (or popupmenu subitems)}} id="{{@key}}_menu_top"{{/if}}><i class="{{icon}}"></i>{{#if amt}}<span class="amt">{{amt}}</span>{{/if}}</a>
					{{#if popupmenu}}<div id="{{@key}}_menu" class="top_menu"></div>{{/if}}
					{{#if subitems}}
						<div id="{{@key}}_menu" class="top_menu scrollable subitems">
							<ul class="btn-subitems">
							{{#each subitems}}
								<li><a href="{{url}}">{{{title}}}{{#if (gt amt 0)}}<span class="amt">{{amt}}</span>{{/if}}</a>
							{{/each}}
							</ul>
						</div>
					{{/if}}
				</li>
		{{/if}}
	{{/each}}
			</ul>

{{else}}
			<ul class="floatleft" id="top_info">
				<li>
					<a href="{{buildlink 'login'}}">{{txt.login}}</a>
				</li>
				{{#if context.can_register}}
				<li>
					<a href="{{scripturl}}?action=signup">{{txt.register}}</a>
				</li>
				{{/if}}
			</ul>
{{/if}}

		</div><!-- #top_section -->
	
		<header>
			<h1 class="forumtitle">
				<a href="{{scripturl}}">

{{#if context.header_logo_url_html_safe}}
					<img src="{{{context.header_logo_url_html_safe}}}" alt="{{{context.forum_name_html_safe}}}">
{{else}}
					{{{context.forum_name_html_safe}}}
{{/if}}
				</a>
			</h1>
		</header>
		<div id="content_wrapper">
			<div id="upper_section">
				<div id="inner_section">
					{{> linktree}}
				</div>
			</div>
			<div id="content_section">
				<div id="main_content_section">

{{#if (and context.in_maintenance context.user.is_admin)}}
					<div class="errorbox">
						<dl>
							<dt>
								<strong id="error_serious">{{txt.forum_in_maintenance}}</strong>
							</dt>
							<dd class="error" id="error_list">
								{{txt.maintenance_page}}
							</dd>
						</dl>
					</div>
{{/if}}

					<div class="block-container">{{!
						}}{{block_region 'before-content'}}{{!
							 }}<div class="block-middle">{{block_region 'left-sidebar'}}{{!
								}}<div class="block-inner">{{block_region 'above-content'}}{{!
									}}{{>status_messages}}{{!
									}}<aside class="main-body-content">{{{content}}}</aside>{{!
								}}{{block_region 'below-content'}}</div>{{!
							}}{{block_region 'right-sidebar'}}</div>{{!
						}}{{block_region 'after-content'}}{{!
					}}</div>
				</div>
			</div>
		</div><!-- #content_wrapper -->
		
		<footer>
			<ul>
				<li class="contact">
					<a href="{{buildlink 'contact'}}">{{{txt.contact_us}}}</a>
				</li>
				<li class="help">
					<a href="{{buildlink 'help'}}">{{txt.help}}</a>
				</li>
			
{{#each context.footer_links}}
				<li>
					<a href="{{{link}}}">{{{title}}}</a>
				</li>
{{/each}}

				<li class="copyright">{{{copyright}}}</li>

{{#if debug}}
				<li class="debug">Debug</li>
{{/if}}
			</ul>

			<div class="jump_buttons" style="display: none;">
				<a href="#top" title="{{txt.go_up}}" class="go_up"></a>
				<a href="#bottom" title="{{txt.go_down}}" class="go_down"></a>
			</div>
		</footer>

		<a href="" id="bottom"></a>

	</div><!-- #wrapper -->

	{{{javascript deferred=1}}}
	{{> cookie_footer}}
</body>
</html>