<!DOCTYPE html>
<html{{#if context.right_to_left}} dir="rtl"{{/if}} lang="{{context.locale}}">
<head>
	<meta charset="UTF-8">
	{{#if modSettings.analytics_google_id}}
		{{> analytics_google ga_measurement_id=modSettings.analytics_google_id}}
	{{/if}}
	
	{{{css}}}
	{{{javascript deferred=0}}}

	<title>{{context.page_title_html_safe}}</title>
	<meta name="viewport" content="width=device-width, initial-scale=1">

{{#if settings.meta_theme_color}}
	<meta name="theme-color" content="{{settings.meta_theme_color}}">
{{/if}}

{{#each context.meta_tags}}
	<meta {{#if name}}name="{{name}}"{{else}}property="{{property}}"{{/if}}  content="{{content}}">
{{/each}}

	{{#if context.robot_no_index}}<meta name="robots" content="noindex">{{/if}}
	{{#if context.canonical_url}}<link rel="canonical" href="{{context.canonical_url}}">{{/if}}
	{{#if context.allow_search}}<link rel="search" href="{{scripturl}}?action=search">{{/if}}

	<link rel="help" href="{{buildlink 'help'}}">
	<link rel="contents" href="{{scripturl}}">
{{#if (eq_coerce modSettings.xmlnews_enable 1)}}
	<link rel="alternate" type="application/rss+xml" title="{{context.forum_name_html_safe}} - {{txt.rss}}" href="{{scripturl}}?action=.xml&amp;type=rss2{{#if context.current_board}};board={{context.current_board}}{{/if}}">
	<link rel="alternate" type="application/atom+xml" title="{{context.forum_name_html_safe}} - {{txt.atom}}" href="{{scripturl}}?action=.xml&amp;type=atom{{#if context.current_board}};board={{context.current_board}}{{/if}}">
{{/if}}
	
	{{#if context.links.next}}<link rel="next" href="{{context.links.next}}">{{/if}}
	{{#if context.links.prev}}<link rel="prev" href="{{context.links.prev}}">{{/if}}
	{{#if context.current_board}}<link rel="index" href="{{scripturl}}?board={{context.current_board}}.0">{{/if}}
	{{{context.html_headers}}}
</head>
<body id="{{context.browser_body_id}}" class="action_{{#if context.current_action}}{{context.current_action}}{{else}}{{#if context.current_board}}messageindex{{else}}{{#if context.current_topic}}display{{else}}home{{/if}}{{/if}}{{/if}}{{#if context.current_board}}board_{{context.current_board}}{{/if}}">
	<div id="sidebar-bars">
		<i class="fa-fw fas fa-bars"></i>
	</div>
	<div id="sidebar">
		{{#each context.sidebar}}
			{{#if (eq position 'left')}}
			<div class="navigation-item" id="btn-{{@key}}">
				<a href="{{{url}}}"{{#if popup}} onclick="return reqOverlayDiv(this.href, {{{jsEscape popup}}});"{{/if}}{{#if (or popupmenu subitems)}} id="{{@key}}_menu_top"{{/if}}><i class="{{icon}}"></i>{{#if amt}}<span class="amt">{{amt}}</span>{{/if}}</a>
				{{#if popupmenu}}<div id="{{@key}}_menu" class="top_menu scrollable"></div>{{/if}}
				{{#if subitems}}
					<div id="{{@key}}_menu" class="top_menu scrollable subitems">
						<ul class="btn-subitems">
						{{#each subitems}}
							<li><a href="{{url}}">{{{title}}}{{#if (gt amt 0)}}<span class="amt">{{amt}}</span>{{/if}}</a>
						{{/each}}
						</ul>
					</div>
				{{/if}}
			</div>
			{{/if}}
		{{/each}}
	</div>
	<div id="wrapper">
		<a href="" id="top"></a>
		<div id="top_section">

{{#if context.user.is_logged}}
			<ul class="floatleft" id="top_info">
				<li>
					<a href="{{scripturl}}?action=profile"{{#if context.self_profile}} class="active"{{/if}} id="profile_menu_top" onclick="return false;">
						{{{user_info.ooc_avatar.image}}}
						<span class="username">{{context.user.name}}</span>
					</a>
					<div id="profile_menu" class="top_menu"></div>
				</li>{{! Forcing no whitespace here to make the CSS behave nicely.
			}}<li>
					<a href="{{scripturl}}?action=profile;area=characters" id="characters_menu_top" onclick="return false;">
					{{{user_info.ic_avatar.image}}}
					<span class="character_name">{{textTemplate txt.posting_as user_info.character_name}}</span></a>
					<div id="characters_menu" class="top_menu"></div>
				</li>
	{{#each context.sidebar}}
		{{#if (eq position 'top')}}
				<li class="navigation-item" id="btn-{{@key}}">
					<a href="{{{url}}}"{{#if popup}} onclick="return reqOverlayDiv(this.href, {{{jsEscape popup}}});"{{/if}}{{#if (or popupmenu subitems)}} id="{{@key}}_menu_top"{{/if}}><i class="{{icon}}"></i>{{#if amt}}<span class="amt">{{amt}}</span>{{/if}}</a>
					{{#if popupmenu}}<div id="{{@key}}_menu" class="top_menu scrollable"></div>{{/if}}
					{{#if subitems}}
						<div id="{{@key}}_menu" class="top_menu scrollable subitems">
							<ul class="btn-subitems">
							{{#each subitems}}
								<li><a href="{{url}}">{{{title}}}{{#if (gt amt 0)}}<span class="amt">{{amt}}</span>{{/if}}</a>
							{{/each}}
							</ul>
						</div>
					{{/if}}
				</li>
		{{/if}}
	{{/each}}
			</ul>

{{else}}
			<ul class="floatleft" id="top_info">
				<li>
					<a href="{{buildlink 'login'}}">{{txt.login}}</a>
				</li>
				{{#if context.can_register}}
				<li>
					<a href="{{scripturl}}?action=signup">{{txt.register}}</a>
				</li>
				{{/if}}
			</ul>
{{/if}}
		
{{#if context.allow_search}}
	<!--<div id="btn-search" class="floatright">
		<a href="{{scripturl}}?action=search" id="search_menu_top"><i class="fas fa-search fa-fq"></i></a>
		<div id="search_menu" class="top_menu scrollable subitems">
			<form id="search_form" action="{{scripturl}}?action=search2" method="post" accept-charset="UTF-8">
				<input type="search" name="search" value="">
				<select name="search_selection">
					<option value="all">{{txt.search_entireforum}}</option>
		{{#if context.current_topic}}
					<option value="topic" selected="selected">{{txt.search_thistopic}}</option>
		{{/if}}
		{{#if context.current_board}}
					<option value="board" selected="selected">{{txt.search_thisbrd}}</option>
		{{/if}}
				</select>
		{{#if context.current_topic}}
				<input type="hidden" name="sd_topic" value="{{context.current_topic}}">
		{{/if}}
		{{#if context.current_board}}
				<input type="hidden" name="sd_brd" value="{{context.current_board}}">
		{{/if}}
				<button type="submit" name="search2" value="search2" class="button">{{txt.search}}</button>
				<input type="hidden" name="advanced" value="0">
			</form>
		</div>
	</div>-->

{{/if}}
		</div><!-- #top_section -->
	
		<header>
			<h1 class="forumtitle">
				<a href="{{scripturl}}">

{{#if context.header_logo_url_html_safe}}
					<img src="{{context.header_logo_url_html_safe}}" alt="{{context.forum_name_html_safe}}">
{{else}}
					{{context.forum_name_html_safe}}
{{/if}}
				</a>
			</h1>
		</header>
		<div id="content_wrapper">
			<div id="upper_section">
				<div id="inner_section">
					{{> linktree}}
				</div>
			</div>
			<div id="content_section">
				<div id="main_content_section">

{{#if (and context.in_maintenance context.user.is_admin)}}
					<div class="errorbox">
						<dl>
							<dt>
								<strong id="error_serious">{{txt.forum_in_maintenance}}</strong>
							</dt>
							<dd class="error" id="error_list">
								{{textTemplate txt.maintenance_page (concat scripturl '?action=admin;area=serversettings;' context.session_var '=' context.session_id)}}
							</dd>
						</dl>
					</div>
{{/if}}
						{{>status_messages}}
						{{{content}}}

						{{block_region 'after-content'}}
				</div>
			</div>
		</div><!-- #content_wrapper -->
		
		<footer>
			<ul>
				<li class="contact">
					<a href="{{scripturl}}?action=contact">{{{txt.contact_us}}}</a>
				</li>
				<li class="help">
					<a href="{{scripturl}}?action=help">{{txt.help}}</a>
				</li>
			
{{#each context.footer_links}}
				<li>
					<a href="{{{link}}}">{{{title}}}</a>
				</li>
{{/each}}

				<li class="copyright">{{{copyright}}}</li>

{{#if debug}}
				<li class="debug">Debug</li>
{{/if}}
			</ul>

			<div class="jump_buttons" style="display: none;">
				<a href="#top" title="{{txt.go_up}}" class="go_up"></a>
				<a href="#bottom" title="{{txt.go_down}}" class="go_down"></a>
			</div>
		</footer>

		<a href="" id="bottom"></a>

	</div><!-- #wrapper -->

	{{{javascript deferred=1}}}
	{{> cookie_footer}}
</body>
</html>