{#
{{! The cookie footer notice }}
{{#if context.show_cookie_notice}}
	<div id="cookie_footer">
		<div class="cookie_content">
			{{{txt.cookie_notice_1}}}<br>
			{{{txt.cookie_notice_2}}}<br>
			<div class="cookie_buttons">
				<a href="{{scripturl}}?action=cookie" data-value="cookies" class="button">{{{txt.cookie_notice_accept}}}</a>
				<a href="{{buildlink 'help_policy' policy='cookies'}}" class="button">{{{txt.cookie_notice_more_info}}}</a>
			</div>
		</div>
	</div>
{{/if}}
#}