	{{! Edit a policy. }}
	<div class="cat_bar">
		<h3 class="catbg">{{{txt.admin_policies}}}</h3>
	</div>
	<form action="{{scripturl}}?action=admin;area=regcenter;sa=policies" method="post" accept-charset="UTF-8">
		<div class="roundframe">
			<dl class="register_form">
				<dt>{{{txt.policy_type}}}:</dt>
				<dd>{{get_text 'policy_type_' context.policy.policy_type}}</dd>
				<dt><label for="policy_name">{{{txt.policy_name}}}:</label></dt>
				<dd><input type="text" id="policy_name" name="policy_name" class="input_text" value="{{{context.policy_version.title}}}" required></dd>
				<dt><label for="policy_desc">{{{txt.policy_desc}}}:</label></dt>
				<dd><textarea id="policy_desc" name="policy_desc">{{{context.policy_version.description}}}</textarea></dd>
			</dl>
			<hr>
			<dl class="register_form">
				<dt><label for="show_reg">{{{txt.policy_show_reg}}}:</label></dt>
				<dd><input type="checkbox" value="1" id="show_reg" name="show_reg"{{#if (eq context.policy.show_reg '1')}} checked{{/if}}></dd>
				<dt><label for="show_help">{{{txt.policy_show_help}}}:</label></dt>
				<dd><input type="checkbox" value="1" id="show_help" name="show_help"{{#if (eq context.policy.show_help '1')}} checked{{/if}}></dd>
			</dl>
			<hr>
			<dl class="register_form">
				<dt>{{{txt.last_updated}}}:</dt>
				<dd>{{{context.policy_version.last_change_format}}}</dd>
				<dt>{{{txt.policy_text}}}</dt>
				<dd>{{{richtexteditor 'message' '' 'bbcBox'}}}</dd>
			</dl>
			{{#if (eq context.policy.require_acceptance '1')}}
				<hr>
				<dl class="register_form">
					<dt>
						<label for="policy_reagree">{{{txt.policy_reagree}}}</label>
						<div class="smalltext">{{{txt.policy_reagree_desc}}}</div>
					</dt>
					<dd>
						<input type="checkbox" id="policy_reagree" name="policy_reagree" value="1" checked>
					</dd>
					<dt>
						<label for="policy_edit">{{{txt.policy_edit}}}</label>
						<div class="smalltext">{{{txt.policy_edit_desc}}}</div>
					</dt>
					<dd>
						<textarea name="policy_edit" id="policy_edit"></textarea>
					</dd>
				</dl>
			{{/if}}
			<hr>
			<input type="submit" class="button_submit" name="save" value="{{{txt.save}}}">
		</div>
		<input type="hidden" name="policy" value="{{context.policy_id}}">
		<input type="hidden" name="lang" value="{{context.policy_language}}">
		{{session_form}}
		{{token_form context.policy_token}}
	</form>