	{{! Viewing the members of a group. }}
	<div id="admincenter">
		<form action="{{scripturl}}?action={{context.current_action}}{{#if context.admin_area}};area={{context.admin_area}}{{/if}};sa=members;group={{context.group.id}}" method="post" accept-charset="UTF-8" id="view_group">
			<div class="cat_bar">
				<h3 class="catbg">{{{context.page_title}}}</h3>
			</div>
			<div class="windowbg2">
				<dl class="settings">
					<dt>
						<strong>{{{txt.name}}}:</strong>
					</dt>
					<dd>
						<span {{#if context.group.online_color}} style="color: {{context.group.online_color}};"{{/if}}>{{{context.group.name}}}</span> {{{context.group.icons}}}
					</dd>

					{{! Any description to show? }}
					{{#if context.group.description}}
					<dt>
						<strong>{{{txt.membergroups_members_description}}}:</strong>
					</dt>
					<dd>
						{{{context.group.description}}}
					</dd>
					{{/if}}

					<dt>
						<strong>{{{txt.membergroups_members_top}}}:</strong>
					</dt>
					<dd>
						{{{context.total_members}}}
					</dd>

					{{! Any group moderators to show? }}
					{{#if context.group.moderators}}
					<dt>
						<strong>', $txt['membergroups_members_group_moderators'], ':</strong>
					</dt>
					<dd>
						{{{join context.group.moderators_formatted ', '}}}
					</dd>
					{{/if}}

				</dl>
			</div>

			<br>
			<div class="cat_bar">
				<h3 class="catbg">{{{txt.membergroups_members_group_members}}}</h3>
			</div>
			<br>
			<div class="pagesection">{{{context.page_index}}}</div>
			<table class="table_grid">
				<thead>
					<tr class="title_bar">
						<th><a href="{{scripturl}}?action={{context.current_action}}{{#if context.admin_area}};area={{context.admin_area}}{{/if}};sa=members;start={{context.start}};sort=name{{#if (and (eq context.sort_by 'name') (eq context.sort_direction 'up'))}};desc{{/if}};group={{context.group.id}}">{{{txt.name}}}{{#if (eq context.sort_by 'name')}} <span class="generic_icons sort_{{context.sort_direction}}"></span>{{/if}}</a></th>

						{{#if (eq context.group.is_character '1')}}
						<th>{{{txt.character_name_title}}}</th>
						{{/if}}

						{{#if context.can_send_email}}
						<th><a href="{{scripturl}}?action={{context.current_action}}{{#if context.admin_area}};area={{context.admin_area}}{{/if}};sa=members;start={{context.start}};sort=email{{#if (and (eq context.sort_by 'email') (eq context.sort_direction 'up'))}};desc{{/if}};group={{context.group.id}}">{{{txt.email}}}{{#if (eq context.sort_by 'email')}} <span class="generic_icons sort_{{context.sort_direction}}"></span>{{/if}}</a></th>
						{{/if}}

						<th><a href="{{scripturl}}?action={{context.current_action}}{{#if context.admin_area}};area={{context.admin_area}}{{/if}};sa=members;start={{context.start}};sort=active{{#if (and (eq context.sort_by 'active') (eq context.sort_direction 'up'))}};desc{{/if}};group={{context.group.id}}">{{{txt.membergroups_members_last_active}}}{{#if (eq context.sort_by 'active')}} <span class="generic_icons sort_{{context.sort_direction}}"></span>{{/if}}</a></th>

						<th><a href="{{scripturl}}?action={{context.current_action}}{{#if context.admin_area}};area={{context.admin_area}}{{/if}};sa=members;start={{context.start}};sort=registered{{#if (and (eq context.sort_by 'registered') (eq context.sort_direction 'up'))}};desc{{/if}};group={{context.group.id}}">{{{txt.date_registered}}}{{#if (eq context.sort_by 'registered')}} <span class="generic_icons sort_{{context.sort_direction}}"></span>{{/if}}</a></th>

						<th{{#unless context.group.assignable}} colspan="2"{{/unless}}><a href="{{scripturl}}?action={{context.current_action}}{{#if context.admin_area}};area={{context.admin_area}}{{/if}};sa=members;start={{context.start}};sort=posts{{#if (and (eq context.sort_by 'posts') (eq context.sort_direction 'up'))}};desc{{/if}};group={{context.group.id}}">{{{txt.posts}}}{{#if (eq context.sort_by 'posts')}} <span class="generic_icons sort_{{context.sort_direction}}"></span>{{/if}}</a></th>

						{{#if context.group.assignable}}
						<th style="width: 4%"><input type="checkbox" class="input_check" onclick="invertAll(this, this.form);"></th>
						{{/if}}
					</tr>
				</thead>
				<tbody>

					{{#unless context.members}}
					<tr class="windowbg">
						<td colspan="{{#if (eq context.group.is_character '1')}}7{{else}}6{{/if}}">{{{txt.membergroups_members_no_members}}}</td>
					</tr>
					{{/unless}}

					{{#each context.members}}
					<tr class="windowbg">
						<td>{{{name}}}</td>
						{{#if character}}
							<td>{{{character}}}</td>
						{{/if}}
						{{#if ../context.can_send_email}}
							<td>
								<a href="mailto:{{{email}}}">{{{email}}}</a>
							</td>
						{{/if}}
						<td>{{{last_online}}}</td>
						<td>{{{registered}}}</td>
						{{#if ../context.group.assignable}}
							<td>{{{posts}}}</td>
							{{#if (eq ../context.group.is_character '1')}}
								<td style="width:4%"><input type="checkbox" name="rem[]" value="{{id_character}}" class="input_check"></td>
							{{else}}
								<td style="width: 4%"><input type="checkbox" name="rem[]" value="{{id}}" class="input_check"{{#if (and (eq_coerce ../context.user.id id) (eq_coerce ../context.group.id 1))}} onclick="if (this.checked) return confirm('{{{../txt.membergroups_members_deadmin_confirm}}}')"{{/if}}></td>
							{{/if}}
						{{else}}
							<td colspan="2">{{{posts}}}</td>
						{{/if}}
					</tr>
					{{/each}}

				</tbody>
			</table>

			{{#if context.group.assignable}}
			<div class="floatright">
				<input type="submit" name="remove" value="{{{txt.membergroups_members_remove}}}" class="button_submit">
			</div>
			{{/if}}

			<div class="pagesection flow_hidden">
				<div class="floatleft">{{{context.page_index}}}</div>
			</div>
			<br>

			{{#if context.group.assignable}}
			<div class="cat_bar">
				<h3 class="catbg">{{{txt.membergroups_members_add_title}}}</h3>
			</div>
			<div class="windowbg2">
				<dl class="settings">
					<dt>
						<strong><label for="toAdd">{{{txt.membergroups_members_add_desc}}}:</label></strong>
					</dt>
					<dd>
						<input type="text" name="toAdd" id="toAdd" value="" class="input_text">
						<div id="toAddItemContainer"></div>
					</dd>
				</dl>
				<input type="submit" name="add" value="{{{txt.membergroups_members_add}}}" class="button_submit">
			</div>
			{{/if}}

			{{session_form}}
			{{token_form 'mod-mgm'}}
		</form>
	</div>

	{{#if context.group.assignable}}
		<script>
			var oAddMemberSuggest = new smc_AutoSuggest({
				sSelf: 'oAddMemberSuggest',
				sSessionId: sbb_session_id,
				sSessionVar: sbb_session_var,
				sSuggestId: 'to_suggest',
				sControlId: 'toAdd',
				sItemTemplate: '<input type="hidden" name="%post_name%[]" value="%item_id%"><a href="%item_href%" class="extern" onclick="window.open(this.href, \'_blank\', \'noopener\'); return false;">%item_name%</a>&nbsp;<span class="generic_icons delete" title="%delete_text%" onclick="return %self%.deleteAddedItem(\'%item_id%\');"></span>',
				sSearchType: '{{#if (eq context.group.is_character '1')}}character{{else}}member{{/if}}',
				sPostName: 'member_add',
				sURLMask: 'action=profile;u=%item_id%',
				sTextDeleteItem: {{{json txt.autosuggest_delete_item}}},
				bItemList: true,
				sItemListContainerId: 'toAddItemContainer'
			});
		</script>
	{{/if}}