	{{! Cleaning up old topics }}
	<script>
		var rotSwap = false;
		function swapRot()
		{
			rotSwap = !rotSwap;

			// Toggle icon
			document.getElementById("rotIcon").src = sbb_images_url + (rotSwap ? "/selected_open.png" : "/selected.png");
			setInnerHTML(document.getElementById("rotText"), rotSwap ? {{{json txt.maintain_old_choose}}} : {{{json txt.maintain_old_all}}});

			// Toggle panel
			$("#rotPanel").slideToggle(300);

			// Toggle checkboxes
			var rotPanel = document.getElementById('rotPanel');
			var oBoardCheckBoxes = rotPanel.getElementsByTagName('input');
			for (var i = 0; i < oBoardCheckBoxes.length; i++)
			{
				if (oBoardCheckBoxes[i].type.toLowerCase() == "checkbox")
					oBoardCheckBoxes[i].checked = !rotSwap;
			}
		}
	</script>

	<div id="manage_maintenance">
		<div class="cat_bar">
			<h3 class="catbg">{{{txt.maintain_old}}}</h3>
		</div>
		<div class="windowbg noup">
			<div class="flow_auto">
				<form action="{{scripturl}}?action=admin;area=maintain;sa=topics;activity=pruneold" method="post" accept-charset="UTF-8">

					{{! The otherwise hidden "choose which boards to prune". }}
					<p>
						<a id="rotLink"></a>{{{txt.maintain_old_since_days1}}}<input type="number" name="maxdays" value="30" size="3">{{{txt.maintain_old_since_days2}}}
					</p>
					<p>
						<label for="delete_type_nothing">
							<input type="radio" name="delete_type" id="delete_type_nothing" value="nothing">
							{{{txt.maintain_old_nothing_else}}}
						</label><br>
						<label for="delete_type_moved">
							<input type="radio" name="delete_type" id="delete_type_moved" value="moved" checked>
							{{{txt.maintain_old_are_moved}}}
						</label><br>
						<label for="delete_type_locked">
							<input type="radio" name="delete_type" id="delete_type_locked" value="locked">
							{{{txt.maintain_old_are_locked}}}
						</label><br>
					</p>
					<p>
						<label for="delete_old_not_sticky">
							<input type="checkbox" name="delete_old_not_sticky" id="delete_old_not_sticky" checked>
							{{{txt.maintain_old_are_not_stickied}}}
						</label><br>
					</p>
					<p>
						<a href="#rotLink" onclick="swapRot();">
							<img src="{{{settings.images_url}}}/selected.png" alt="+" id="rotIcon">
						</a>
						<a href="#rotLink" onclick="swapRot();" id="rotText" style="font-weight: bold;">{{{txt.maintain_old_all}}}</a>
					</p>
					<div style="display: none;" id="rotPanel" class="flow_hidden">
						<div class="floatleft" style="width: 49%">

{{#each context.split_categories}}
	{{#each .}}
							<fieldset>
								<legend>{{{name}}}</legend>
								<ul>
		{{#each boards}}
									<li style="margin-{{#if context.right_to_left}}right{{else}}left{{/if}}: {{mul child_level 1.5}}em;">
										<label for="boards_{{id}}">
											<input type="checkbox" name="boards[{{id}}]" id="boards_{{id}}" checked>{{{name}}}
										</label>
									</li>
		{{/each}}
								</ul>
							</fieldset>
	{{/each}}

	{{#if (eq @index 0)}}
							</div>
							<div class="floatright" style="width: 49%;">
	{{/if}}
{{/each}}

						</div>
					</div>
					<input type="submit" value="{{{txt.maintain_old_remove}}}" data-confirm="{{{txt.maintain_old_confirm}}}" class="button_submit you_sure">
					{{session_form}}
					{{token_form 'admin-maint'}}
				</form>
			</div>
		</div>

		<div class="cat_bar">
			<h3 class="catbg">{{{txt.maintain_old_drafts}}}</h3>
		</div>
		<div class="windowbg noup">
			<form action="{{scripturl}}?action=admin;area=maintain;sa=topics;activity=olddrafts" method="post" accept-charset="UTF-8">
				<p>
					{{{txt.maintain_old_drafts_days}}}&nbsp;<input type="number" name="draftdays" value="{{#if modSettings.drafts_keep_days}}{{modSettings.drafts_keep_days}}{{else}}30{{/if}}" size="3">&nbsp;{{{txt.days_word}}}
				</p>
				<input type="submit" value="{{{txt.maintain_old_remove}}}" data-confirm="{{{txt.maintain_old_drafts_confirm}}}" class="button_submit you_sure">

				{{session_form}}
				{{token_form 'admin-maint'}}
			</form>
		</div>
		<div class="cat_bar">
			<h3 class="catbg">{{{txt.move_topics_maintenance}}}</h3>
		</div>
		<div class="windowbg noup">
			<form action="{{scripturl}}?action=admin;area=maintain;sa=topics;activity=massmove" method="post" accept-charset="UTF-8">
				<p><label for="id_board_from">{{{txt.move_topics_from}}}</label>
				<select name="id_board_from" id="id_board_from">
					<option disabled>({{{txt.move_topics_select_board}}})</option>

{{! Moving from this board }}
{{#each context.categories}}
					<optgroup label="{{{name}}}">
	{{#each boards}}
						<option value="{{{id}}}"> {{repeat '==' child_level}}=&gt;&nbsp;{{{name}}}</option>
	{{/each}}
					</optgroup>
{{/each}}
				</select>
				<label for="id_board_to">{{{txt.move_topics_to}}}</label>
				<select name="id_board_to" id="id_board_to">
					<option disabled>({{{txt.move_topics_select_board}}})</option>

{{! Moving to this board }}
{{#each context.categories}}
					<optgroup label="{{{name}}}">
	{{#each boards}}
						<option value="{{{id}}}"> {{repeat '==' child_level}}=&gt;&nbsp;{{{name}}}</option>
	{{/each}}
					</optgroup>
{{/each}}
				</select></p>
				<p>
					{{{txt.move_topics_older_than}}}<input type="number" name="maxdays" value="30" size="3">{{{txt.manageposts_days}}}&nbsp;({{{txt.move_zero_all}}})
				</p>
				<p>
					<label for="move_type_locked">
						<input type="checkbox" name="move_type_locked" id="move_type_locked" checked>
						{{{txt.move_type_locked}}}
					</label><br>
					<label for="move_type_sticky">
						<input type="checkbox" name="move_type_sticky" id="move_type_sticky">
						{{{txt.move_type_sticky}}}
					</label><br>
				</p>
				<input type="submit" value="{{{txt.move_topics_now}}}" onclick="if (document.getElementById('id_board_from').options[document.getElementById('id_board_from').selectedIndex].disabled || document.getElementById('id_board_from').options[document.getElementById('id_board_to').selectedIndex].disabled) return false; var confirmText = '{{{txt.move_topics_confirm}}}'; return confirm(confirmText.replace(/%board_from%/, document.getElementById('id_board_from').options[document.getElementById('id_board_from').selectedIndex].text.replace(/^=+&gt;&nbsp;/, '')).replace(/%board_to%/, document.getElementById('id_board_to').options[document.getElementById('id_board_to').selectedIndex].text.replace(/^=+&gt;&nbsp;/, '')));" class="button_submit">
				{{session_form}}
				{{token_form 'admin-maint'}}
			</form>
		</div>
	</div>