	{{! Add or edit a search engine spider. }}
	<div id="admincenter">
		<form id="admin_form_wrapper" action="{{scripturl}}?action=admin;area=sengines;sa=editspiders;sid={{context.spider.id}}" method="post" accept-charset="UTF-8">
			<div class="cat_bar">
				<h3 class="catbg">{{{context.page_title}}}</h3>
			</div>
			<div class="information noup">
				{{{txt.add_spider_desc}}}
			</div>
			<div class="windowbg2 noup">
				<dl class="settings">
					<dt>
						<strong><label for="spider_name">{{{txt.spider_name}}}:</label></strong><br>
						<span class="smalltext">{{{txt.spider_name_desc}}}</span>
					</dt>
					<dd>
						<input type="text" name="spider_name" id="spider_name" value="{{{context.spider.name}}}">
					</dd>
					<dt>
						<strong><label for="spider_agent">{{{txt.spider_agent}}}:</label></strong><br>
						<span class="smalltext">{{{txt.spider_agent_desc}}}</span>
					</dt>
					<dd>
						<input type="text" name="spider_agent" id="spider_agent" value="{{{context.spider.agent}}}">
					</dd>
					<dt>
						<strong><label for="spider_ip">{{{txt.spider_ip_info}}}:</label></strong><br>
						<span class="smalltext">{{{txt.spider_ip_info_desc}}}</span>
					</dt>
					<dd>
						<textarea name="spider_ip" id="spider_ip" rows="4" cols="20">{{{context.spider.ip_info}}}</textarea>
					</dd>
				</dl>
				<hr>
				<input type="submit" name="save" value="{{{context.page_title}}}" class="button_submit">
				{{session_form}}
				{{token_form 'admin-ses'}}
			</div>
		</form>
	</div>