	<div id="manage_attachments">
		<form id="admin_form_wrapper" action="{{scripturl}}?action=admin;area=manageattachments;sa=repair;fixErrors=1;step=0;substep=0;{{session_url}}" method="post" accept-charset="UTF-8">
			<div class="cat_bar">
				<h3 class="catbg">{{{txt.repair_attachments}}}</h3>
			</div>
			<div class="windowbg noup">
				<p>{{{txt.repair_attachments_error_desc}}}</p>

{{#each context.repair_errors}}
	{{#if (gt . '0')}}
					<input type="checkbox" name="to_fix[]" id="{{@key}}" value="{{@key}}">
					<label for="{{@key}}">{{textTemplate (get_text (concat 'attach_repair_' @key)) .}}</label><br>
	{{/if}}
{{/each}}
				<br>
				<input type="submit" value="{{{txt.repair_attachments_continue}}}" class="button_submit">
				<input type="submit" name="cancel" value="{{{txt.repair_attachments_cancel}}}" class="button_submit">
			</div>
		</form>
	</div>