	{{! Editing scheduled tasks}}
	<div id="admincenter">
		<form action="{{scripturl}}?action=admin;area=scheduledtasks;sa=taskedit;save;tid={{context.task.id}}" method="post" accept-charset="UTF-8">
			<div class="cat_bar">
				<h3 class="catbg">{{{txt.scheduled_task_edit}}}</h3>
			</div>
			<div class="information">
				<em>{{textTemplate txt.scheduled_task_time_offset context.server_time}}</em>
			</div>
			<div class="windowbg">
				<dl class="settings">
					<dt>
						<strong>{{{txt.scheduled_tasks_name}}}:</strong>
					</dt>
					<dd>
						{{{context.task.name}}}<br>
						<span class="smalltext">{{{context.task.desc}}}</span>
					</dd>
					<dt>
						<strong><label for="regularity">{{{txt.scheduled_task_edit_interval}}}:</label></strong>
					</dt>
					<dd>
						{{{txt.scheduled_task_edit_repeat}}}
						<input type="text" name="regularity" id="regularity" value="{{#if context.task.regularity}}{{context.task.regularity}}{{else}}1{{/if}}" onchange="if (this.value < 1) this.value = 1;" size="2" maxlength="2" class="input_text">
						<select name="unit">
							<option value="m"{{#if (eq context.task.unit 'm')}} selected{{/if}}>{{{txt.scheduled_task_reg_unit_m}}}</option>
							<option value="h"{{#if (eq context.task.unit 'h')}} selected{{/if}}>{{{txt.scheduled_task_reg_unit_h}}}</option>
							<option value="d"{{#if (eq context.task.unit 'd')}} selected{{/if}}>{{{txt.scheduled_task_reg_unit_d}}}</option>
							<option value="w"{{#if (eq context.task.unit 'w')}} selected{{/if}}>{{{txt.scheduled_task_reg_unit_w}}}</option>
						</select>
					</dd>
					<dt>
						<strong><label for="start_time">{{{txt.scheduled_task_edit_start_time}}}:</label></strong><br>
						<span class="smalltext">{{{txt.scheduled_task_edit_start_time_desc}}}</span>
					</dt>
					<dd>
						<input type="text" name="offset" id="start_time" value="{{{context.task.offset_formatted}}}" size="6" maxlength="5" class="input_text">
					</dd>
					<dt>
						<strong><label for="enabled">{{{txt.scheduled_tasks_enabled}}}:</label></strong>
					</dt>
					<dd>
						<input type="checkbox" name="enabled" id="enabled"{{#unless context.task.disabled}} checked{{/unless}} class="input_check">
					</dd>
				</dl>
				<div class="righttext">
					<input type="hidden" name="{{context.session_var}}" value="{{context.session_id}}">
					<input type="hidden" name="{{context.admin-st_token_var}}" value="{{context.admin-st_token}}">
					<input type="submit" name="save" value="{{{txt.scheduled_tasks_save_changes}}}" class="button_submit">
				</div>
			</div>
		</form>
	</div>