	{{! Modifying a smiley set. }}
	<div id="admincenter">
		<form action="{{scripturl}}?action=admin;area=smileys;sa=editsets" method="post" accept-charset="UTF-8">
			<div class="cat_bar">
				<h3 class="catbg">
				{{#if context.current_set.is_new}}{{{txt.smiley_set_new}}}{{else}}{{{txt.smiley_set_modify_existing}}}{{/if}}
				</h3>
			</div>

			{{! If this is an existing set, and there are still un-added smileys - offer an import opportunity. }}
			{{#if (gt context.current_set.can_import 0)}}
			<div class="information">
				{{#if (eq context.current_set.can_import 1)}}{{{textTemplate txt.smiley_set_import_single context.current_set.import_url}}}{{else}}{{{textTemplate txt.smiley_set_import_multiple context.current_set.can_import context.current_set.import_url}}}{{/if}}
			</div>

			{{/if}}

			<div class="windowbg2 noup">
				<dl class="settings">
					<dt>
						<strong><label for="smiley_sets_name">{{{txt.smiley_sets_name}}}</label>: </strong>
					</dt>
					<dd>
						<input type="text" name="smiley_sets_name" id="smiley_sets_name" value="{{{context.current_set.name}}}" class="input_text">
					</dd>
					<dt>
						<strong><label for="smiley_sets_path">{{{txt.smiley_sets_url}}}</label>: </strong>
					</dt>
					<dd>
						{{{modSettings.smileys_url}}}/
						{{#if (eq context.current_set.id 'default')}}
							<strong>default</strong><input type="hidden" name="smiley_sets_path" id="smiley_sets_path" value="default">
						{{else}}
							{{#unless context.smiley_set_dirs}}
							<input type="text" name="smiley_sets_path" id="smiley_sets_path" value="{{{context.current_set.path}}}" class="input_text">
							{{else}}
							<select name="smiley_sets_path" id="smiley_sets_path">';
								{{#each context.smiley_set_dirs}}
								<option value="{{id}}"{{#if current}} selected{{/if}}{{#unless selectable}} disabled{{/unless}}>{{id}}</option>
								{{/each}}
							</select>
							{{/unless}}
						{{/if}}

						/..
					</dd>
					<dt>
						<strong><label for="smiley_sets_default">{{{txt.smiley_set_select_default}}}</label>: </strong>
					</dt>
					<dd>
						<input type="checkbox" name="smiley_sets_default" id="smiley_sets_default" value="1"{{#if context.current_set.selected}} checked{{/if}} class="input_check">
					</dd>

					{{! If this is a new smiley set they have the option to import smileys already in the directory. }}
					{{#if context.current_set.is_new}}
					<dt>
						<strong><label for="smiley_sets_import">{{{txt.smiley_set_import_directory}}}</label>: </strong>
					</dt>
					<dd>
						<input type="checkbox" name="smiley_sets_import" id="smiley_sets_import" value="1" class="input_check">
					</dd>
					{{/if}}

				</dl>
				<input type="submit" name="smiley_save" value="{{{txt.smiley_sets_save}}}" class="button_submit">
			</div>
			{{session_form}}
			{{token_form 'admin-mss'}}
			<input type="hidden" name="set" value="{{context.current_set.id}}">
		</form>
	</div>