<div id="admincenter">
	<div class="cat_bar">
		<h3 class="catbg">
			{{> helpicon help='themes'}}
			{{txt.themeadmin_title}}
		</h3>
		</div>
		<div class="information">
			{{txt.themeadmin_explain}}
		</div>
		<form action="{{scripturl}}?action=admin;area=theme;sa=admin" method="post" accept-charset="UTF-8">
			<div class="cat_bar">
				<h3 class="catbg">
					{{txt.settings}}
				</h3>
			</div>
			<div class="windowbg noup">
				<dl class="settings">
					<dt>
						<label for="options-theme_allow">{{txt.theme_allow}}</label>
					</dt>
					<dd>
						<input type="hidden" value="0" name="options[theme_allow]">
						<input type="checkbox" name="options[theme_allow]" id="options-theme_allow" value="1"{{#if modSettings.theme_allow}} checked{{/if}}>
					</dd>
					<dt>
						<label for="known_themes_list">{{txt.themeadmin_selectable}}</label>:
					</dt>
					<dd>
						<div id="known_themes_list">

{{#each context.themes}}
							<label for="options-known_themes_{{id}}">
								<input type="checkbox" name="options[known_themes][]" id="options-known_themes_{{id}}" value="{{id}}"{{#if known}} checked{{/if}}> {{name}}
							</label><br>
{{/each}}
						</div>
						<a href="javascript:void(0);" onclick="document.getElementById('known_themes_list').style.display='block'; document.getElementById('known_themes_link').style.display = 'none'; return false; " id="known_themes_link" style="display: none;">[ {{txt.themeadmin_themelist_link}} ]</a>
						<script>
							document.getElementById("known_themes_list").style.display = "none";
							document.getElementById("known_themes_link").style.display = "";
						</script>
					</dd>
					<dt>
						<label for="theme_guests">{{txt.theme_guests}}:</label>
					</dt>
					<dd>
						<select name="options[theme_guests]" id="theme_guests">

{{#each context.themes}}
							<option value="{{id}}"{{#if (eq modSettings.theme_guests id)}} selected{{/if}}>{{name}}</option>
{{/each}}
						</select>
						<span class="smalltext pick_theme">
							<a href="{{scripturl}}?action=theme;sa=pick;u=-1;{{session_url}}">{{txt.theme_select}}</a>
						</span>
					</dd>
					<dt>
						<label for="theme_reset">{{txt.theme_reset}}</label>:
					</dt>
					<dd>
						<select name="theme_reset" id="theme_reset">
							<option value="-1" selected>{{txt.theme_nochange}}</option>
							<option value="0">{{txt.theme_forum_default}}</option>

{{#each context.themes}}
							<option value="{{id}}">{{name}}</option>
{{/each}}
							</select>
						<span class="smalltext pick_theme">
							<a href="{{scripturl}}?action=theme;sa=pick;u=0;{{session_url}}">{{txt.theme_select}}</a>
						</span>
					</dd>
				</dl>
				<input type="submit" name="save" value="{{txt.save}}" class="button_submit">
				{{session_form}}
				{{token_form 'admin-tm'}}
			</div>
		</form>
		<div class="cat_bar">
			<h3 class="catbg">
				{{txt.theme_adding_title}}
			</h3>
		</div>
		<div class="windowbg noup">
			{{{txt.theme_adding}}}
		</div>
		<div id="admin_form_wrapper">
			<div class="cat_bar">
				<h3 class="catbg">
					{{{txt.theme_install}}}
				</h3>
			</div>
			<div class="windowbg noup">

{{#if context.can_create_new}}
				<fieldset>
					<legend>{{{txt.theme_install_new}}}</legend>
					<form action="{{scripturl}}?action=admin;area=theme;sa=install;do=copy" method="post" accept-charset="UTF-8" class="padding">
						{{session_form}}
						{{token_form 'admin-t-copy'}}
						<input type="text" name="copy" id="copy" value="{{context.new_theme_name}}" size="40">
						<input type="submit" name="save_copy" value="{{txt.save}}" class="button_submit">
					</form>
				</fieldset>
{{/if}}
				<fieldset>
					<legend>{{{txt.theme_install_dir}}}</legend>
					<form action="{{scripturl}}?action=admin;area=theme;sa=install;do=dir" method="post" accept-charset="UTF-8" class="padding">
						{{session_form}}
						{{token_form 'admin-t-dir'}}
						<input type="text" name="theme_dir" id="theme_dir" value="{{context.new_theme_dir}}" size="40" style="width: 40%;">
						<input type="submit" name="save_dir" value="{{txt.save}}" class="button_submit">
					</form>
				</fieldset>
			</div>
		</div>
	</div>
	<script>
		window.sbbForum_scripturl = sbb_scripturl;
		window.sbbForum_sessionid = sbb_session_id;
		window.sbbForum_sessionvar = sbb_session_var;
		window.sbbThemes_writable = {{#if context.can_create_new}}true{{else}}false{{/if}};
	</script>