		{{! Show the user version information from their server. }
		<div id="admincenter">
			<div id="support_credits" class="roundframe">
				<div class="sub_bar">
					<h3 class="subbg">
						{{txt.support_title}} <img src="{{settings.images_url}}/smflogo.png" id="credits_logo" alt="">
					</h3>
				</div>
				<div class="padding">
					<strong>{{txt.support_versions}}:</strong><br>
					{{txt.support_versions_forum}}:
					<em id="yourVersion">{{context.forum_version}}</em>
					{{#if context.can_admin}} <a href="{{scripturl}}?action=admin;area=maintain;sa=routine;activity=version">{{txt.version_check_more}}</a>{{/if}}
					<br>
					{{txt.support_versions_current}}:
					<em id="smfVersion">??</em><br>

					{{! Display all the variables we have server information for. }}
					{{#each context.current_versions}}
						{{title}}: <em>{{version}}</em>
						{{! more details for this item, show them a link }}
						{{#if (and ../context.can_admin ./more)}}
							<a href="{{../scripturl}}{{more}};{{../context.session_var}}={{../context.session_id}}">{{../txt.version_check_more}}</a>
						{{/if}}
						<br>
					{{/each}}
				</div>

				{{! Point the admin to common support resources. }}
				<div id="support_resources" class="sub_bar">
					<h3 class="subbg">
						{{txt.support_resources}}
					</h3>
				</div>
				<div class="padding">
					<p>{{{txt.support_resources_p1}}}</p>
					<p>{{{txt.support_resources_p2}}}</p>
				</div>
			</div>
		</div>

		{{! This makes all the support information available to the support script... }}
		<script>
			var smfSupportVersions = {};

			smfSupportVersions.forum = {{{json context.forum_version}}};

			{{! Don't worry, none of this is logged, it's just used to give information that might be of use. }}
			{{#each context.current_versions}}
			smfSupportVersions.{{@key}} = "{{.}}";
			{{/each}}
			{{! Now we just have to include the script and wait ;). }}
		</script>
		<script src="{{scripturl}}?action=viewsmfile;filename=current-version.js"></script>
		<script src="{{scripturl}}?action=viewsmfile;filename=latest-news.js"></script>';

		{{! This sets the latest support stuff. }}
		<script>
			function smfCurrentVersion()
			{
				var smfVer, yourVer;

				if (!window.smfVersion)
					return;

				smfVer = document.getElementById("smfVersion");
				yourVer = document.getElementById("yourVersion");

				setInnerHTML(smfVer, window.smfVersion);

				var currentVersion = getInnerHTML(yourVer);
				if (currentVersion != window.smfVersion)
					setInnerHTML(yourVer, "<span class=\"alert\">" + currentVersion + "</span>");
			}
			addLoadEvent(smfCurrentVersion)
		</script>