{{#if context.done}}
<div class="infobox">
	{{get_text 'theme_confirmed_' context.done}}
</div>
{{/if}}
<div id="admincenter">
	<div class="cat_bar">
			<h3 class="catbg">{{txt.themeadmin_list_heading}}</h3>
		</div>
		<div class="information">
			{{txt.themeadmin_list_tip}}
		</div>
		<form id="admin_form_wrapper" action="{{scripturl}}?action=admin;area=theme;{{session_url}};sa=list" method="post" accept-charset="UTF-8">
			<div class="cat_bar">
				<h3 class="catbg">{{txt.theme_settings}}</h3>
			</div>
			<br>

{{#each context.themes}}
			<div class="cat_bar">
				<h3 class="catbg">
					<span class="floatleft">

	{{#if (or enable (eq_coerce id 1))}}
						<a href="{{../scripturl}}?action=admin;area=theme;th={{id}};{{session_url}};sa=list">{{name}}</a>
	{{else}}
						{{name}}
	{{/if}}
						{{#if version}}<em>{{version}}</em>{{/if}}
					</span>

	{{#if (neq id 1)}}
					<span class="floatright">
						<a href="{{../scripturl}}?action=admin;area=theme;sa=enable;th={{id}};{{session_url}};{{token_url 'admin-tre'}}{{#if enable}};disabled{{/if}}" data-confirm="{{#if enable}}{{../txt.theme_enable_confirm}}{{else}}{{../txt.theme_disable_confirm}}{{/if}}" class="you_sure">
							<span class="main_icons {{#if enable}}disable{{else}}enable{{/if}}" title="{{#if enable}}{{../txt.theme_disable}}{{else}}{{../txt.theme_enable}}{{/if}}"></span>
						</a>
						<a href="{{../scripturl}}?action=admin;area=theme;sa=remove;th={{id}};{{session_url}};{{token_url 'admin-tr'}}{{#if enable}};disabled{{/if}}" data-confirm="{{../txt.theme_remove_confirm}}" class="you_sure">
							<span class="main_icons delete" title="{{../txt.theme_remove}}"></span>
						</a>
					</span>
	{{/if}}
				</h3>
				</div>
				<div class="windowbg noup">
				<dl class="settings themes_list">
					<dt>{{../txt.themeadmin_list_theme_dir}}:</dt>
					<dd{{#unless valid_path}} class="error"{{/unless}}>{{theme_dir}}{{#unless valid_path}} {{../txt.themeadmin_list_invalid}}{{/unless}}</dd>

					<dt>{{../txt.themeadmin_list_theme_url}}:</dt>
					<dd>{{theme_url}}</dd>

					<dt>{{../txt.themeadmin_list_images_url}}:</dt>
					<dd>{{images_url}}</dd>

	{{#if (or enable (eq_coerce id 1))}}
					<dt><a href="{{../scripturl}}?action=admin;area=theme;th={{id}};{{session_url}};sa=list" class="button_submit floatleft">{{{../txt.settings}}}</a></dt>
	{{/if}}
				</dl>
			</div>
{{/each}}
			<div class="cat_bar">
				<h3 class="catbg">{{txt.themeadmin_list_reset}}</h3>
			</div>
			<div class="windowbg noup">
				<dl class="settings">
					<dt>
						<label for="reset_dir">{{txt.themeadmin_list_reset_dir}}</label>:
					</dt>
					<dd>
						<input type="text" name="reset_dir" id="reset_dir" value="{{context.reset_dir}}" size="40" style="width: 80%;">
					</dd>
					<dt>
						<label for="reset_url">{{txt.themeadmin_list_reset_url}}</label>:
					</dt>
					<dd>
						<input type="text" name="reset_url" id="reset_url" value="{{context.reset_url}}" size="40" style="width: 80%;">
					</dd>
				</dl>
				<input type="submit" name="save" value="{{txt.themeadmin_list_reset_go}}" class="button_submit">
				{{session_form}}
				{{token_form 'admin-tl'}}
			</div>

		</form>
	</div>