	{{! Viewing the members of a group. }}
	<div id="admincenter">
		<form action="{{scripturl}}?action={{context.current_action}}{{#if context.admin_area}};area={{context.admin_area}}{{/if}};sa=members;group={{context.group.id}}" method="post" accept-charset="UTF-8" id="view_group">
			<div class="cat_bar">
				<h3 class="catbg">{{{context.page_title}}}</h3>
			</div>
			<div class="windowbg">
				<dl class="settings">
					<dt>
						<strong>{{{txt.name}}}:</strong>
					</dt>
					<dd>
						<span {{#if context.group.online_color}} style="color: {{context.group.online_color}};"{{/if}}>{{{context.group.name}}}</span> {{{context.group.icons}}}
					</dd>

{{! Any description to show? }}
{{#if context.group.description}}
					<dt>
						<strong>{{{txt.membergroups_members_description}}}:</strong>
					</dt>
					<dd>
						{{{context.group.description}}}
					</dd>
{{/if}}

					<dt>
						<strong>{{{txt.membergroups_members_top}}}:</strong>
					</dt>
					<dd>
						{{{context.total_members}}}
					</dd>

{{! Any group moderators to show? }}
{{#if context.group.moderators}}
					<dt>
						<strong>{{{txt.membergroups_members_group_moderators}}}:</strong>
					</dt>
					<dd>
						{{{join context.group.moderators_formatted ', '}}}{{! More php remains?}}
					</dd>
{{/if}}

				</dl>
			</div>

			<br>
			<div class="cat_bar">
				<h3 class="catbg">{{{txt.membergroups_members_group_members}}}</h3>
			</div>
			<br>
			<div class="pagesection">{{{context.page_index}}}</div>
			<table class="table_grid">
				<thead>
					<tr class="title_bar">
						<th>
							<a href="{{scripturl}}?action={{context.current_action}}{{#if context.admin_area}};area={{context.admin_area}}{{/if}};sa=members;start={{context.start}};sort=name{{#if (and (eq context.sort_by 'name') (eq context.sort_direction 'up'))}};desc{{/if}};group={{context.group.id}}">{{{txt.name}}}{{#if (eq context.sort_by 'name')}}
								<span class="main_icons sort_{{context.sort_direction}}"></span>{{/if}}
							</a>
						</th>

{{#if (eq context.group.is_character '1')}}
						<th>{{{txt.character_name_title}}}</th>
{{/if}}

{{#if context.can_send_email}}
						<th>
							<a href="{{scripturl}}?action={{context.current_action}}{{#if context.admin_area}};area={{context.admin_area}}{{/if}};sa=members;start={{context.start}};sort=email{{#if (and (eq context.sort_by 'email') (eq context.sort_direction 'up'))}};desc{{/if}};group={{context.group.id}}">{{{txt.email}}}{{#if (eq context.sort_by 'email')}}
								<span class="main_icons sort_{{context.sort_direction}}"></span>{{/if}}
							</a>
						</th>
{{/if}}

						<th>
							<a href="{{scripturl}}?action={{context.current_action}}{{#if context.admin_area}};area={{context.admin_area}}{{/if}};sa=members;start={{context.start}};sort=active{{#if (and (eq context.sort_by 'active') (eq context.sort_direction 'up'))}};desc{{/if}};group={{context.group.id}}">{{{txt.membergroups_members_last_active}}}{{#if (eq context.sort_by 'active')}}
								<span class="main_icons sort_{{context.sort_direction}}"></span>{{/if}}
							</a>
						</th>

						<th>
							<a href="{{scripturl}}?action={{context.current_action}}{{#if context.admin_area}};area={{context.admin_area}}{{/if}};sa=members;start={{context.start}};sort=registered{{#if (and (eq context.sort_by 'registered') (eq context.sort_direction 'up'))}};desc{{/if}};group={{context.group.id}}">{{{txt.date_registered}}}{{#if (eq context.sort_by 'registered')}}
								<span class="main_icons sort_{{context.sort_direction}}"></span>{{/if}}
							</a>
						</th>

						<th{{#unless context.group.assignable}} colspan="2"{{/unless}}>
							<a href="{{scripturl}}?action={{context.current_action}}{{#if context.admin_area}};area={{context.admin_area}}{{/if}};sa=members;start={{context.start}};sort=posts{{#if (and (eq context.sort_by 'posts') (eq context.sort_direction 'up'))}};desc{{/if}};group={{context.group.id}}">{{{txt.posts}}}{{#if (eq context.sort_by 'posts')}}
								<span class="main_icons sort_{{context.sort_direction}}"></span>{{/if}}
							</a>
						</th>

{{#if context.group.assignable}}
						<th style="width: 4%">
							<input type="checkbox" onclick="invertAll(this, this.form);">
						</th>
{{/if}}
					</tr>
				</thead>
				<tbody>

{{#unless context.members}}
					<tr class="windowbg">
						<td colspan="{{#if (eq context.group.is_character '1')}}7{{else}}6{{/if}}">{{{txt.membergroups_members_no_members}}}</td>
					</tr>
{{/unless}}

{{#each context.members}}
					<tr class="windowbg">
						<td>{{{name}}}</td>
	{{#if character}}
						<td>{{{character}}}</td>
	{{/if}}

	{{#if ../context.can_send_email}}
						<td>
							<a href="mailto:{{{email}}}">{{{email}}}</a>
						</td>
	{{/if}}
						<td>{{{last_online}}}</td>
						<td>{{{registered}}}</td>

	{{#if ../context.group.assignable}}
						<td>{{{posts}}}</td>

		{{#if (eq ../context.group.is_character '1')}}
						<td style="width:4%">
							<input type="checkbox" name="rem[]" value="{{id_character}}">
						</td>
		{{else}}
						<td style="width: 4%">
							<input type="checkbox" name="rem[]" value="{{id}}"{{#if (and (eq_coerce ../context.user.id id) (eq_coerce ../context.group.id 1))}} onclick="if (this.checked) return confirm('{{{../txt.membergroups_members_deadmin_confirm}}}')"{{/if}}>
						</td>
		{{/if}}
	{{else}}
						<td colspan="2">{{{posts}}}</td>
	{{/if}}
					</tr>
{{/each}}

				</tbody>
			</table>

{{#if context.group.assignable}}
			<div class="floatright">
				<input type="submit" name="remove" value="{{{txt.membergroups_members_remove}}}" class="button_submit">
			</div>
{{/if}}

			<div class="pagesection flow_hidden">
				<div class="floatleft">{{{context.page_index}}}</div>
			</div>
			<br>

{{#if context.group.assignable}}
			<div class="cat_bar">
				<h3 class="catbg">
	{{#if (eq context.group.is_character '1')}}
					{{{txt.membergroups_members_add_char_title}}}
	{{else}}
					{{{txt.membergroups_members_add_title}}}
	{{/if}}
				</h3>
			</div>
			<div class="windowbg">
				<dl class="settings">
					<dt>
						<strong>
							<label for="toAdd">

	{{#if (eq context.group.is_character '1')}}
								{{{txt.membergroups_members_add_char_desc}}}:
	{{else}}
								{{{txt.membergroups_members_add_desc}}}:
	{{/if}}
							</label>
						</strong>
					</dt>
					<dd>
						<select name="toAdd[]" id="toAdd" multiple>
							<option></option>
						</select>
					</dd>
				</dl>
				<input type="submit" name="add" value="{{{txt.membergroups_members_add}}}" class="button_submit">
			</div>
{{/if}}

			{{session_form}}
			{{token_form 'mod-mgm'}}
		</form>
	</div>