	<div id="pick_theme">
		<form action="{{scripturl}}?action=theme;sa=pick;u={{context.current_member}};{{session_url}}" method="post" accept-charset="UTF-8">
			
{{#each context.available_themes}}
			<div class="cat_bar">
				<h3 class="catbg">
					<a href="{{../scripturl}}?action=theme;sa=pick;u={{../context.current_member}};th={{id}};{{session_url}}{{#if variants}};vrt={{selected_variant}}{{/if}}">{{{name}}}</a>
				</h3>
			</div>
			<div class="windowbg {{#if selected}}chosen{{/if}} noup">
				<div class="flow_hidden">
					<div class="floatright"><a href="{{../scripturl}}?action=theme;sa=pick;u={{../context.current_member}};theme={{id}};{{session_url}}" id="theme_thumb_preview_{{id}}" title="{{../txt.theme_preview}}"><img src="{{thumbnail_href}}" id="theme_thumb_{{id}}" alt="" class="padding"></a></div>
					<p>{{{description}}}</p>

	{{#if variants}}
					<label for="variant{{id}}"><strong>{{pick_label}}</strong></label>:
					<select id="variant{{id}}" name="vrt[{{id}}]" onchange="changeVariant{{id}}(this.value);">

		{{#each variants}}
						<option value="{{@key}}"{{#if (eq ../selected_variant @key)}} selected{{/if}}>{{label}}</option>
		{{/each}}
						</select>
					<noscript>
						<input type="submit" name="save[{{id}}]" value="{{save}}" class="button_submit">
					</noscript>
	{{/if}}
					<br>
					<p>
						<em class="smalltext">{{num_users}} {{#if (eq num_users 1)}}{{../txt.theme_user}}{{else}}{{../txt.theme_users}}{{/if}}</em>
					</p>
					<br>
					<ul>
						<li>
							<a href="{{../scripturl}}?action=theme;sa=pick;u={{../context.current_member}};th={{id}};{{session_url}}{{#if variants}};vrt={{selected_variant}}{{/if}}" id="theme_use_{{id}}">[{{../txt.theme_set}}]</a>
						</li>
						<li>
							<a href="{{../scripturl}}?action=theme;sa=pick;u={{../context.current_member}};theme={{id}};{{session_url}}" id="theme_preview_{{id}}">{{../txt.theme_preview}}]</a>
						</li>
					</ul>
				</div>
			</div>

	{{#if variants}}
			<script>
			var sBaseUseUrl{{id}} = sbb_prepareScriptUrl(sbb_scripturl) + 'action=theme;sa=pick;u={{../context.current_member}};th={{id}};{{session_url}}';
			var sBasePreviewUrl{{id}} = sbb_prepareScriptUrl(sbb_scripturl) + 'action=theme;sa=pick;u={{../context.current_member}};theme={{id}};{{session_url}}';
			var oThumbnails{{id}} = {
				{{#each variants}}
					'{{@key}}': '{{thumbnail}}',
				{{/each}}
			};
			function changeVariant{{id}}(sVariant)
			{
				document.getElementById('theme_thumb_{{id}}').src = oThumbnails{{id}}[sVariant];
				document.getElementById('theme_use_{{id}}').href = sBaseUseUrl{{#if (eq id 0)}}{{../context.default_theme_id}}{{else}}{{id}}{{/if}} + ';vrt=' + sVariant;
				document.getElementById('theme_thumb_preview_{{id}}').href = sBasePreviewUrl{{id}} + ';vrt=' + sVariant + ';variant=' + sVariant;
				document.getElementById('theme_preview_{{id}}').href = sBasePreviewUrl{{id}} + ';vrt=' + sVariant + ';variant=' + sVariant;
			}
			</script>
	{{/if}}
{{/each}}
		</form>
	</div>