	{{! Editing a board. }}
	<div id="manage_boards">
		<form action="{{scripturl}}?action=admin;area=manageboards;sa=board2" method="post" accept-charset="UTF-8">
			<input type="hidden" name="boardid" value="{{{context.board.id}}}">
			<div class="cat_bar">
				<h3 class="catbg">
{{#if context.board.is_new}}
					{{{txt.mboards_new_board_name}}}
{{else}}
					{{{txt.boardsEdit}}}
{{/if}}
				</h3>
			</div>
			<div class="windowbg noup">
				<dl class="settings">

					{{! Option for choosing the category the board lives in. }}
					<dt>
						<strong>{{{txt.mboards_category}}}:</strong>
					</dt>
					<dd>
						<select name="new_cat" onchange="if (this.form.order) {this.form.order.disabled = this.options[this.selectedIndex].value != 0; this.form.board_order.disabled = this.options[this.selectedIndex].value != 0 || this.form.order.options[this.form.order.selectedIndex].value == '';}">

{{#each context.categories}}
							<option{{#if selected}} selected{{/if}} value="{{id}}">{{{name}}}</option>
{{/each}}
						</select>
					</dd>

{{! If this isn't the only board in this category let the user choose where the board is to live. }}
{{#if (or (and context.board.is_new (gt (count context.board_order) 0)) (gt (count context.board_order) 1))}}
					<dt>
						<strong>{{{txt.order}}}:</strong>
					</dt>
					<dd>

						{{! The first select box gives the user the option to position it before, after or as a child of another board. }}
						<select id="order" name="placement" onchange="this.form.board_order.disabled = this.options[this.selectedIndex].value == '';">

	{{#unless context.board.is_new}}
							<option value="">({{{txt.mboards_unchanged}}})</option>
	{{/unless}}
							<option value="after">{{{txt.mboards_order_after}}}...</option>
							<option value="child">{{{txt.mboards_order_child_of}}}...</option>
							<option value="before">{{{txt.mboards_order_before}}}...</option>
						</select>

						{{! The second select box lists all the boards in the category. }}
						<select id="board_order" name="board_order"{{#unless context.board.is_new}} disabled{{/unless}}>

	{{#unless context.board.is_new}}
							<option value="">({{{txt.mboards_unchanged}}})</option>
	{{/unless}}

	{{#each context.board_order}}
							<option{{#if selected}} selected{{/if}} value="{{id}}">{{{name}}}</option>
	{{/each}}

						</select>
					</dd>
{{/if}}

					{{! Options for board name and description. }}
					<dt>
						<strong>{{{txt.full_name}}}:</strong><br>
						<span class="smalltext">{{{txt.name_on_display}}}</span>
					</dt>
					<dd>
						<input type="text" name="board_name" value="{{{context.board.name}}}" size="30">
					</dd>
					<dt>
						<strong>{{{txt.mboards_description}}}:</strong><br>
						<span class="smalltext">{{{context.category_allowed_tags_desc}}}</span>
					</dt>
					<dd>
						<textarea name="desc" rows="3" cols="35" style="width:99%;">{{{context.board.description}}}</textarea>
					</dd>
					<dt>
						<strong>{{{txt.board_in_character}}}</strong><br>
						<span class="smalltext">{{{txt.board_in_character_desc}}}</span><br>
					</dt>
					<dd>
						<input type="checkbox" name="in_character"{{#if (eq context.board.in_character '1')}} checked{{/if}}>
					</dd>
					<dt>
						<strong>{{{txt.permission_profile}}}:</strong><br>
						<span class="smalltext">{{{context.permission_profile_desc}}}</span>
					</dt>
					<dd>
						<select name="profile">'

{{#if context.board.is_new}}
							<option value="-1">[{{{txt.permission_profile_inherit}}}]</option>
{{/if}}

{{#each context.profiles}}
							<option value="{{@key}}"{{#if (eq_coerce @key ../context.board.profile)}} selected{{/if}}>{{{name}}}</option>
{{/each}}
						</select>
					</dd>
					<dt>
						<strong>{{{txt.mboards_groups}}}:</strong><br>
						<span class="smalltext">{{{txt.boardsaccess_option_desc}}}</span>
					</dt>
					<dd>

						<table>
							<tr>
								<td></td>
								<th>{{{txt.permissions_option_on}}}</th>
								<th>{{{txt.permissions_option_off}}}</th>
								<th>{{{txt.permissions_option_deny}}}</th>
							</tr>

							{{! List all the membergroups so the user can choose who may access this board. }}
							<tr>
								<td><strong>{{{txt.membergroups_regular}}}</strong></td>
								<td></td>
								<td></td>
								<td></td>
							</tr>

{{#each context.groups_account}}
							<tr>
								<td>
									<label for="groups_{{id}}_a">
										<span{{#if (eq id '0')}} class="regular_members" title="{{{../txt.mboards_groups_regular_members}}}"{{/if}}>
											{{{name}}}
										</span>
									</label>
								</td>
								<td>
									<input type="radio" class="account" name="groups[{{id}}]" value="allow" id="groups_{{id}}_a"{{#if (in_array id ../context.board_managers)}} checked disabled{{else}}{{#if allow}} checked{{/if}}{{/if}}>
								</td>
								<td>
									<input type="radio" class="account" name="groups[{{id}}]" value="ignore" id="groups_{{id}}_x"{{#if (in_array id ../context.board_managers)}} disabled{{else}}{{#if (and (not allow) (not deny))}} checked{{/if}}{{/if}}>
								</td>
								<td>
									<input type="radio" class="account" name="groups[{{id}}]" value="deny" id="groups_{{id}}_d"{{#if (in_array id ../context.board_managers)}} disabled{{else}}{{#if deny}} checked{{/if}}{{/if}}>
								</td>
								<td></td>
							</tr>
{{/each}}
							<tr class="select_all_box">
								<td>
								</td>
								<td>
									<input type="radio" name="select_all_account" onclick="selectAllRadioClass(this.form, 'groups', 'allow', 'account');">
								</td>
								<td>
									<input type="radio" name="select_all_account" onclick="selectAllRadioClass(this.form, 'groups', 'ignore', 'account');">
								</td>
								<td>
									<input type="radio" name="select_all_account" onclick="selectAllRadioClass(this.form, 'groups', 'deny', 'account');">
								</td>
								<td>
									<em>{{{txt.check_all}}}</em>
								</td>
							</tr>

{{#if context.groups_character}}
							<tr>
								<td><br><strong>{{{txt.membergroups_character}}}</strong></td>
								<td></td>
								<td></td>
								<td></td>
							</tr>

	{{#each context.groups_character}}
							<tr>
								<td>
									<label for="groups_{{id}}_a">
										<span>
											{{{name}}}
										</span>
									</label>
								</td>
								<td>
									<input type="radio" class="character" name="groups[{{id}}]" value="allow" id="groups_{{id}}_a"{{#if (in_array id ../context.board_managers)}} checked disabled{{else}}{{#if allow}} checked{{/if}}{{/if}}>
								</td>
								<td>
									<input type="radio" class="character" name="groups[{{id}}]" value="ignore" id="groups_{{id}}_x"{{#if (in_array id ../context.board_managers)}} disabled{{else}}{{#if (and (not allow) (not deny))}} checked{{/if}}{{/if}}>
								</td>
								<td>
									<input type="radio" class="character" name="groups[{{id}}]" value="deny" id="groups_{{id}}_d"{{#if (in_array id ../context.board_managers)}} disabled{{else}}{{#if deny}} checked{{/if}}{{/if}}>
								</td>
								<td></td>
							</tr>
	{{/each}}
							<tr class="select_all_box">
								<td>
								</td>
								<td>
									<input type="radio" name="select_all_character" onclick="selectAllRadioClass(this.form, 'groups', 'allow', 'character');">
								</td>
								<td>
									<input type="radio" name="select_all_character" onclick="selectAllRadioClass(this.form, 'groups', 'ignore', 'character');">
								</td>
								<td>
									<input type="radio" name="select_all_character" onclick="selectAllRadioClass(this.form, 'groups', 'deny', 'character');">
								</td>
								<td>
									<em>{{{txt.check_all}}}</em>
								</td>
							</tr>
{{/if}}
						</table>
					</dd>

					{{! Options to choose moderators, specify as announcement board and choose whether to count posts here. }}
					<dt>
						<strong>{{{txt.mboards_moderators}}}:</strong><br>
						<span class="smalltext">{{{txt.mboards_moderators_desc}}}</span><br>
					</dt>
					<dd>
						<select name="moderators[]" id="moderators" multiple>
							<option></option>
						</select>
					</dd>
					<dt>
						<strong>{{{txt.mboards_moderator_groups}}}:</strong><br>
						<span class="smalltext">{{{txt.mboards_moderator_groups_desc}}}</span><br>
					</dt>
					<dd>
						<select name="moderator_groups[]" id="moderator_groups" multiple>
							<option></option>
						</select>
					</dd>
				</dl>
				<script>
					$(document).ready(function () {
						$(".select_all_box").each(function () {
							$(this).removeClass('select_all_box');
						});
					});
				</script>
				<hr>

{{#if (and (not context.board.is_recycle) (not context.board.topics))}}
					<dl class="settings">
						<dt>
							<strong{{#if context.board.topics}} style="color: gray;"{{/if}}>{{{txt.mboards_redirect}}}:</strong><br>
							<span class="smalltext">{{{txt.mboards_redirect_desc}}}</span><br>
						</dt>
						<dd>
							<input type="checkbox" id="redirect_enable" name="redirect_enable"{{#if context.board.redirect}} checked{{/if}} onclick="refreshOptions();">
						</dd>
					</dl>

					<div id="redirect_address_div">
						<dl class="settings">
							<dt>
								<strong>{{{txt.mboards_redirect_url}}}:</strong><br>
								<span class="smalltext">{{{txt.mboards_redirect_url_desc}}}</span><br>
							</dt>
							<dd>
								<input type="text" name="redirect_address" value="{{{context.board.redirect}}}" size="40">
							</dd>
						</dl>
					</div>

	{{#if context.board.redirect}}
					<div id="reset_redirect_div">
						<dl class="settings">
							<dt>
								<strong>{{{txt.mboards_redirect_reset}}}:</strong><br>
								<span class="smalltext">{{{txt.mboards_redirect_reset_desc}}}</span><br>
							</dt>
							<dd>
								<input type="checkbox" name="reset_redirect">
								<em>({{textTemplate txt.mboards_current_redirects context.board.posts}})</em>
							</dd>
						</dl>
					</div>
	{{/if}}
{{/if}}

				<div id="count_posts_div">
					<dl class="settings">
						<dt>
							<strong>{{{txt.mboards_count_posts}}}:</strong><br>
							<span class="smalltext">{{{txt.mboards_count_posts_desc}}}</span><br>
						</dt>
						<dd>
							<input type="checkbox" name="count"{{#if context.board.count_posts}} checked{{/if}}>
						</dd>
					</dl>
				</div>

				{{! Here the user can choose to force this board to use a theme other than the default theme for the forum. }}
				<div id="board_theme_div">
					<dl class="settings">
						<dt>
							<strong>{{{txt.mboards_theme}}}:</strong><br>
							<span class="smalltext">{{{txt.mboards_theme_desc}}}</span><br>
						</dt>
						<dd>
							<select name="boardtheme" id="boardtheme" onchange="refreshOptions();">
								<option value="0"{{#if (eq context.board.theme 0)}} selected{{/if}}>{{{txt.mboards_theme_default}}}</option>
								{{#each context.themes}}
								<option value="{{id}}"{{#if (eq ../context.board.theme id)}} selected{{/if}}>{{{name}}}</option>
								{{/each}}
							</select>
						</dd>
					</dl>
				</div>
				<div id="override_theme_div">
					<dl class="settings">
						<dt>
							<strong>{{{txt.mboards_override_theme}}}:</strong><br>
							<span class="smalltext">{{{txt.mboards_override_theme_desc}}}</span><br>
						</dt>
						<dd>
							<input type="checkbox" name="override_theme"{{#if context.board.override_theme}} checked{{/if}}>
						</dd>
					</dl>
				</div>

{{! Show any board settings added by mods using the 'integrate_edit_board' hook. }}
{{#if context.custom_board_settings}}
				<hr>
				<div id="custom_board_settings">
					<dl class="settings">

	{{#each context.custom_board_settings}}
		{{#if (and dt dd)}}
						<dt class="clear{{#unless (is_numeric @key)}} cbs_{{@key}}{{/unless}}">
							{{{dt}}}
						</dt>
						<dd{{#unless (is_numeric @key)}} class="cbs_{{@key}}"{{/unless}}>
							{{{dd}}}
						</dd>
		{{/if}}
	{{/each}}
					</dl>
				</div>
{{/if}}

{{#if context.board.is_recycle}}
				<div class="noticebox">{{{txt.mboards_recycle_disabled_delete}}}</div>
{{/if}}

				<input type="hidden" name="rid" value="{{{context.redirect_location}}}">
				{{session_form}}
				{{token_form context.token_check}}

{{! If this board has no children don't bother with the next confirmation screen. }}
{{#if context.board.no_children}}
				<input type="hidden" name="no_children" value="1">
{{/if}}

{{#if context.board.is_new}}
				<input type="hidden" name="cur_cat" value="{{{context.board.category}}}">
				<input type="submit" name="add" value="{{{txt.mboards_new_board}}}" onclick="return !isEmptyText(this.form.board_name);" class="button_submit">
{{else}}
				<input type="submit" name="edit" value="{{{txt.modify}}}" onclick="return !isEmptyText(this.form.board_name);" class="button_submit">
{{/if}}

{{#if (and (not context.board.is_new) (not context.board.is_recycle))}}
				<input type="submit" name="delete" value="{{{txt.mboards_delete_board}}}" data-confirm="{{{txt.boardConfirm}}}" class="button_submit you_sure">
{{/if}}
			</div>
		</form>
	</div>

<script>
	function refreshOptions()
	{
		var redirect = document.getElementById("redirect_enable");
		var redirectEnabled = redirect ? redirect.checked : false;
		var nonDefaultTheme = document.getElementById("boardtheme").value == 0 ? false : true;

		// What to show?
		document.getElementById("override_theme_div").style.display = redirectEnabled || !nonDefaultTheme ? "none" : "";
		document.getElementById("board_theme_div").style.display = redirectEnabled ? "none" : "";
		document.getElementById("count_posts_div").style.display = redirectEnabled ? "none" : "";

{{#if (and (not context.board.topics) (not context.board.is_recycle))}}
			document.getElementById("redirect_address_div").style.display = redirectEnabled ? "" : "none";

	{{#if context.board.redirect}}
			document.getElementById("reset_redirect_div").style.display = redirectEnabled ? "" : "none";
	{{/if}}
{{/if}}

{{! Include any JavaScript added by mods using the 'integrate_edit_board' hook. }}
{{#if context.custom_refreshOptions}}
	{{#each context.custom_refreshOptions}}{{{.}}}{{/each}}
{{/if}}
	}
	refreshOptions();
</script>