	{{! Editing a membergroup. }}
	<div id="admincenter">
		<form action="{{scripturl}}?action=admin;area=membergroups;sa=edit;group={{context.group.id}}" method="post" accept-charset="UTF-8" name="groupForm" id="groupForm">
			<div class="cat_bar">
				<h3 class="catbg">{{{txt.membergroups_edit_group}}} - {{{context.group.name}}}</h3>
			</div>
			<div class="windowbg">
				<dl class="settings">
					<dt>
						<label for="group_name_input"><strong>{{{txt.membergroups_edit_name}}}:</strong></label>
					</dt>
					<dd>
						<input type="text" name="group_name" id="group_name_input" value="{{{context.group.editable_name}}}" size="30" required>
					</dd>

					<dt><strong>{{{txt.char_group_level}}}:</strong></dt>
					<dd>{{#if (eq context.group.is_character '1')}}{{{txt.char_group_level_char}}}{{else}}{{{txt.char_group_level_acct}}}{{/if}}</dd>

{{#if (neq context.group.id '3')}}
					<dt id="group_desc_text">
						<label for="group_desc_input"><strong>{{{txt.membergroups_edit_desc}}}:</strong></label>
					</dt>
					<dd>
						<textarea name="group_desc" id="group_desc_input" rows="4" cols="40">{{{context.group.description}}}</textarea>
					</dd>
{{/if}}

{{! Group type... }}
					<dt>
						<label for="group_type"><strong>{{{txt.membergroups_edit_group_type}}}:</strong></label>
					</dt>
					<dd>
						<fieldset id="group_type">
							<legend>{{{txt.membergroups_edit_select_group_type}}}</legend>
							<label for="group_type_private">
								<input type="radio" name="group_type" id="group_type_private" value="0"{{#if (eq_coerce context.group.type 0)}} checked{{/if}}>
								{{{txt.membergroups_group_type_private}}}
							</label><br>

{{#if context.group.allow_protected}}
							<label for="group_type_protected">
								<input type="radio" name="group_type" id="group_type_protected" value="1"{{#if (eq_coerce context.group.type 1)}} checked{{/if}}>
								{{{txt.membergroups_group_type_protected}}}
							</label><br>
{{/if}}

							<label for="group_type_request">
								<input type="radio" name="group_type" id="group_type_request" value="2"{{#if (eq_coerce context.group.type 2)}} checked{{/if}}>
								{{{txt.membergroups_group_type_request}}}
							</label><br>

							<label for="group_type_free">
								<input type="radio" name="group_type" id="group_type_free" value="3"{{#if (eq_coerce context.group.type 3)}} checked{{/if}}>
								{{{txt.membergroups_group_type_free}}}
							</label><br>

						</fieldset>
					</dd>

{{#if (and (neq context.group.id '3') (neq context.group.id '4'))}}
					<dt id="group_moderators_text">
						<label for="group_moderators"><strong>{{{txt.moderators}}}:</strong></label>
					</dt>
					<dd>
						<select name="group_moderators[]" id="group_moderators" multiple>
							<option></option>
						</select>
					</dd>
					<dt id="group_hidden_text">
						<label for="group_hidden_input"><strong>{{{txt.membergroups_edit_hidden}}}:</strong></label>
					</dt>
					<dd>
						<select name="group_hidden" id="group_hidden_input" onchange="if (this.value == 2 &amp;&amp; !confirm('{{{txt.membergroups_edit_hidden_warning}}}')) this.value = 0;">
							<option value="0"{{#if (lt context.group.hidden 1)}} selected{{/if}}>{{{txt.membergroups_edit_hidden_no}}}</option>
							<option value="1"{{#if (eq_coerce context.group.hidden 1)}} selected{{/if}}>{{{txt.membergroups_edit_hidden_boardindex}}}</option>
							<option value="2"{{#if (eq_coerce context.group.hidden 2)}} selected{{/if}}>{{{txt.membergroups_edit_hidden_all}}}</option>
						</select>
					</dd>
{{/if}}

{{! Can they inherit permissions? }}
{{#if (and (gt context.group.id 1) (neq context.group.id 3))}}
					<dt id="group_inherit_text">
						<label for="group_inherit_input">
							<strong>{{{txt.membergroups_edit_inherit_permissions}}}</strong>
						</label>:<br>
						<span class="smalltext">{{{txt.membergroups_edit_inherit_permissions_desc}}}</span>
					</dt>
					<dd>
						<select name="group_inherit" id="group_inherit_input">
							<option value="-2">{{{txt.membergroups_edit_inherit_permissions_no}}}</option>
							<option value="-1"{{#if (eq_coerce context.group.inherited_from -1)}} selected{{/if}}>{{{txt.membergroups_edit_inherit_permissions_from}}}: {{{txt.membergroups_guests}}}</option>
							<option value="0"{{#if (eq_coerce context.group.inherited_from 0)}} selected{{/if}}>{{{txt.membergroups_edit_inherit_permissions_from}}}: {{{txt.membergroups_members}}}</option>

	{{! For all the inheritable groups show an option. }}
	{{#each context.inheritable_groups}}
							<option value="{{id}}"{{#if (eq_coerce ../context.group.inherited_from @key)}} selected{{/if}}>{{{../txt.membergroups_edit_inherit_permissions_from}}}: {{{.}}}</option>
	{{/each}}
						</select>
						<input type="hidden" name="old_inherit" value="{{context.group.inherited_from}}">
					</dd>
{{/if}}

					<dt>
						<label for="online_color_input"><strong>{{{txt.membergroups_online_color}}}:</strong></label>
					</dt>
					<dd>
						<input type="text" name="online_color" id="online_color_input" value="{{{context.group.color}}}" size="20">
					</dd>

					<dt>
						<label for="membergroup_has_badge"><strong>{{{txt.membergroup_badge}}}:</strong></label>
					</dt>
					<dd>

{{#if context.possible_icons}}
							<label>
								<input type="checkbox" name="has_badge" value="1" id="membergroup_has_badge"{{#if context.group.has_badge}} checked{{/if}}{{#unless context.group.badge_enabled}} disabled{{/unless}}>
								{{{txt.membergroup_has_badge}}}
							</label>
							{{> helpicon help='membergroup_badge'}}
							<div id="badge_config">
								{{{txt.membergroup_badge_show}}}

								<input type="number" name="icon_count" id="icon_count_input" value="{{{context.group.icon_count}}}" size="4" min="1" max="99">

								<span class="multiplier">{{{txt.membergroup_badge_times}}}</span>

								<select name="icon_image" id="icon_image_input">

	{{#each context.possible_icons}}
									<option value="{{{.}}}"{{#if (eq ../context.group.icon_image .)}} selected{{/if}}>{{{.}}}</option>
	{{/each}}
								</select>

								<div id="badge_preview">
									{{{txt.membergroup_badge_preview}}}
									<span class="image"></span>
								</div>
							</div>
{{else}}
							<input type="hidden" name="icon_image" value="">
							{{{txt.membergroup_no_images}}}
{{/if}}
					</dd>

{{#if (neq context.group.is_character '1')}}
					<dt>
						<label for="max_messages_input"><strong>{{{txt.membergroups_max_messages}}}:</strong></label><br>
						<span class="smalltext">{{{txt.membergroups_max_messages_note}}}</span>
					</dt>
					<dd>
						<input type="text" name="max_messages" id="max_messages_input" value="{{#if (eq_coerce context.group.id 1)}}0{{else}}{{context.group.max_messages}}{{/if}}" size="6"{{#if (eq_coerce context.group.id 1)}} disabled{{/if}}>
					</dd>
{{/if}}

{{! Force 2FA for this membergroup? }}
{{#if (eq modSettings.tfa_mode '2')}}
					<dt>
						<label for="group_tfa_force_input"><strong>{{{txt.membergroups_tfa_force}}}:</strong></label><br>
						<span class="smalltext">{{{txt.membergroups_tfa_force_note}}}</span>
					</dt>
					<dd>
						<input type="checkbox" name="group_tfa_force"{{#if context.group.tfa_required}} checked{{/if}}>
					</dd>
{{/if}}

{{#if context.categories}}
					<dt>
						<strong>{{{txt.membergroups_new_board}}}:</strong>
					</dt>
					<dd>
	{{#if context.can_manage_boards}}
						{{{txt.membergroups_can_manage_access}}}
	{{else}}
						{{> admin_membergroups_boards_list collapse=true}}
	{{/if}}
					</dd>
{{/if}}

				</dl>
				<input type="submit" name="save" value="{{{txt.membergroups_edit_save}}}" class="button_submit">

{{#if context.group.allow_delete}}
				<input type="submit" name="delete" value="{{{txt.membergroups_delete}}}" data-confirm="{{#if context.is_moderator_group}}{{{txt.membergroups_confirm_delete_mod}}}{{else}}{{{txt.membergroups_confirm_delete}}}{{/if}}" class="button_submit you_sure">
{{/if}}
			</div>
			{{session_form}}
			{{token_form 'admin-mmg'}}
		</form>
	</div>
