		<div id="admincenter">
			<form id="admin_form_wrapper" action="{{scripturl}}?action=admin;area=postsettings;sa=censor" method="post" accept-charset="UTF-8">
				<div id="section_header" class="cat_bar">
					<h3 class="catbg">{{{txt.admin_censored_words}}}</h3>
				</div>
				<div class="windowbg noup">
					<p>{{{txt.admin_censored_where}}}</p>

{{#each context.censored_words}}
					<div class="block">
						<input type="text" name="censor_vulgar[]" value="{{{@key}}}" size="30"> =&gt; <input type="text" name="censor_proper[]" value="{{{.}}}" size="30">
					</div>
{{/each}}
					<div class="block">
						<input type="text" name="censor_vulgar[]" value="" size="30"> =&gt; <input type="text" name="censor_proper[]" value="" size="30">
					</div>
					<div id="moreCensoredWords"></div>
					<div class="block" style="display:none" id="moreCensoredWords_link">
						<a class="button_link" href="#;" onclick="addNewWord(); return false;">{{{txt.censor_clickadd}}}</a><br>
					</div>
					<hr>
					<dl class="settings">
						<dt>
							<strong><label for="allow_no_censored">{{{txt.allow_no_censored}}}:</label></strong>
						</dt>
						<dd>
							<input type="checkbox" name="allow_no_censored" value="1" id="allow_no_censored"{{#if modSettings.allow_no_censored}} checked{{/if}}>
						</dd>
						<dt>
							<strong><label for="censorWholeWord_check">{{{txt.censor_whole_words}}}:</label></strong>
						</dt>
						<dd>
							<input type="checkbox" name="censorWholeWord" value="1" id="censorWholeWord_check"{{#if modSettings.censorWholeWord}}checked{{/if}}>
						</dd>
						<dt>
							<strong><label for="censorIgnoreCase_check">{{{txt.censor_case}}}:</label></strong>
						</dt>
						<dd>
							<input type="checkbox" name="censorIgnoreCase" value="1" id="censorIgnoreCase_check"{{#if modSettings.censorIgnoreCase}} checked{{/if}}>
						</dd>
					</dl>
					<input type="submit" name="save_censor" value="{{{txt.save}}}" class="button_submit">
				</div>

				{{! This lets you test our your filters by typing in words and seeing what comes out. }}
				<div class="cat_bar">
					<h3 class="catbg">
						{{{txt.censor_test}}}
					</h3>
				</div>
				<div class="windowbg noup">
					<p class="centertext">
						<input type="text" name="censortest" value="{{{context.censor_test}}}">
						<input type="submit" value="{{{txt.censor_test_save}}}" class="button_submit">
					</p>
				</div>

				{{session_form}}
				{{token_form 'admin-censor'}}
			</form>
		</div>
		<script>
		document.getElementById('moreCensoredWords_link').style.display = '';

		function addNewWord()
		{
			setOuterHTML(document.getElementById('moreCensoredWords'), '<div style="margin-top: 1ex;"><input type="text" name="censor_vulgar[]" size="30"> => <input type="text" name="censor_proper[]" size="30"><' + '/div><div id="moreCensoredWords"><' + '/div>');
		}
		</script>