<div id="admincenter">
	<div class="cat_bar">
		<h3 class="catbg">{{txt.themeadmin_reset_title}}</h3>
	</div>
	<div class="information">
		{{txt.themeadmin_reset_tip}}
	</div>
	<div id="admin_form_wrapper">

{{#each context.themes}}
		<div class="cat_bar">
			<h3 class="catbg">{{name}}</h3>
		</div>
		<div class="windowbg noup">
			<ul>
				<li>
					<a href="{{../scripturl}}?action=admin;area=theme;th={{id}};{{session_url}};sa=reset">{{../txt.themeadmin_reset_defaults}}</a> <em class="smalltext">({{num_default_options}} {{../txt.themeadmin_reset_defaults_current}})</em>
				</li>
				<li>
					<a href="{{../scripturl}}?action=admin;area=theme;th={{id}};{{session_url}};sa=reset;who=1">{{../txt.themeadmin_reset_members}}</a>
				</li>
				<li>
					<a href="{{../scripturl}}?action=admin;area=theme;th={{id}};{{session_url}};sa=reset;who=2;{{token_url 'admin-stor'}}" data-confirm="{{../txt.themeadmin_reset_remove_confirm}}" class="you_sure">{{../txt.themeadmin_reset_remove}}</a> <em class="smalltext">({{num_members}} {{../txt.themeadmin_reset_remove_current}})</em>
				</li>
			</ul>
		</div>
{{/each}}

	</div>
</div>