	{{! Show the logs of spider visits. }}
	<div id="admincenter">
		{{{genericlist 'spider_logs'}}}
		<form id="admin_form_wrapper" action="{{scripturl}}?action=admin;area=sengines;sa=logs" method="post" accept-charset="UTF-8">
			<div class="cat_bar">
				<h3 class="catbg">{{{txt.spider_logs_delete}}}</h3>
			</div>
			<div class="windowbg2 noup">
				<p>
					{{{txt.spider_logs_delete_older}}}
					<input type="text" name="older" id="older" value="7" size="3" class="input_text">
					{{{txt.spider_logs_delete_day}}}
				</p>
				<input type="submit" name="delete_entries" value="{{{txt.spider_logs_delete_submit}}}" onclick="if (document.getElementById('older').value &lt; 1 &amp;&amp; !confirm('{{{context.spider_logs_delete_confirm}}}')) return false; return true;" class="button_submit">
				{{session_form}}
				{{token_form 'admin-sl'}}
			</div>
		</form>
	</div>