	{{! Database maintenance tasks }}
	<div id="manage_maintenance">
		<div class="cat_bar">
			<h3 class="catbg">{{{txt.maintain_optimize}}}</h3>
		</div>
		<div class="windowbg noup">
			<form action="{{scripturl}}?action=admin;area=maintain;sa=database;activity=optimize" method="post" accept-charset="UTF-8">
				<p>{{{txt.maintain_optimize_info}}}</p>
				<input type="submit" value="{{{txt.maintain_run_now}}}" class="button_submit">
				{{session_form}}
				{{token_form 'admin-maint'}}
			</form>
		</div>

{{#if context.convert_to}}
		<div class="cat_bar">
			<h3 class="catbg">{{{context.convert_to_title}}}</h3>
		</div>
		<div class="windowbg noup">
			<form action="{{scripturl}}?action=admin;area=maintain;sa=database;activity=convertmsgbody" method="post" accept-charset="UTF-8">
				<p>{{{txt.mediumtext_introduction}}}</p>
	{{#if context.convert_to_suggest}}
				<p class="infobox">{{{txt.convert_to_suggest_text}}}</p>
	{{/if}}
				<input type="submit" name="evaluate_conversion" value="{{{txt.maintain_run_now}}}" class="button_submit">
				{{session_form}}
				{{token_form 'admin-maint'}}
			</form>
		</div>
{{/if}}
	</div>