	{{! Showing the results of optimizing the database.}}
	<div id="manage_maintenance">
		<div class="cat_bar">
			<h3 class="catbg">{{{txt.maintain_optimize}}}</h3>
		</div>
		<div class="windowbg">
			<p>
				{{{txt.database_numb_tables}}}<br>
				{{{txt.database_optimize_attempt}}}<br>

				{{! List each table being optimized...}}
				{{#each context.optimized_tables}}
				{{textTemplate txt.database_optimizing name data_freed}}<br>
				{{/each}}

				{{! How did we go? }}
				<br>
				{{#unless context.num_tables_optimized}}
					{{{txt.database_already_optimized}}}
				{{else}}
					{{context.num_tables_optimized}} {{{txt.database_optimized}}}
				{{/unless}}

			</p>
			<p><a href="{{scripturl}}?action=admin;area=maintain">{{{txt.maintain_return}}}</a></p>
		</div>
	</div>