	{{! Configuring which permissions profile applies to which board }}
	<div id="admincenter">
		<form id="admin_form_wrapper" action="{{scripturl}}?action=admin;area=permissions;sa=board" method="post" accept-charset="UTF-8">
			<div class="cat_bar">
				<h3 class="catbg">{{{txt.permissions_boards}}}</h3>
			</div>
			<div class="information">
				{{{txt.permissions_boards_desc}}}
			</div>

			<div class="cat_bar">
				<h3 id="board_permissions" class="catbg flow_hidden">
					<span class="perm_name floatleft">{{{txt.board_name}}}</span>
					<span class="perm_profile floatleft">{{{txt.permission_profile}}}</span>
				</h3>
			</div>
			<div class="windowbg noup">

{{#each context.categories}}
				<div class="sub_bar">
					<h3 class="subbg">{{{name}}}</h3>
				</div>

	{{#if boards}}
				<ul class="perm_boards flow_hidden">

		{{#each boards}}
					<li class="flow_hidden">
						<span class="perm_board floatleft">
							<a href="{{scripturl}}?action=admin;area=manageboards;sa=board;boardid={{id}};rid=permissions;{{session_url}}">{{{repeat '-' child_level}}} {{{name}}}</a>
						</span>
						<span class="perm_boardprofile floatleft">

			{{#if ../../context.edit_all}}
							<select name="boardprofile[{{id}}]">

				{{#each ../../context.profiles}}
								<option value="{{@key}}"{{#if (eq_coerce @key ../profile)}} selected{{/if}}>{{{name}}}</option>
				{{/each}}
							</select>
			{{else}}
							<a href="{{scripturl}}?action=admin;area=permissions;sa=index;pid={{profile}};{{session_url}}">{{{profile_name}}}</a>
			{{/if}}
						</span>
					</li>
		{{/each}}
				</ul>
	{{/if}}
{{/each}}

{{#if context.edit_all}}
				<input type="submit" name="save_changes" value="{{{txt.save}}}" class="button_submit">
{{else}}
				<a class="button_link" href="{{scripturl}}?action=admin;area=permissions;sa=board;edit;{{session_url}}">{{{txt.permissions_board_all}}}</a>
{{/if}}

				{{session_form}}
				{{token_form 'admin-mpb'}}
			</div>
		</form>
	</div>