	{{! Showing the button to clear the cache}}
	<div class="cat_bar">
		<h3 class="catbg">{{{txt.maintain_cache}}}</h3>
	</div>
	<div class="windowbg noup">
		<form action="{{scripturl}}?action=admin;area=maintain;sa=routine;activity=cleancache" method="post" accept-charset="UTF-8">
			<p>{{{txt.maintain_cache_info}}}</p>
			<span><input type="submit" value="{{{txt.maintain_run_now}}}" class="button_submit"></span>
			{{session_form}}
			{{token_form 'admin-maint'}}
		</form>
	</div>