	{{! Adding a member group. }}
	<div id="admincenter">
		<form id="new_group" action="{{scripturl}}?action=admin;area=membergroups;sa=add" method="post" accept-charset="UTF-8">
			<div class="cat_bar">
				<h3 class="catbg">{{{txt.membergroups_new_group}}}</h3>
			</div>
			<div class="windowbg noup">
				<dl class="settings">
					<dt>
						<label for="group_name_input"><strong>{{{txt.membergroups_group_name}}}:</strong></label>
					</dt>
					<dd>
						<input type="text" name="group_name" id="group_name_input" size="30" required>
					</dd>

					<dt>
						<label for="group_level_input"><strong>{{{txt.char_group_level}}}:</strong></label>
					</dt>
					<dd>
						<select name="group_level" id="group_level_input">
							<option{{#unless context.character_group}} selected{{/unless}} value="0">{{{txt.char_group_level_acct}}}</option>
							<option{{#if context.character_group}} selected{{/if}} value="1">{{{txt.char_group_level_char}}}</option>
						</select>
					</dd>

{{#if context.undefined_group}}
					<dt>
						<label for="group_type"><strong>{{{txt.membergroups_edit_group_type}}}</strong>:</label>
					</dt>
					<dd>
						<fieldset id="group_type">
							<legend>{{{txt.membergroups_edit_select_group_type}}}</legend>
							<label for="group_type_private">
								<input type="radio" name="group_type" id="group_type_private" value="0" checked>
								{{{txt.membergroups_group_type_private}}}
							</label><br>

	{{#if context.allow_protected}}
							<label for="group_type_protected">
								<input type="radio" name="group_type" id="group_type_protected" value="1">
								{{{txt.membergroups_group_type_protected}}}
							</label><br>
	{{/if}}

							<label for="group_type_request">
								<input type="radio" name="group_type" id="group_type_request" value="2">
								{{{txt.membergroups_group_type_request}}}
							</label><br>
							<label for="group_type_free">
								<input type="radio" name="group_type" id="group_type_free" value="3">
								{{{txt.membergroups_group_type_free}}}
							</label><br>
						</fieldset>
					</dd>
{{/if}}

					<dt>
						<label for="permission_base"><strong>{{{txt.membergroups_permissions}}}:</strong></label><br>
						<span class="smalltext">{{{txt.membergroups_can_edit_later}}}</span>
					</dt>
					<dd>
						<fieldset id="permission_base">
							<legend>{{{txt.membergroups_select_permission_type}}}</legend>
							<input type="radio" name="perm_type" id="perm_type_inherit" value="inherit" checked>
							<label for="perm_type_inherit">{{{txt.membergroups_new_as_inherit}}}:</label>
							<select name="inheritperm" id="inheritperm_select" onclick="document.getElementById('perm_type_inherit').checked = true;">
								<optgroup label="{{{txt.membergroups_regular}}}">
									<option value="-1">{{{txt.membergroups_guests}}}</option>
									<option value="0" selected>{{{txt.membergroups_members}}}</option>

{{#each context.account_groups}}
									<option value="{{id}}">{{{name}}}</option>
{{/each}}
								</optgroup>

{{#if context.character_groups}}
								<optgroup label="{{{txt.membergroups_character}}}">

	{{#each context.character_groups}}
									<option value="{{id}}">{{{name}}}</option>
	{{/each}}
								</optgroup>
{{/if}}
							</select>
							<br>
							<input type="radio" name="perm_type" id="perm_type_copy" value="copy">
							<label for="perm_type_copy">{{{txt.membergroups_new_as_copy}}}:</label>
							<select name="copyperm" id="copyperm_select" onclick="document.getElementById('perm_type_copy').checked = true;">
								<optgroup label="{{{txt.membergroups_regular}}}">
									<option value="-1">{{{txt.membergroups_guests}}}</option>
									<option value="0" selected>{{{txt.membergroups_members}}}</option>

{{#each context.account_groups}}
									<option value="{{id}}">{{{name}}}</option>
{{/each}}
								</optgroup>

{{#if context.character_groups}}
								<optgroup label="{{{txt.membergroups_character}}}">

	{{#each context.character_groups}}
									<option value="{{id}}">{{{name}}}</option>
	{{/each}}
								</optgroup>
{{/if}}
							</select>
							<br>
							<input type="radio" name="perm_type" id="perm_type_predefined" value="predefined">
							<label for="perm_type_predefined">{{{txt.membergroups_new_as_type}}}:</label>
							<select name="level" id="level_select" onclick="document.getElementById('perm_type_predefined').checked = true;">
								<option value="restrict">{{{txt.permitgroups_restrict}}}</option>
								<option value="standard" selected>{{{txt.permitgroups_standard}}}</option>
								<option value="moderator">{{{txt.permitgroups_moderator}}}</option>
								<option value="maintenance">{{{txt.permitgroups_maintenance}}}</option>
							</select>
						</fieldset>
					</dd>

					<dt>
						<strong>{{{txt.membergroups_new_board}}}:</strong>
					</dt>
					<dd>
						{{> admin_membergroups_boards_list collapse=false}}
					</dd>
				</dl>
				<input type="submit" value="{{{txt.membergroups_add_group}}}" class="button_submit">
			</div>

			{{session_form}}
			{{token_form 'admin-mmg'}}
		</form>
	</div>