	{{! Editing an individual smiley. }}
	<div id="admincenter">
		<form action="{{scripturl}}?action=admin;area=smileys;sa=editsmileys" method="post" accept-charset="UTF-8" name="smileyForm" id="smileyForm">
			<div class="cat_bar">
				<h3 class="catbg">{{{txt.smiley_modify_existing}}}</h3>
			</div>
			<div class="windowbg">
				<dl class="settings">
					<dt>
						<strong>{{{txt.smiley_preview}}}: </strong>
					</dt>
					<dd>
						<img src="{{{context.current_smiley.url}}}" id="preview" alt="">
					</dd>
					<dt>
						<strong><label for="smiley_code">{{{txt.smileys_code}}}</label>: </strong>
					</dt>
					<dd>
						<textarea name="smiley_code" id="smiley_code">{{{context.current_smiley.code}}}</textarea>
					</dd>
					<dt>
						<strong><label for="smiley_description">{{{txt.smileys_description}}}</label>: </strong>
					</dt>
					<dd>
						<input type="text" name="smiley_description" id="smiley_description" value="{{{context.current_smiley.description}}}">
					</dd>
					<dt>
						<strong><label for="smiley_location">{{{txt.smileys_location}}}</label>: </strong>
					</dt>
					<dd>
						<select name="smiley_location" id="smiley_location">
							<option value="0"{{#if (eq context.current_smiley.location '0')}} selected{{/if}}>
								{{{txt.smileys_location_form}}}
							</option>
							<option value="1"{{#if (eq context.current_smiley.location '1')}} selected{{/if}}>
								{{{txt.smileys_location_hidden}}}
							</option>
							<option value="2"{{#if (eq context.current_smiley.location '2')}} selected{{/if}}>
								{{{txt.smileys_location_popup}}}
							</option>
						</select>
					</dd>
				</dl>
				<input type="submit" name="smiley_save" value="{{{txt.smileys_save}}}">
				<input type="submit" name="deletesmiley" value="{{{txt.smileys_delete}}}" data-confirm="{{{txt.smileys_delete_confirm}}}" class="you_sure">
			</div>
			{{session_form}}
			<input type="hidden" name="smiley" value="{{context.current_smiley.id_smiley}}">
		</form>
	</div>