	{{! Editing a board category. }}
	<div id="manage_boards">
		<form action="{{scripturl}}?action=admin;area=manageboards;sa=cat2" method="post" accept-charset="UTF-8">
			<input type="hidden" name="cat" value="{{{context.category.id}}}">
			<div class="cat_bar">
				<h3 class="catbg">
{{#if context.category.is_new}}
					{{{txt.mboards_new_cat_name}}}
{{else}}
					{{{txt.catEdit}}}
{{/if}}
				</h3>
			</div>
			<div class="windowbg noup">
				<dl class="settings">

{{! If this isn't the only category, let the user choose where this category should be positioned down the board index.}}
{{#if (gt (count context.category_order) 1)}}
					<dt><strong>{{{txt.order}}}:</strong></dt>
					<dd>
						<select name="cat_order">
	{{! Print every existing category into a select box. }}
	{{#each context.category_order}}
							<option{{#if selected}} selected{{/if}} value="{{id}}">{{{name}}}</option>
	{{/each}}
						</select>
					</dd>
{{/if}}

					{{! Allow the user to edit the category name and/or choose whether you can collapse the category. }}
					<dt>
						<strong>{{{txt.full_name}}}:</strong><br>
						<span class="smalltext">{{{txt.name_on_display}}}</span>
					</dt>
					<dd>
						<input type="text" name="cat_name" value="{{{context.category.editable_name}}}" size="30">
					</dd>

					<dt>
						<strong>{{{txt.mboards_description}}}</strong><br>
						<span class="smalltext">{{{context.category_allowed_tags_desc}}}</span>
					</dt>
					<dd>
						<textarea name="cat_desc" rows="3" cols="35" style="width: 99%;">{{{context.category.description}}}</textarea>
					</dd>

					<dt>
						<strong>{{{txt.collapse_enable}}}</strong><br>
						<span class="smalltext">{{{txt.collapse_desc}}}</span>
					</dt>
					<dd>
						<input type="checkbox" name="collapse"{{#if context.category.can_collapse}} checked{{/if}}>
					</dd>

{{! Show any category settings added by mods using the 'integrate_edit_category' hook. }}
{{#if context.custom_category_settings}}
	{{#each context.custom_category_settings}}
		{{#if (and dt dd)}}
					<dt class="clear{{#unless (is_numeric @key)}} catset_{{@key}}{{/unless}}">
						{{{dt}}}
					</dt>
					<dd{{#unless (is_numeric @key)}} class="catset_{{@key}}"{{/unless}}>
						{{{dd}}}
					</dd>
		{{/if}}
	{{/each}}
{{/if}}
				</dl>

{{#if context.category.is_new}}
				<input type="submit" name="add" value="{{{txt.mboards_add_cat_button}}}" onclick="return !isEmptyText(this.form.cat_name);" class="button_submit">
{{else}}
				<input type="submit" name="edit" value="{{{txt.modify}}}" onclick="return !isEmptyText(this.form.cat_name);" class="button_submit">
				<input type="submit" name="delete" value="{{{txt.mboards_delete_cat}}}" data-confirm="{{{txt.catConfirm}}}" class="button_submit you_sure">
{{/if}}

				{{session_form}}
				{{token_form context.token_check}}

{{! If this category is empty we don't bother with the next confirmation screen. }}
{{#if context.category.is_empty}}
				<input type="hidden" name="empty" value="1">
{{/if}}
			</div>
		</form>
	</div>