	{{! Searching for members in the forum, admin style}}
	<div id="admincenter">
		<form action="{{scripturl}}?action=admin;area=viewmembers" method="post" accept-charset="UTF-8" id="admin_form_wrapper">
			<div class="cat_bar">
				<h3 class="catbg">
					<span class="floatleft">{{{txt.search_for}}}</span>
					<span class="smalltext floatright">{{{txt.wild_cards_allowed}}}</span>
				</h3>
			</div>
			<input type="hidden" name="sa" value="query">
			<div class="windowbg noup">
				<div class="flow_hidden">
					<div class="msearch_details floatleft">
						<dl class="settings right">
							<dt class="righttext">
								<strong><label for="mem_id">{{{txt.member_id}}}:</label></strong>
								<select name="types[mem_id]">
									<option value="--">&lt;</option>
									<option value="-">&lt;=</option>
									<option value="=" selected>=</option>
									<option value="+">&gt;=</option>
									<option value="++">&gt;</option>
								</select>
							</dt>
							<dd>
								<input type="number" name="mem_id" id="mem_id" value="" size="6">
							</dd>
							<dt class="righttext">
								<strong><label for="age">{{{txt.age}}}:</label></strong>
								<select name="types[age]">
									<option value="--">&lt;</option>
									<option value="-">&lt;=</option>
									<option value="=" selected>=</option>
									<option value="+">&gt;=</option>
									<option value="++">&gt;</option>
								</select>
							</dt>
							<dd>
								<input type="number" name="age" id="age" value="" size="6">
							</dd>
							<dt class="righttext">
								<strong><label for="posts">{{{txt.member_postcount}}}:</label></strong>
								<select name="types[posts]">
									<option value="--">&lt;</option>
									<option value="-">&lt;=</option>
									<option value="=" selected>=</option>
									<option value="+">&gt;=</option>
									<option value="++">&gt;</option>
								</select>
							</dt>
							<dd>
								<input type="number" name="posts" id="posts" value="" size="6">
							</dd>
							<dt class="righttext">
								<strong><label for="reg_date">{{{txt.date_registered}}}:</label></strong>
								<select name="types[reg_date]">
									<option value="--">&lt;</option>
									<option value="-">&lt;=</option>
									<option value="=" selected>=</option>
									<option value="+">&gt;=</option>
									<option value="++">&gt;</option>
								</select>
							</dt>
							<dd>
								<input type="date" name="reg_date" id="reg_date" value="" size="10"><span class="smalltext">{{{txt.date_format}}}</span>
							</dd>
							<dt class="righttext">
								<strong><label for="last_online">{{{txt.viewmembers_online}}}:</label></strong>
								<select name="types[last_online]">
									<option value="--">&lt;</option>
									<option value="-">&lt;=</option>
									<option value="=" selected>=</option>
									<option value="+">&gt;=</option>
									<option value="++">&gt;</option>
								</select>
							</dt>
							<dd>
								<input type="date" name="last_online" id="last_online" value="" size="10"><span class="smalltext">{{{txt.date_format}}}</span>
							</dd>
						</dl>
					</div>
					<div class="msearch_details floatright">
						<dl class="settings right">
							<dt class="righttext">
								<strong><label for="membername">{{{txt.username}}}:</label></strong>
							</dt>
							<dd>
								<input type="text" name="membername" id="membername" value="">
							</dd>
							<dt class="righttext">
								<strong><label for="email">{{{txt.email_address}}}:</label></strong>
							</dt>
							<dd>
								<input type="email" name="email" id="email" value="">
							</dd>
							<dt class="righttext">
								<strong><label for="website">{{{txt.website}}}:</label></strong>
							</dt>
							<dd>
								<input type="url" name="website" id="website" value="">
							</dd>
							<dt class="righttext">
								<strong><label for="ip">{{{txt.ip_address}}}:</label></strong>
							</dt>
							<dd>
								<input type="text" name="ip" id="ip" value="">
							</dd>
						</dl>
					</div>
					<div class="msearch_details floatright">
						<fieldset>
							<legend>{{{txt.activation_status}}}</legend>
							<label for="activated-0">
								<input type="checkbox" name="activated[]" value="1" id="activated-0" checked>
								{{{txt.activated}}}
							</label>&nbsp;&nbsp;
							<label for="activated-1">
								<input type="checkbox" name="activated[]" value="0" id="activated-1" checked>
								{{{txt.not_activated}}}
							</label>
						</fieldset>
					</div>
				</div>
			</div>
			<div class="cat_bar">
				<h3 class="catbg">{{{txt.member_part_of_these_membergroups}}}</h3>
			</div>
			<table class="table_grid">
				<thead>
					<tr class="title_bar">
						<th scope="col">{{{txt.membergroups}}}</th>
						<th scope="col" class="centercol quarter_table">{{{txt.primary}}}</th>
						<th scope="col" class="centercol quarter_table">{{{txt.additional}}}</th>
					</tr>
				</thead>
				<tbody>
					{{#each context.membergroups}}
					<tr class="windowbg">
						<td>{{{name}}}</td>
						<td class="centercol">
							<input type="checkbox" name="membergroups[1][]" value="{{id}}" checked>
						</td>
						<td class="centercol">
							{{#if can_be_additional}}<input type="checkbox" name="membergroups[2][]" value="{{id}}" checked>{{/if}}
						</td>
					</tr>
					{{/each}}

					<tr class="windowbg">
						<td>
							<em>{{{txt.check_all}}}</em>
						</td>
						<td class="centercol">
							<input type="checkbox" onclick="invertAll(this, this.form, 'membergroups[1]');" checked>
						</td>
						<td class="centercol">
							<input type="checkbox" onclick="invertAll(this, this.form, 'membergroups[2]');" checked>
						</td>
					</tr>
				</tbody>
			</table>

			<div class="cat_bar">
				<h3 class="catbg">{{{txt.member_characters_in_these_groups}}}</h3>
			</div>
			<table class="table_grid">
				<thead>
					<tr class="title_bar">
						<th scope="col">{{{txt.membergroups}}}</th>
						<th scope="col" class="centercol quarter_table">{{{txt.primary}}}</th>
						<th scope="col" class="centercol quarter_table">{{{txt.additional}}}</th>
					</tr>
				</thead>
				<tbody>

{{#each context.charactergroups}}
					<tr class="windowbg">
						<td>{{{name}}}</td>
						<td class="centercol">
							<input type="checkbox" name="charactergroups[1][]" value="{{id}}" checked>
						</td>
						<td class="centercol">
							{{#if can_be_additional}}<input type="checkbox" name="charactergroups[2][]" value="{{id}}" checked>{{/if}}
						</td>
					</tr>
{{/each}}

					<tr class="windowbg">
						<td>
							<em>{{{txt.check_all}}}</em>
						</td>
						<td class="centercol">
							<input type="checkbox" onclick="invertAll(this, this.form, 'charactergroups[1]');" checked>
						</td>
						<td class="centercol">
							<input type="checkbox" onclick="invertAll(this, this.form, 'charactergroups[2]');" checked>
						</td>
					</tr>
				</tbody>
			</table>
			<br>
			<input type="submit" value="{{{txt.search}}}" class="button_submit">
		</form>
	</div>