		{{! Managing badges of membergroups }}
		<form method="post" action="{{scripturl}}?action=admin;area=membergroups;sa=badges;{{session_url}}">
			<div class="cat_bar">
				<h3 class="catbg">{{{txt.char_group_level_acct}}}</h3>
			</div>
			<div class="windowbg">
				<ul class="sortable">

{{#each context.groups.accounts}}
					<li class="character_group">
						<div class="group_name">

	{{#if online_color}}
							<span style="color:{{online_color}}">{{{group_name}}}</span>
	{{else}}
							{{{group_name}}}
	{{/if}}
						</div>
						<div class="group_icons">

	{{#if parsed_icons}}
							{{{parsed_icons}}}
	{{else}}
							{{{../txt.no_badge}}}
	{{/if}}
						</div>
						<img src="{{../settings.default_images_url}}/toggle.png" class="handle">
						<input type="hidden" name="group[{{id_group}}]" value="{{id_group}}">
					</li>
{{/each}}
				</ul>
			</div>

			<div class="cat_bar">
				<h3 class="catbg">{{{txt.char_group_level_char}}}</h3>
			</div>
			<div class="windowbg">
				<ul class="sortable">

{{#each context.groups.characters}}
					<li class="character_group">
						<div class="group_name">

	{{#if online_color}}
							<span style="color:{{online_color}}">{{{group_name}}}</span>
	{{else}}
							{{{group_name}}}
	{{/if}}
						</div>
						<div class="group_icons">

	{{#if parsed_icons}}
							{{{parsed_icons}}}
	{{else}}
							{{{../txt.no_badge}}}
	{{/if}}
						</div>
						<img src="{{../settings.default_images_url}}/toggle.png" class="handle">
						<input type="hidden" name="group[{{id_group}}]" value="{{id_group}}">
					</li>
{{/each}}
				</ul>
			</div>
			<input type="submit" value="{{{txt.save}}}" class="button_submit">
			{{session_form}}
			<div class="clear"></div>
		</form>