	{{! Edit language entries. Note that this doesn't always work because of PHP's max_post_vars setting. }}
	<div id="admincenter">
		<div class="cat_bar">
			<h3 class="catbg">
				{{{txt.edit_languages}}}
			</h3>
		</div>
		<div id="editlang_desc" class="information">
			{{{txt.edit_language_entries_primary}}}
		</div>

		<div class="windowbg">
			<dl class="editlang_entries">
{{#each context.entries}}
				<dt>
					<a href="{{{link}}}" class="main_icons edit">{{display}}</a>
				</dt>
				<dd>
	{{#if (is_array master)}}
					<i>{{../txt.language_master_values}}:</i>
					<dl>
		{{#each master}}
						<dt>{{@key}}</dt>
						<dd>{{.}}</dd>
		{{/each}}
					</dl>
		{{#if current}}
					<br><i>{{../txt.language_current_values}}:</i>
					<dl>
		{{#each current}}
						<dt>{{@key}}</dt>
						<dd>{{.}}</dd>
		{{/each}}
					</dl>
		{{/if}}
	{{else}}
					<i>{{../txt.language_master_value}}:</i> {{master}}
		{{#if current}}
					<br>
					<i>{{../txt.language_current_value}}:</i> {{current}}
		{{/if}}
	{{/if}}
				</dd>
{{/each}}
			</dl>
		</div>


		<form action="{{scripturl}}?action=admin;area=languages;sa=editlang;lid={{context.lang_id}}" id="entry_form" method="post" accept-charset="UTF-8">
			<div class="cat_bar">
				<h3 class="catbg">
					{{{txt.edit_language_entries}}}
				</h3>
			</div>
			<div id="taskpad" class="floatright">
				{{{txt.edit_language_entries_file}}}:
				<select name="tfid" onchange="if (this.value != -1) document.forms.entry_form.submit();">
					<option value="-1">&nbsp;</option>

{{#each context.possible_files}}
					<optgroup label="{{{name}}}">
	{{#each files}}
						<option value="{{../@key}}+{{id}}"{{#if selected}} selected{{/if}}> =&gt; {{{name}}}</option>
	{{/each}}
					</optgroup>
{{/each}}
				</select>
				{{session_form}}
				{{token_form 'admin-mlang'}}
				<input type="submit" value="{{{txt.go}}}" class="button_submit" style="float: none">
			</div>
			<br class="clear">

{{! Is it not writable? Show an error. }}
{{#if context.entries_not_writable_message}}
			<div class="errorbox">
				{{{context.entries_not_writable_message}}}
			</div>
{{/if}}

{{! Have some entries? }}
{{#if context.split_file_entries}}
			<div class="windowbg">
				<dl class="settings">

	{{#each context.split_file_entries}}
		{{#if (eq (count .) 1)}}
					<dt>
						<span class="smalltext">{{{this.0.key}}}</span>
					</dt>
					<dd></dd>
					<dt>
						<input type="hidden" name="comp[{{{this.0.key}}}]" value="{{{this.0.value}}}">
						<textarea name="entry[{{{this.0.key}}}]" cols="40" rows="{{#if (lt this.0.rows 2)}}2{{else}}{{this.0.rows}}{{/if}}" style="width: 96%;">{{{this.0.value}}}</textarea>
					</dt>
					<dd></dd>
		{{else}}
					<dt>
						<span class="smalltext">{{{this.0.key}}}</span>
					</dt>
					<dd>
						<span class="smalltext">{{{this.1.key}}}</span>
					</dd>
					<dt>
						<input type="hidden" name="comp[{{{this.0.key}}}]" value="{{{this.0.value}}}">
						<textarea name="entry[{{{this.0.key}}}]" cols="40" rows="{{#if (lt this.0.rows 2)}}2{{else}}{{this.0.rows}}{{/if}}" style="width: 96%;">{{{this.0.value}}}</textarea>
					</dt>
					<dd>
						<input type="hidden" name="comp[{{{this.1.key}}}]" value="{{{this.1.value}}}">
						<textarea name="entry[{{{this.1.key}}}]" cols="40" rows="{{#if (lt this.1.rows 2)}}2{{else}}{{this.1.rows}}{{/if}}" style="width: 96%;">{{{this.1.value}}}</textarea>
					</dd>
		{{/if}}
	{{/each}}
				</dl>
			</div>
{{/if}}
		</form>
	</div>