	<div id="admin_form_wrapper">
		<form action="{{scripturl}}?action=admin;area=theme;sa=list;th={{context.theme_settings.theme_id}}" method="post" accept-charset="UTF-8">
			<div class="cat_bar">
				<h3 class="catbg">
					{{> helpicon help='theme_settings'}}
					{{txt.theme_settings}} - {{context.theme_settings.name}}
				</h3>
			</div>
			<br>

{{#if (eq context.theme_settings.theme_id -1)}}
			<div class="cat_bar">
				<h3 class="catbg">
					{{txt.theme_edit}}
				</h3>
			</div>
			<div class="windowbg noup">
				<ul>
					<li>
						<a href="{{scripturl}}?action=admin;area=theme;th={{context.theme_settings.theme_id}};{{session_url}};sa=edit;filename=index.template.php">{{txt.theme_edit_index}}</a>
					</li>
					<li>
						<a href="{{scripturl}}?action=admin;area=theme;th={{context.theme_settings.theme_id}};{{session_url}};sa=edit;directory=css">{{txt.theme_edit_style}}</a>
					</li>
				</ul>
			</div>
{{/if}}
				<div class="cat_bar">
				<h3 class="catbg">
					{{txt.theme_url_config}}
				</h3>
			</div>
			<div class="windowbg noup">
				<dl class="settings">
					<dt>
						<label for="theme_name">{{txt.actual_theme_name}}</label>
					</dt>
					<dd>
						<input type="text" id="theme_name" name="options[name]" value="{{context.theme_settings.name}}" size="32">
					</dd>
					<dt>
						<label for="theme_url">{{txt.actual_theme_url}}</label>
					</dt>
					<dd>
						<input type="text" id="theme_url" name="options[theme_url]" value="{{context.theme_settings.actual_theme_url}}" size="50" style="max-width: 100%; width: 50ex;">
					</dd>
					<dt>
						<label for="images_url">{{txt.actual_images_url}}</label>
					</dt>
					<dd>
						<input type="text" id="images_url" name="options[images_url]" value="{{context.theme_settings.actual_images_url}}" size="50" style="max-width: 100%; width: 50ex;">
					</dd>
					<dt>
						<label for="theme_dir">{{txt.actual_theme_dir}}</label>
					</dt>
					<dd>
						<input type="text" id="theme_dir" name="options[theme_dir]" value="{{context.theme_settings.actual_theme_dir}}" size="50" style="max-width: 100%; width: 50ex;">
					</dd>
				</dl>
			</div>

{{#if context.theme_variants}}
			<div class="cat_bar">
				<h3 class="catbg">
					{{txt.theme_variants}}
				</h3>
			</div>
			<div class="windowbg noup">
				<dl class="settings">
					<dt>
						<label for="variant">{{txt.theme_variants_default}}</label>:
					</dt>
					<dd>
						<select id="variant" name="options[default_variant]" onchange="changeVariant(this.value)">

	{{#each context.theme_variants}}
							<option value="{{@key}}" {{#if (eq ../context.default_variant @key)}} selected{{/if}}>{{label}}</option>
	{{/each}}
						</select>
					</dd>
					<dt>
						<label for="disable_user_variant">{{txt.theme_variants_user_disable}}</label>:
					</dt>
					<dd>
						<input type="hidden" name="options[disable_user_variant]" value="0">
						<input type="checkbox" name="options[disable_user_variant]" id="disable_user_variant"', !empty($context['theme_settings']['disable_user_variant']) ? ' checked' : '', ' value="1">
					</dd>
				</dl>
				<img src="{{context.default_variant.thumbnail}}" id="variant_preview" alt="">
			</div>
{{/if}}
			<div class="cat_bar">
				<h3 class="catbg">
					{{txt.theme_options}}
				</h3>
			</div>
			<div class="windowbg noup">

{{#each context.settings}}
				<dl class="settings">

	{{! if we're a string or empty instead of an array, we are a header }}
	{{#unless (is_array .)}}
		{{#unless (eq @index 0)}}
					<hr>
		{{/unless}}
					<dt><strong>{{.}}</strong></dt>
					<dd></dd>
	{{else}}
					
					<dt>
						<label for="{{id}}"><strong>{{label}}</strong></label>:

		{{#if description}}
						<br>
						<span class="smalltext">{{{description}}}</span>
		{{/if}}
					</dt>

		{{#if (eq type 'checkbox')}}
					<dd>
						<input type="hidden" name="{{#if default}}default_{{/if}}options[{{id}}]" value="0">
						<input type="checkbox" name="{{#if default}}default_{{/if}}options[{{id}}]" id="{{id}}"{{#if value}} checked{{/if}} value="1">
					</dd>
		{{/if}}
		{{#if (eq type 'list')}}
					<dd>
						<select name="{{#if default}}default_{{/if}}options[{{id}}]" id="{{id}}">

			{{#each options}}
							<option value="{{@key}}"{{#if (eq_coerce @key ../value)}} selected{{/if}}>{{.}}</option>
			{{/each}}
						</select>
					</dd>
		{{/if}} 

		{{#if (eq type 'textarea')}}
					<dd>
						<textarea rows="4" style="width: 95%;" cols="40" name="{{#if default}}default_{{/if}}options[{{id}}]" id="{{id}}">{{value}}</textarea>
					</dd>
		{{/if}}

		{{#if (or (eq type 'text') (eq type 'url'))}}
					<dd>
						<input type="{{type}}" name="{{#if default}}default_{{/if}}options[{{id}}]" id="options_{{id}}" value="{{value}}" size="{{#if size}}{{size}}{{else}}40{{/if}}">
					</dd>
		{{/if}}

		{{#if (eq type 'number')}}
					<dd>
						<input type="number" min="{{#if min}}{{min}}{{else}}0{{/if}}" max="{{max}}" step="{{step}}" name="{{#if default}}default_{{/if}}options[{{id}}]" id="options_{{id}}" value="{{value}}" size="5">
					</dd>
		{{/if}}	
	{{/unless}}
				</dl>
{{/each}}
				<input type="submit" name="save" value="{{txt.save}}" class="button_submit">
				{{session_form}}
				{{token_form 'admin-sts'}}
			</div>
		</form>
	</div>

{{#if context.theme_variants}}
	<script>
		var oThumbnails = {
			{{#each context.theme_variants}}
			'{{@key}}': '{{thumbnail}}'{{#unless (eq @index (count ../context.theme_variants))}},{{/unless}}
			{{/each}}
		}
		</script>
{{/if}}