	<div id="admincenter">
		<div id="section_header" class="cat_bar">
			<h3 class="catbg">
				{{{txt.admin_version_check}}}
			</h3>
		</div>
		<div class="information">{{{txt.version_check_desc}}}</div>
		<div id="versions">
			<table class="table_grid">
				<thead>
					<tr class="title_bar">
						<th class="half_table">
							<strong>{{txt.admin_storybbfile}}</strong>
						</th>
						<th class="quarter_table">
							<strong>{{txt.dvc_your}}</strong>
						</th>
						<th class="quarter_table">
							<strong>{{txt.dvc_current}}</strong>
						</th>
					</tr>
				</thead>
				<tbody>
				    <tr class="windowbg">
						<td class="half_table">
    						{{txt.admin_storybbpackage}}
    					</td>
						<td class="quarter_table">
							<em id="yourSMF">{{context.forum_version}}</em>
						</td>
						<td class="quarter_table">
							<em id="currentSMF">??</em>
						</td>
					</tr>
					<tr class="windowbg">
						<td class="half_table">
							<a href="#" id="Sources-link">{{txt.dvc_sources}}</a>
						</td>
						<td class="quarter_table">
							<em id="yourSources">??</em>
					    </td>
						<td class="quarter_table">
							<em id="currentSources">??</em>
						</td>
					</tr>
				</tbody>
			</table>

			<table id="Sources" class="table_grid">
			<tbody>
	    {{#each context.file_versions}}
    			<tr class="windowbg">
    				<td class="half_table">
    					{{@key}}
    				</td>
    				<td class="quarter_table">
    					<em id="yourSources{{@key}}">{{.}}</em>
    				</td>
    				<td class="quarter_table">
    					<em id="currentSources{{@key}}">??</em>
    				</td>
    			</tr>
		{{/each}}
			</tbody>
			</table>
			<table class="table_grid">
				<tbody>
					<tr class="windowbg">
						<td class="half_table">
							<a href="#" id="Default-link">{{txt.dvc_default}}</a>
						</td>
						<td class="quarter_table">
							<em id="yourDefault">??</em>
						</td>
						<td class="quarter_table">
							<em id="currentDefault">??</em>
						</td>
					</tr>
				</tbody>
			</table>

			<table id="Default" class="table_grid">
				<tbody>

        {{#each context.default_template_versions}}
				<tr class="windowbg">
					<td class="half_table">
						{{@key}}
					</td>
					<td class="quarter_table">
						<em id="yourDefault{{@key}}">{{.}}</em>
					</td>
					<td class="quarter_table">
						<em id="currentDefault{{@key}}">??</em>
					</td>
				</tr>
        {{/each}}
			</tbody>
		</table>

		<table class="table_grid">
			<tbody>
				<tr class="windowbg">
					<td class="half_table">
						<a href="#" id="Languages-link">{{txt.dvc_languages}}</a>
					</td>
					<td class="quarter_table">
						<em id="yourLanguages">??</em>
					</td>
					<td class="quarter_table">
						<em id="currentLanguages">??</em>
					</td>
				</tr>
			</tbody>
		</table>

		<table id="Languages" class="table_grid">
			<tbody>
	{{#each context.default_language_versions}}
	    {{#each .}}
	            <tr class="windowbg">
					<td class="half_table">
						{{@key}}.<em>{{../@key}}</em>.php
					</td>
					<td class="quarter_table">
						<em id="your{{@key}}.{{../@key}}">{{.}}</em>
					</td>
					<td class="quarter_table">
						<em id="current{{@key}}.{{../@key}}">??</em>
					</td>
				</tr>
		{{/each}}
	{{/each}}
	        </tbody>
        </table>
	{{#if context.template_versions}}
	    <table class="table_grid">
    		<tbody>
    			<tr class="windowbg">
    				<td class="half_table">
    					<a href="#" id="Templates-link">', $txt['dvc_templates'], '</a>
    				</td>
    				<td class="quarter_table">
    					<em id="yourTemplates">??</em>
    				</td>
    				<td class="quarter_table">
    					<em id="currentTemplates">??</em>
    				</td>
    			</tr>
    		</tbody>
    	</table>

		<table id="Templates" class="table_grid">
			<tbody>
	    {{#each context.template_versions}}
	        <tr class="windowbg">
				<td class="half_table">
					{{@key}}
				</td>
				<td class="quarter_table">
					<em id="yourTemplates{{@key}}">{{.}}</em>
				</td>
				<td class="quarter_table">
					<em id="currentTemplates{{@key}}">??</em>
				</td>
			</tr>
            </tbody>
        {{/each}}
		</table>
	{{/if}}
	{{#if context.tasks_versions}}
		<table class="table_grid">
			<tbody>
				<tr class="windowbg">
					<td class="half_table">
						<a href="#" id="Tasks-link">{{txt.dvc_tasks}}</a>
					</td>
					<td class="quarter_table">
						<em id="yourTasks">??</em>
					</td>
					<td class="quarter_table">
						<em id="currentTasks">??</em>
					</td>
				</tr>
			</tbody>
		</table>

		<table id="Tasks" class="table_grid">
			<tbody>

		{{#each context.tasks_versions}}
    			<tr class="windowbg">
    				<td class="half_table">
    					{{@key}}
    				</td>
    				<td class="quarter_table">
    					<em id="yourTasks{{@key}}">{{.}}</em>
    				</td>
    				<td class="quarter_table">
    					<em id="currentTasks{{@key}}">??</em>
    				</td>
    			</tr>
    	{{/each}}
			</tbody>
		</table>
	{{/if}}
	</div>
	</div>
	
	
	{{!-- Below is the hefty javascript for this. Upon opening the page it checks the current file versions with ones
	   held at simplemachines.org and works out if they are up to date.  If they aren't it colors that files number
	   red.  It also contains the function, swapOption, that toggles showing the detailed information for each of the
	   file categories. (sources, languages, and templates.) --}}
    <script src="{{scripturl}}?action=viewsmfile;filename=detailed-version.js"></script>
	<script>
		var oViewVersions = new smf_ViewVersions({
			aKnownLanguages: {{array2js context.default_known_languages}},
			oSectionContainerIds: {
				Sources: 'Sources',
				Default: 'Default',
				Languages: 'Languages',
				Templates: 'Templates',
				Tasks: 'Tasks'
			}
		});
	</script>