		<div id="admincenter">
			{{block_region 'admin-home'}}

{{! Output the sections of the admin page }}
{{#each context.admin_menu.sections}}
				<fieldset id="group_{{@key}}" class="windowbg admin_group">
					<legend>{{title}}</legend>

	{{#each areas}}
		{{#unless (eq @key "index")}}
			{{#if icon_file}}
					<a href="{{url}}" class="admin_group{{#if inactive}} inactive{{/if}}"><img class="large_admin_menu_icon_file" src="{{icon_file}}" alt="">{{label}}</a>
			{{else}}
					<a href="{{url}}"><span class="large_{{icon_class}}{{#if inactive}} inactive{{/if}}"></span>{{label}}</a>
			{{/if}}
		{{/unless}}
	{{/each}}
				</fieldset>
{{/each}}
		</div>