		<div id="admincenter">
			<div id="update_section"></div>
			<div id="admin_main_section">
				<div id="live_news" class="floatleft">
					<div class="cat_bar">
						<h3 class="catbg">
							{{txt.live}}
						</h3>
					</div>
					<div class="windowbg nopadding">
						<div id="sbbAnnouncements">
							{{#if context.admin_news.sbbAnnouncements.en}}
								{{#each context.admin_news.sbbAnnouncements.en}}
								<dt><a href="{{href}}">{{subject}}</a> {{{../txt.on}}} {{time}}</dt>
								<dd>{{message}}</dd>
								{{/each}}
							{{else}}
								{{{txt.lfyi}}}
							{{/if}}
						</div>{{! dl? }}
					</div>
				</div>
				<div id="supportVersionsTable" class="floatright">
					<div class="cat_bar">
						<h3 class="catbg">
							<a href="{{scripturl}}?action=admin;area=credits">{{txt.support_title}}</a>
						</h3>
					</div>
					<div class="windowbg nopadding">
						<div id="version_details" class="padding">
							<strong>{{txt.support_versions}}:</strong><br>
							{{txt.support_versions_forum}}:
							<em><span class="{{#if context.admin_news.needs_update}}alert{{else}}up-to-date{{/if}}">{{context.forum_version}}</span></em><br>
							{{txt.support_versions_current}}:
							<em>StoryBB {{context.admin_news.current_version}}</em>
							{{#if context.can_admin}}<a href="{{scripturl}}?action=admin;area=maintain;sa=routine;activity=version">{{txt.version_check_more}}</a>{{/if}}<br><br>

							{{#each context.current_versions}}
							{{title}}: <em>{{version}}</em><br>
							{{/each}}

							<br>
							
							{{! Display all the members who can administrate the forum. }}
							<strong>{{txt.administrators}}:</strong>
							{{{join context.administrators ', '}}}

							{{! If we have lots of admins... don't show them all. }}
							{{#if context.more_admins_link}}
								({{{context.more_admins_link}}})
							{{/if}}

						</div>
					</div>
				</div>
			</div>

			{{! Output the sections of the admin page }}
			{{#each context.admin_menu.sections}}
				<fieldset id="group_{{@key}}" class="windowbg admin_group">
					<legend>{{title}}</legend>

					{{#each areas}}
						{{#unless (eq @key "index")}}
							{{#if icon_file}}
					<a href="{{url}}" class="admin_group{{#if inactive}} inactive{{/if}}"><img class="large_admin_menu_icon_file" src="{{icon_file}}" alt="">{{label}}</a>
							{{else}}
					<a href="{{url}}"><span class="large_{{icon_class}}{{#if inactive}} inactive{{/if}}"></span>{{label}}</a>
							{{/if}}
						{{/unless}}
					{{/each}}
				</fieldset>
			{{/each}}
		</div>