		{{! The main character list (as opposed to member list) }}
		<div class="cat_bar">
			<h3 class="catbg">
				{{{txt.chars_menu_title}}}
			</h3>
		</div>

{{#if context.filterable_groups}}
		<div class="information">
			<form action="{{scripturl}}?action=characters" method="post">
				<a href="javascript:void(0);" id="filter_opts_link" onclick="$('#filter_opts').show(); $(this).hide(); return false;" class="toggle_down">{{{txt.filter_characters}}}</a>
				<fieldset id="filter_opts" style="display:none">
					<legend>
						<a href="javascript:void(0);" onclick="$(this).closest('fieldset').hide();$('#filter_opts_link').show(); return false;" class="toggle_up"> {{{txt.filter_characters}}}</a>
					</legend>

	{{#each context.filterable_groups}}
					<div class="filter_container">
						<label>
							<input type="checkbox"{{#if (is_array ../context.filter_groups)}}{{#if (in_array @key ../context.filter_groups)}} checked{{/if}}{{else}} disabled{{/if}} name="filter[]" value="{{@key}}">
							<div class="group_name">{{{group_name}}}</div>
							<div class="group_badge">{{{parsed_icons}}}</div>
						</label>
					</div>
	{{/each}}

	{{#if context.filter_characters_in_no_groups}}
					<div class="filter_container">
						<label>
							<input type="checkbox"{{#if (and context.filter_groups (not (is_array context.filter_groups)))}} checked{{/if}} name="filter[]" id="ungroup" value="-1" onchange="$('.filter_container input:not(#ungroup)').prop('disabled', this.checked)">
							<div class="group_name">{{{txt.characters_in_no_groups}}}</div>
							<div class="group_badge"></div>
						</label>
					</div>
	{{/if}}

					<div class="clearfix">
						<input type="submit" class="button_submit" value="{{{txt.apply_filter}}}">
					</div>
				</fieldset>
			</form>
		</div>
{{/if}}

{{#unless context.char_list}}
		<div class="windowbg">{{{txt.characters_none}}}</div>
{{else}}
			{{{context.page_index}}}
			<div class="char_list_container">

	{{#each context.char_list}}
				<div class="windowbg char_list">
					<div class="char_list_name">
						<a href="{{scripturl}}?action=profile;u={{id_member}};area=characters;char={{id_character}}">{{{character_name}}}</a>
					</div>
					<div class="char_list_avatar">
						<img src="{{{avatar}}}" class="avatar">
					</div>
					<div class="char_list_group">
						{{#if group_title}}{{{group_title}}}{{else}}<em>{{{../txt.char_no_group}}}</em>{{/if}}
					</div>
					<div class="char_list_posts">
						{{{../txt.member_postcount}}}: {{{posts}}}
					</div>
					<div class="char_list_created">
						{{{date_created_format}}}
					</div>
					<div class="char_list_sheet">

		{{#if (eq retired '1')}}
						{{{../txt.char_retired}}}
		{{else}}
			{{#if (gt char_sheet 0)}}
						<a href="{{../scripturl}}?action=profile;u={{id_member}};area=characters;char={{id_character}};sa=sheet">{{{../txt.char_sheet}}}</a>
			{{else}}
						<em>{{{../txt.char_sheet_none_short}}}</em>
			{{/if}}
		{{/if}}
					</div>
				</div>
	{{/each}}
			</div>
{{/unless}}