			<div class="cat_bar">
				<h3 class="catbg">{{txt.manual_sbb_user_help}}</h3>
			</div>
			<div id="help_container">
				<div id="helpmain" class="windowbg2">
					<p>{{textTemplate txt.manual_welcome context.forum_name_html_safe}}</p>
					<p>{{{txt.manual_introduction}}}</p>
					<ul>{{#each context.manual_sections}}
					<li><a href="{{../context.wiki_url}}/{{../context.wiki_prefix}}{{.}}{{getLangSuffix ../txt.lang_dictionary}}" target="_blank" class="new_win">{{get_text "manual_section_" @key "_title"}}</a> - {{{get_text "manual_section_" @key "_desc"}}}</li>
                    {{/each}}
					</ul>
					<p>{{textTemplate txt.manual_docs context.wiki_url}}</p>
				</div>
			</div>