{{#if modSettings.requireAgreement}}
<div class="cat_bar">
	<h3 class="catbg">
		{{txt.terms_and_rules}} - {{context.forum_name_html_safe}}
	</h3>
</div>
<div class="roundframe">
	{{{context.agreement}}}
</div>
{{else}}
<div class="noticebox">
	{{{txt.agreement_disabled}}}
</div>
{{/if}}