	<div class="login">
			<div class="cat_bar">
				<h3 class="catbg">
					{{txt.tfa_profile_label}}
				</h3>
			</div>
			<div class="roundframe noup">

{{#if context.tfa_error}}
				<div class="error">{{txt.tfa_code_invalid}}</div>
{{/if}}

{{#if context.tfa_backup_error}}
				<div class="error">{{txt.tfa_backup_invalid}}</div>
{{/if}}
				<form action="{{context.tfa_url}}" method="post" id="frmTfa">
					<div id="tfaCode">
						{{txt.tfa_login_desc}}<br>
						<div>
							<strong>{{txt.tfa_code}}:</strong>
							<input type="text" name="tfa_code" style="width: 150px;" value="{{context.fa_value}}">
							<input type="submit" name="submit" value="{{txt.login}}" style="float: none; margin: 0;"><br />
						</div><br />
						<div>
							<input type="checkbox" value="1" name="tfa_preserve" id="tfa_preserve"/>
							<label for="tfa_preserve">&nbsp;{{txt.tfa_preserve}}</label>
						</div>
						<hr />
						<input type="button" class="button_submit" name="backup" value="{{txt.tfa_backup}}" style="float: none; margin: 0;">
					</div>
					<div id="tfaBackup" style="display: none;">
						{{txt.tfa_backup_desc}}<br>
						<strong>{{txt.tfa_backup_code}}: </strong>
						<input type="text" name="tfa_backup" style="width: 150px;" value="{{context.tfa_backup}}">
						<input type="submit" name="submit" value="{{txt.login}}">
					</div>
				</form>
				<script>
						form = $("#frmTfa");

{{#if context.from_ajax}}
						form.submit(function(e) {
							// If we are submitting backup code, let normal workflow follow since it redirects a couple times into a different page
							if (form.find("input[name=tfa_backup]:first").val().length > 0)
								return true;

							e.preventDefault();
							e.stopPropagation();

							$.post(form.prop("action"), form.serialize(), function(data) {
								if (data.indexOf("<bo" + "dy") > -1)
									document.location = {{{json context.login_url}}}
								else {
									form.parent().html($(data).find(".roundframe").html());
								}
							});
							return false;
						});
{{/if}}
						form.find("input[name=backup]").click(function(e) {
							$("#tfaBackup").show();
							$("#tfaCode").hide();
						});
				</script>
			</div>
		</div>