<div class="main_section" id="memberlist">
	<div class="pagesection">
		{{>button_strip button_strip=context.memberlist_buttons direction="right" txt=txt}}
		<div class="pagelinks floatleft">{{{context.page_index}}}</div>
	</div>
	<div class="cat_bar">
		<h3 class="catbg">
			<span class="floatleft">{{txt.members_list}}</span>
			{{#unless context.old_search}}
				<span class="floatright">{{{context.letter_links}}}</span>
			{{/unless}}
		</h3>
	</div>
	<div id="mlist">
		<table class="table_grid">
			<thead>
				<tr class="title_bar">
					{{#each context.columns}}
						{{#if selected}}<th scope="col" class="{{@key}} {{class}} selected" style="width: auto;" {{#if colspan}} colspan="{{column}}"{{/if}}>
							<a href="{{href}}" rel="nofollow">{{label}}</a><span class="generic_icons sort_{{context.sort_direction}}"></span></th>
						{{else}}
							<th scope="col" class="{{@key}} {{class}}" {{#if width}}style="width: {{width}}"{{/if}} {{#if colspan}} colspan="{{colspan}}"{{/if}}>
							{{{link}}}</th>
						{{/if}}
					{{/each}}
				</tr>
			</thead>
			<tbody>
				{{#unless context.members}}
				<tr>
					<td colspan="{{context.colspan}}" class="windowbg">{{txt.search_no_results}}</td>
				</tr>
				{{/unless}}
				{{#each context.members}}
					<tr class="windowbg" {{#if sort_letter}} id="letter{{sort_letter}}"{{/if}}>
					<td class="centertext">
						{{#if context.can_send_pm}}<a href="{{online.href}}" title="{{online.text}}">{{/if}}
						<span class="{{#if online.is_online}}on{{else}}off{{/if}}" title="{{online.text}}"></span>
						{{{online.label}}}{{#if context.can_send_pm}}</a>{{/if}}
					</td>
					<td class="lefttext">{{{link}}}</td>
					{{#unless context.disabled_fields.website}}
						<td class="centertext website_url"> {{#if website.url}}<a href="{{website.url}}" target="_blank" rel="noopener"><span class="generic_icons www" title="{{website.title}}"></span></a>{{/if}}</td>
					{{/unless}}
					<td class="centertext reg_group">{{#if member.group}} {{group}}{{else}} {{post_group}}{{/if}}</td>
					<td class="centertext reg_date">{{registered_date}}</td>
					{{#unless context.disabled_fields.posts}}
					<td class="centertext" style="white-space: nowrap; width: 15px">{{posts}}</td>
					<td class="centertext statsbar" style="width: 120px">
						{{#if post_percent}}
						<div class="bar" style="width: {{post_percent}}px;">
							<div style="width: {{post_percent}}px;"></div>
						</div>
						{{/if}}
					</td>
					{{/unless}}
					{{#each ../context.custom_profile_fields.columns}}
						<td class="righttext">{{{lookup ../options @key}}}</td>
					{{/each}}
					</tr>
				{{/each}}
			</tbody>
		</table>
	</div>
	<div class="pagesection">
		<div class="pagelinks floatleft">{{{context.page_index}}}</div>
		{{#if context.old_search}}  <a class="button_link" href="{{scripturl}}?action=mlist;sa=search;search={{context.old_search_value}}">{{txt.mlist_search_again}}</a>{{/if}}
	</div>
</div>