<form action="{{scripturl}}?action=mlist;sa=search" method="post" accept-charset="{{context.character_set}}">
	<div id="memberlist">
		<div class="pagesection">
			{{>button_strip button_strip=context.memberlist_buttons direction="right" txt=txt}}
		</div>
		<div class="cat_bar">
			<h3 class="catbg mlist">
				<span class="main_icons filter"></span>
				{{txt.mlist_search}}
			</h3>
		</div>
		<div id="advanced_search" class="roundframe noup">
			<dl id="mlist_search" class="settings">
				<dt>
					<label><strong>{{txt.search_for}}:</strong></label>
				</dt>
				<dd>
					<input type="text" name="search" value="{{context.old_search}}" size="40">
				</dd>
				<dt>
					<label><strong>{{txt.mlist_search_filter}}:</strong></label>
				</dt>
				<dd>
					<ul>

{{#each context.search_fields}}
						<li>
							<input type="checkbox" name="fields[]" id="fields-{{@key}}" value="{{@key}}"{{#if (in_array @key ../context.search_defaults)}} checked{{/if}}>
							<label for="fields-{{@key}}">{{.}}</label>
						</li>
{{/each}}
					</ul>
				</dd>
			</dl>
			<input type="submit" name="submit" value="{{txt.search}}" class="button_submit">
		</div>
	</div>
</form>