	{{! Moderation settings. }}
	<div id="modcenter">
	{{#if context.can_moderate_approvals}}
		<form action="{{scripturl}}?action=moderate;area=settings" method="post" accept-charset="UTF-8">
			<div class="windowbg">
				<dl class="settings">
					<dt>
						<strong><label for="mod_notify_approval">{{{txt.mc_prefs_notify_approval}}}</label>:</strong>
					</dt>
					<dd>
						<input type="checkbox" id="mod_notify_approval" name="mod_notify_approval"{{#if context.mod_settings.notify_approval}} checked{{/if}}>
					</dd>
				</dl>
				{{session_form}}
				{{token_form 'mod-set'}}
				<input type="submit" name="save" value="{{{txt.save}}}" class="button_submit">
			</div>
		</form>
	{{else}}
		<div class="windowbg">
			<div class="centertext">{{{txt.mc_no_settings}}}</div>
		</div>
	{{/if}}
	</div>