	{{! Editing a moderator comment. }}
	<div id="modcenter">
		<form action="{{scripturl}}?action=moderate;area=reported{{context.report_type}};sa=editcomment;mid={{context.comment_id}};rid={{context.report_id}};save" method="post" accept-charset="UTF-8">
			<br>
			<div class="cat_bar">
				<h3 class="catbg">{{{txt.mc_modreport_edit_mod_comment}}}</h3>
			</div>
			<div class="windowbg">
				<textarea rows="6" cols="60" style="width: 60%;" name="mod_comment">{{{context.comment.body}}}</textarea>
				<div>
					<input type="submit" name="edit_comment" value="{{{txt.mc_modreport_edit_mod_comment}}}" class="button_submit">
				</div>
			</div>
			<br>
			{{token_form 'mod-reportC-edit'}}
			{{session_form}}
		</form>
	</div>