	{{! Add or edit a warning template. }}
	<div id="modcenter">
		<form action="{{scripturl}}?action=moderate;area=warnings;sa=templateedit;tid={{{context.id_template}}}" method="post" accept-charset="UTF-8">
			<div class="cat_bar">
				<h3 class="catbg">{{{context.page_title}}}</h3>
			</div>
			<div class="information">
				{{{txt.mc_warning_template_desc}}}
			</div>
			<div class="windowbg">
				<div class="errorbox"{{#unless context.warning_errors}} style="display: none"{{/unless}} id="errors">
					<dl>
						<dt>
							<strong id="error_serious">{{{txt.error_while_submitting}}}</strong>
						</dt>
						<dd class="error" id="error_list">
							{{#if context.warning_errors}}{{{join context.warning_errors '<br>'}}}{{/if}}
						</dd>
					</dl>
				</div>
				<div id="box_preview"{{#unless context.template_preview}} style="display:none"{{/unless}}>
					<dl class="settings">
						<dt>
							<strong>{{{txt.preview}}}</strong>
						</dt>
						<dd id="template_preview">
							{{#if context.template_preview}}{{{context.template_preview}}}{{/if}}
						</dd>
					</dl>
				</div>
				<dl class="settings">
					<dt>
						<strong><label for="template_title">{{{txt.mc_warning_template_title}}}</label>:</strong>
					</dt>
					<dd>
						<input type="text" id="template_title" name="template_title" value="{{{context.template_data.title}}}" size="30" class="input_text">
					</dd>
					<dt>
						<strong><label for="template_body">{{{txt.profile_warning_notify_body}}}</label>:</strong><br>
						<span class="smalltext">{{{txt.mc_warning_template_body_desc}}}</span>
					</dt>
					<dd>
						<textarea id="template_body" name="template_body" rows="10" cols="45" class="smalltext">{{{context.template_data.body}}}</textarea>
					</dd>
				</dl>

				{{#if context.template_data.can_edit_personal}}
				<input type="checkbox" name="make_personal" id="make_personal"{{#if context.template_data.personal}} checked{{/if}}>
					<label for="make_personal">
						<strong>{{{txt.mc_warning_template_personal}}}</strong>
					</label>
					<br>
					<span class="smalltext">{{{txt.mc_warning_template_personal_desc}}}</span>
					<br>
				{{/if}}

				<hr>
				<input type="submit" name="preview" id="preview_button" value="{{{txt.preview}}}" class="button_submit">
				<input type="submit" name="save" value="{{{context.page_title}}}" class="button_submit">
			</div>
			{{session_form}}
			{{token_form 'mod-wt'}}
		</form>
	</div>

	<script>
		$(document).ready(function() {
			$("#preview_button").click(function() {
				return ajax_getTemplatePreview();
			});
		});

		function ajax_getTemplatePreview ()
		{
			$.ajax({
				type: "POST",
				url: "{{scripturl}}?action=xmlhttp;sa=previews;xml",
				data: {item: "warning_preview", title: $("#template_title").val(), body: $("#template_body").val(), user: $('input[name="u"]').attr("value")},
				context: document.body,
				success: function(request){
					$("#box_preview").css({display:""});
					$("#template_preview").html($(request).find('body').text());
					if ($(request).find("error").text() != '')
					{
						$("#errors").css({display:""});
						var errors_html = '';
						var errors = $(request).find('error').each(function() {
							errors_html += $(this).text() + '<br>';
						});

						$(document).find("#error_list").html(errors_html);
					}
					else
					{
						$("#errors").css({display:"none"});
						$("#error_list").html('');
					}
				return false;
				},
			});
			return false;
		}
	</script>