{{#if context.becomesUnapproved}}
	<div class="noticebox">
		{{txt.post_becomesUnapproved}}
	</div>
{{/if}}

{{#if context.boards}}
	<div id="board_{{context.current_board}}_childboards" class="boardindex_table">
		<div class="cat_bar">
			<h3 class="catbg">{{txt.sub_boards}}</h3>
		</div>

	{{#each context.boards}}
		<div id="board_{{id}}" class="up_contain">
			<div class="board_icon">
				<a href="{{#if (or is_redirect ../context.user.is_guest)}}{{href}}{{else}}{{../scripturl}}?action=unread;board={{id}}.0;children{{/if}}" class="board_{{board_class}}"{{#if board_tooltip}} title="{{board_tooltip}}"{{/if}}></a>
			</div>
			<div class="info">
				<a class="subject mobile_subject" href="{{href}}" id="b{{id}}">
					{{name}}
					<p class="board_description mobile_display">{{description}}</p>
				</a>

		{{#if (and can_approve_posts (or unapproved_posts unapproved_topics))}}
				<a href="{{../scripturl}}?action=moderate;area=postmod;sa={{#if unapproved_topics}}topics{{else}}posts{{/if}};brd={{id}};{{session_url}}" title="{{textTemplate 'unapproved_posts' unapproved_topics unapproved_posts}}" class="moderation_link">(!)</a>
		{{/if}}

				<p class="board_description">{{description}}</p>

		{{#if (or moderators moderator_groups)}}
				<p class="moderators">
					{{#if (eq (getNumItems link_moderators) 1)}}{{../txt.moderator}}{{else}}{{../txt.moderators}}{{/if}}: {{{join link_moderators ', '}}}
				</p>
		{{/if}}

			</div>
			<div class="board_stats centertext">
				<p>{{comma posts}} {{#if is_redirect}}{{../txt.redirects}}{{else}}{{../txt.posts}}{{/if}}<br>
				{{#unless is_redirect}}{{comma topics}} {{../txt.board_topics}}{{/unless}}
				</p>
			</div>
			<div class="lastpost lpr_border">

		{{#if last_post.id}}
				<p>{{{last_post.last_post_message}}}</p>
		{{/if}}

			</div>

		{{#if children}}
			<div id="board_{{id}}_children" class="children">
				<p><strong>{{../txt.sub_boards}}</strong>: {{child_boards .}}</p>
			</div>
		{{/if}}

		</div>
	{{/each}}
	</div><!-- #board_{{context.current_board}}_childboards -->
{{/if}}

{{#unless context.no_topic_listing}}
	<div class="mobile_buttons floatright">
		<a class="button mobile_act">{{txt.mobile_action}}</a>
	</div>
	<div class="pagesection">
		{{context.menu_separator}}<a href="#bot" class="topbottom floatleft">{{txt.go_down}}</a>
		<div class="pagelinks floatleft">{{{context.page_index}}}</div>
		{{>button_strip button_strip=context.normal_buttons direction='right'}}
	</div>

	{{#if (or context.description context.moderators)}}
	<div id="description_board" class="generic_list_wrapper">
		<h3>{{context.name}}</h3>
		<p>
		{{context.description}}&nbsp;

		{{#if context.moderators}}
			{{#if (eq (getNumItems context.moderators) 1)}}{{txt.moderator}}{{else}}{{txt.moderator}}{{/if}}: {{{join context.link_moderators ', '}}}.
		{{/if}}

		</p>
	</div>
	{{/if}}

	{{#if (and context.can_quick_mod context.topics)}}
	<form action="{{scripturl}}?action=quickmod;board={{context.current_board}}.{{context.start}}" method="post" accept-charset="UTF-8" class="clear" name="quickModForm" id="quickModForm">
	{{/if}}

		<div id="messageindex">

	{{#if settings.display_who_viewing}}
			<div class="information">

		{{#if (eq settings.display_who_viewing 1)}}
				{{#if (eq (getNumItems context.view_members) 1)}}{{txt.who_member}}{{else}}{{txt.members}}{{/if}}
		{{else}}
				{{#if context.view_members_list}}{{{join context.view_members_list ', '}}} {{#if (or context.view_num_hidden context.can_moderate_forum)}}({{context.view_num_hidden}} {{txt.hidden}}){{/if}}{{else}}0{{txt.members}}{{/if}}
		{{/if}}
				{{txt.who_and}}{{context.view_num_guests}} {{#if (eq context.view_num_guests 1)}}{{txt.guest}}{{else}}{{txt.guests}}{{/if}} {{txt.who_viewing_board}}
			</div>
	{{/if}}

			<div class="title_bar" id="topic_header">

	{{#if context.topics}}
				<div class="info">
					{{{context.topics_headers.subject}}} / {{{context.topics_headers.starter}}}
				</div>
				<div class="board_stats centertext">
					{{{context.topics_headers.replies}}} / {{{context.topics_headers.views}}}
				</div>
				<div class="lastpost">
					{{{context.topics_headers.last_post}}}
				</div>

		{{#if context.can_quick_mod}}
				<div class="moderation">
					<input type="checkbox" onclick="invertAll(this, this.form, 'topics[]');">
				</div>
		{{/if}}
	{{else}}
				{{!-- no topics --}}
				<h3 class="titlebg">{{txt.topic_alert_none}}</h3>
	{{/if}}

			</div>

	{{#if context.unapproved_posts_message}}
			<div class="information">
				<span class="alert">!</span> {{{context.unapproved_posts_message}}}
			</div>
	{{/if}}
			<div id="topic_container">

	{{#each context.topics}}
				<div class="{{css_class}}">
					<div class="info{{#if ../context.can_quick_mod}} info_block{{/if}}">
						<div {{#if quick_mod.modify}}id="topic_{{first_post.id}}"  ondblclick="oQuickModifyTopic.modify_topic('{{id}}', '{{first_post.id}}');"{{/if}}>
							<div class="icons floatright">
								{{#if is_watched}}<span class="main_icons watch" title="{{../txt.watching_this_topic}}"></span>{{/if}}
								{{#if is_locked}}<span class="main_icons lock"></span>{{/if}}
								{{#if is_sticky}}<span class="main_icons sticky"></span>{{/if}}
								{{#if is_redirect}}<span class="main_icons move"></span>{{/if}}
								{{#if is_poll}}<span class="main_icons poll"></span>{{/if}}
							</div>
							<div class="first_poster">
								{{{first_post.member.avatar.image}}}

		{{#if (eq_coerce is_posted_in 1)}}
								<img src="{{{../context.user.avatar.href}}}" class="avatar participation" alt="{{{../txt.participation_caption}}}" title="{{{../txt.participation_caption}}}">
		{{/if}}
							</div>
							<div class="msg_container">
								<div class="message_index_title">

		{{#if (and new ../context.user.is_logged)}}
									<a href="{{new_href}}" id="newicon{{first_post.id}}" class="new_posts">{{../txt.new}}</a>
		{{/if}}
									<span class="preview{{#if is_sticky}} bold_text{{/if}}" title="{{#if ../modSettings.message_index_preview_first}}{{{first_post.preview}}}{{else}}{{{last_post.preview}}}{{/if}}">
										<span id="msg_{{first_post.id}}">
											{{{first_post.link}}}{{#unless approved}}&nbsp;<em>({{../txt.awaiting_approval}})</em>{{/unless}}
										</span>
									</span>
								</div>
								<div>
									{{../txt.started_by}}
									{{{first_post.member.link}}}
									{{#if pages}}<span id="pages{{first_post.id}}" class="topic_pages">&nbsp;{{{pages}}}</span>{{/if}}
								</div>
							</div>
						</div>
					</div><!-- .info -->

					<div class="board_stats centertext">
						<p>{{replies}} {{../txt.replies}}<br>
						{{views}} {{../txt.views}}</p>
					</div>
					<div class="lastpost">
						{{{last_post.member.avatar.image}}}
						<p>{{textTemplate ../txt.last_post_topic (concat '<a href="' last_post.href '">' last_post.time '</a>') last_post.member.link}}</p>
					</div> 

		{{#if ../context.can_quick_mod}}
					<div class="moderation">
						<input type="checkbox" name="topics[]" value="{{id}}">
					</div>
		{{/if}}
				</div>
	{{/each}}

	{{#if (and context.can_quick_mod context.topics)}}
				<div class="righttext" id="quick_actions">
					<select class="qaction" name="qaction"{{#if context.can_move}} onchange="this.form.move_to.disabled = (this.options[this.selectedIndex].value != 'move');"{{/if}}>
						<option value="">--------</option>
						{{#each context.qmod_actions}}{{{qmod_option .}}}{{/each}}
					</select>
					{{#if context.can_move}}<span id="quick_mod_jump_to">&nbsp;</span>{{/if}}
					<input type="submit" value="{{txt.quick_mod_go}}" onclick="return document.forms.quickModForm.qaction.value != '' &amp;&amp; confirm('{{txt.quickmod_confirm}}');" class="qaction">
				</div>
	{{/if}}
			</div><!-- #topic_container -->

	{{#if (and context.can_quick_mod context.topics)}}
		{{session_form}}
		</form>
	{{/if}}

		<div class="mobile_buttons floatright">
			<a class="button mobile_act">{{txt.mobile_action}}</a>
		</div>
		<div class="pagesection">
			{{>button_strip button_strip=context.normal_buttons direction='right'}}
			{{context.menu_separator}}<a href="#main_content_section" class="topbottom floatleft" id="bot">{{txt.go_up}}</a>
			<div class="pagelinks floatleft">{{{context.page_index}}}</div>
		</div>
{{/unless}}

{{#if (and context.can_quick_mod context.topics context.can_move)}}
	<script>
	if (typeof(window.XMLHttpRequest) != "undefined")
		aJumpTo[aJumpTo.length] = new JumpTo({
			sContainerId: "quick_mod_jump_to",
			sClassName: "qaction",
			sJumpToTemplate: "%dropdown_list%",
			iCurBoardId: {{context.current_board}},
			iCurBoardChildLevel: {{context.jump_to.child_level}},
			sCurBoardName: "{{context.jump_to.board_name}}",
			sBoardChildLevelIndicator: "==",
			sBoardPrefix: "=> ",
			sCatSeparator: "-----------------------------",
			sCatPrefix: "",
			bNoRedirect: true,
			bDisabled: true,
			sCustomName: "move_to"
		});
	</script>
{{/if}}

	<script>
	var oQuickModifyTopic = new QuickModifyTopic({
		aHidePrefixes: Array("lockicon", "stickyicon", "pages", "newicon"),
		bMouseOnDiv: false,
	});
	</script>
	{{>topic_legend}}
	<div id="mobile_action" class="popup_container">
		<div class="popup_window description">
			<div class="popup_heading">
				{{txt.mobile_action}}
				<a href="javascript:void(0);" class="main_icons hide_popup"></a>
			</div>
			{{>button_strip button_strip=context.normal_buttons}}
		</div>
	</div>