	{{! The display while the newsletter is being sent. }}
	<div id="admincenter">
		<form action="{{scripturl}}?action=admin;area=news;sa=mailingsend" method="post" accept-charset="UTF-8" name="autoSubmit" id="autoSubmit">
			<div class="cat_bar">
				<h3 class="catbg">
					{{> helpicon help='email_members'}} {{{txt.admin_newsletters}}}
				</h3>
			</div>
			<div class="windowbg">
				<div class="progress_bar">
					<div class="full_bar">{{context.percentage_done}}% {{{txt.email_done}}}</div>
					<div class="green_percent" style="width: {{context.percentage_done}}%;">&nbsp;</div>
				</div>
				<hr>
				<input type="submit" name="b" value="{{{txt.email_continue}}}">
				{{session_form}}
				<input type="hidden" name="subject" value="{{{context.subject}}}">
				<input type="hidden" name="message" value="{{{context.message}}}">
				<input type="hidden" name="start" value="{{context.start}}">
				<input type="hidden" name="total_members" value="{{context.total_members}}">
				<input type="hidden" name="total_emails" value="{{context.total_emails}}">
				<input type="hidden" name="send_pm" value="{{context.send_pm}}">
				<input type="hidden" name="send_html" value="{{context.send_html}}">
				<input type="hidden" name="parse_html" value="{{context.parse_html}}">
				{{#each context.recipients}}
				<input type="hidden" name="{{{@key}}}" value="{{#if (eq @key 'emails')}}{{{join . ';'}}}{{else}}{{{join . ','}}}{{/if}}">
				{{/each}}
			</div>
		</form>
	</div>

	<script>
		var countdown = 2;
		doAutoSubmit();

		function doAutoSubmit()
		{
			if (countdown == 0)
				document.forms.autoSubmit.submit();
			else if (countdown == -1)
				return;

			document.forms.autoSubmit.b.value = {{{json txt.email_continue}}} + " (" + countdown + ")";
			countdown--;

			setTimeout("doAutoSubmit();", 1000);
		}
	</script>