{{! Sending a newsletter. }}
{{#if context.newsletter_sent_msg}}
	<div class="infobox">{{{context.newsletter_sent_msg}}}</div>
{{/if}}

	<div id="admincenter">
		<form action="{{scripturl}}?action=admin;area=news;sa=mailingcompose" method="post" id="admin_newsletters" class="flow_hidden" accept-charset="UTF-8">
			<div class="cat_bar">
				<h3 class="catbg">{{{txt.admin_newsletters}}}</h3>
			</div>
			<div class="information noup">
				{{{txt.admin_news_select_recipients}}}
			</div>
			<div class="windowbg noup">
				<dl class="settings">
					<dt>
						<strong>{{{txt.admin_news_select_group}}}:</strong><br>
						<span class="smalltext">{{{txt.admin_news_select_group_desc}}}</span>
					</dt>
					<dd>

{{#each context.groups}}
						<label for="groups_{{id}}">
							<input type="checkbox" name="groups[{{id}}]" id="groups_{{id}}" value="{{id}}" checked> {{{name}}}
						</label>
						<em>({{member_count}})</em><br>
{{/each}}
						<br>
						<label for="checkAllGroups">
							<input type="checkbox" id="checkAllGroups" checked onclick="invertAll(this, this.form, 'groups');">
							<em>{{{txt.check_all}}}</em>
						</label>
					</dd>
				</dl>
				<div id="advanced_panel_header" class="title_bar">
					<h3 class="titlebg">
						<span id="advanced_panel_toggle" class="toggle_down floatright" style="display: none;"></span>
						<a href="#" id="advanced_panel_link">{{{txt.advanced}}}</a>
					</h3>
				</div>
				<div id="advanced_panel_div" class="padding">
					<dl class="settings">
						<dt>
							<strong>{{{txt.admin_news_select_email}}}:</strong><br>
							<span class="smalltext">{{{txt.admin_news_select_email_desc}}}</span>
						</dt>
						<dd>
							<textarea name="emails" rows="5" cols="30" style="width: 98%;"></textarea>
						</dd>
						<dt>
							<strong>{{{txt.admin_news_select_members}}}:</strong><br>
							<span class="smalltext">{{{txt.admin_news_select_members_desc}}}</span>
						</dt>
						<dd>
							<input type="text" name="members" id="members" value="" size="30">
							<span id="members_container"></span>
						</dd>
					</dl>
					<hr class="bordercolor">
					<dl class="settings">
						<dt>
							<strong>{{{txt.admin_news_select_excluded_groups}}}:</strong><br>
							<span class="smalltext">{{{txt.admin_news_select_excluded_groups_desc}}}</span>
						</dt>
						<dd>

{{#each context.groups}}
							<label for="exclude_groups_{{id}}">
								<input type="checkbox" name="exclude_groups[{{id}}]" id="exclude_groups_{{id}}" value="{{id}}">
								{{name}}
							</label>
							<em>({{member_count}})</em><br>
{{/each}}
							<br>
							<label for="checkAllGroupsExclude"><input type="checkbox" id="checkAllGroupsExclude" onclick="invertAll(this, this.form, 'exclude_groups');"> <em>{{{txt.check_all}}}</em></label><br>
						</dd>
						<dt>
							<strong>{{{txt.admin_news_select_excluded_members}}}:</strong><br>
							<span class="smalltext">{{{txt.admin_news_select_excluded_members_desc}}}</span>
						</dt>
							<dd>
							<input type="text" name="exclude_members" id="exclude_members" value="" size="30">
							<span id="exclude_members_container"></span>
						</dd>
					</dl>
					<hr class="bordercolor">
					<dl class="settings">
						<dt>
							<label for="email_force"><strong>{{{txt.admin_news_select_override_notify}}}:</strong></label><br>
							<span class="smalltext">{{{txt.email_force}}}</span>
						</dt>
						<dd>
							<input type="checkbox" name="email_force" id="email_force" value="1">
						</dd>
					</dl>
				</div>
				<br>
				<input type="submit" value="{{{txt.admin_next}}}" class="button_submit">
				{{session_form}}
			</div>
		</form>
	</div>

	{{! This is some JS for the simple/advanced toggling and member suggest. }}
	<script>
		var oAdvancedPanelToggle = new smc_Toggle({
			bToggleEnabled: true,
			bCurrentlyCollapsed: true,
			aSwappableContainers: [
				'advanced_panel_div'
			],
			aSwapImages: [
				{
					sId: 'advanced_panel_toggle',
					altExpanded: {{{json txt.hide}}},
					altCollapsed: {{{json txt.show}}}
				}
			],
			aSwapLinks: [
				{
					sId: 'advanced_panel_link',
					msgExpanded: {{{json txt.advanced}}},
					msgCollapsed: {{{json txt.advanced}}}
				}
			]
		});
	</script>
	<script>
		var oMemberSuggest = new smc_AutoSuggest({
			sSelf: 'oMemberSuggest',
			sSessionId: sbb_session_id,
			sSessionVar: sbb_session_var,
			sSuggestId: 'members',
			sControlId: 'members',
			sSearchType: 'member',
			bItemList: true,
			sPostName: 'member_list',
			sURLMask: 'action=profile;u=%item_id%',
			sTextDeleteItem: {{{json txt.autosuggest_delete_item}}},
			sItemListContainerId: 'members_container',
			aListItems: []
		});
		var oExcludeMemberSuggest = new smc_AutoSuggest({
			sSelf: 'oExcludeMemberSuggest',
			sSessionId: sbb_session_id,
			sSessionVar: sbb_session_var,
			sSuggestId: 'exclude_members',
			sControlId: 'exclude_members',
			sSearchType: 'member',
			bItemList: true,
			sPostName: 'exclude_member_list',
			sURLMask: 'action=profile;u=%item_id%',
			sTextDeleteItem: {{{json txt.autosuggest_delete_item}}},
			sItemListContainerId: 'exclude_members_container',
			aListItems: []
		});
	</script>