<div class="cat_bar">
	<h3 class="catbg">
		<span class="generic_icons mail icon"></span>
		{{txt.notify}}
	</h3>
</div>
<div class="roundframe centertext">
	<p>{{#if context.notification_set}}{{txt.notifyboard_turnoff}}{{else}}{{txt.notifyboard_turnon}}{{/if}}</p>
	<p>
		<strong><a href="{{scripturl}}?action=notifyboard;sa={{#if context.notification_set}}off{{else}}on{{/if}};board={{context.current_board}}.{{context.start}};{{context.session_var}}={{context.session_id}}">{{txt.yes}}</a> - <a href="{{context.board_href}}">{{txt.no}}</a></strong>
	</p>
</div>