<form action="{{scripturl}}?action=pm;sa=search2" method="post" accept-charset="UTF-8" name="searchform" id="searchform">
		<div class="cat_bar">
			<h3 class="catbg">{{txt.pm_search_title}}</h3>
		</div>
		{{#if context.search_errors}}
		<div class="errorbox">
			{{#each context.search_errors.messages}}{{{.}}}<br/>{{/each}}
		</div>
		{{/if}}
		<fieldset id="advanced_search">
			<div class="roundframe">
				<input type="hidden" name="advanced" value="1">
				<span class="enhanced">
					<strong>{{txt.pm_search_text}}:</strong>
					<input type="search" name="search"', !empty($context['search_params']['search']) ? ' value="{{context.search_params.search}}" size="40">
					<script>
						createEventListener(window);
						window.addEventListener("load", initSearch, false);
					</script>
					<select name="searchtype">
						<option value="1"{{#if context.search_params.searchtype}} selected{{/if}}>{{txt.pm_search_match_all}}</option>
						<option value="2"{{#unless context.search_params.searchtype}} selected{{/unless}}>{{txt.pm_search_match_any}}</option>
					</select>
				</span>
				<dl id="search_options">
					<dt>{{txt.pm_search_user}}:</dt>
					<dd><input type="text" name="userspec" value="{{#if context.search_params.userspec}}{{context.search_params.userspec}}{{else}}*{{/if}}" size="40"></dd>
					<dt>{{txt.pm_search_order}}:</dt>
					<dd>
						<select name="sort">
							<option value="relevance|desc">{{txt.pm_search_orderby_relevant_first}}</option>
							<option value="id_pm|desc">{{txt.pm_search_orderby_recent_first}}</option>
							<option value="id_pm|asc">{{txt.pm_search_orderby_old_first}}</option>
						</select>
					</dd>
					<dt class="options">{{txt.pm_search_options}}:</dt>
					<dd class="options">
						<label for="show_complete"><input type="checkbox" name="show_complete" id="show_complete" value="1"{{#if context.search_params.show_complete}} checked{{/if}}> {{txt.pm_search_show_complete}}</label><br>
						<label for="subject_only"><input type="checkbox" name="subject_only" id="subject_only" value="1"{{#if context.search_params.subject_only}} checked{{/if}}>{{txt.pm_search_subject_only}}</label>
					</dd>
					<dt class="between">{{txt.pm_search_post_age}}:</dt>
					<dd>{{txt.pm_search_between}}<input type="number" name="minage" value="{{#if context.search_params.minage}}{{context.search_params.minage}}{{else}}0{{/if}}" size="5" maxlength="5" min="0" max="9999">&nbsp;{{$txt.pm_search_between_and}}&nbsp;<input type="number" name="maxage" value="{{#if context.search_params.maxage}}{{context.search_params.maxage}}{{else}}9999{{/if}}" size="5" maxlength="5" min="0" max="9999"> {{txt.pm_search_between_days}}</dd>
				</dl>';
	{{#unless context.currently_using_labels}}
				<input type="submit" name="pm_search" value="{{txt.pm_search_go}}" class="button_submit">
				<br class="clear_right">
			</div>
		</fieldset>
	{{/unless}}

	{{!-- Do we have some labels setup? If so offer to search by them! --}}
	{{#if context.currently_using_labels}}
		<fieldset class="labels">
			<div class="roundframe">
				<div class="cat_bar">
					<h3 class="catbg">
						<span id="advanced_panel_toggle" class="toggle_up floatright" style="display: none;"></span><a href="#" id="advanced_panel_link">{{txt.pm_search_choose_label}}</a>
					</h3>
				</div>
				<div id="advanced_panel_div">
					<ul id="searchLabelsExpand">';

		{{#each context.search_labels}}
						<li>
							<label for="searchlabel_{{id}}"><input type="checkbox" id="searchlabel_{{id}}" name="searchlabel[{{id}}]" value="{{id}}"{{#if checked}} checked{{/if}}>
							{{name}}</label>
						</li>
		{{/each}}
					</ul>
				</div>
				<p>
					<span class="floatleft"><input type="checkbox" name="all" id="check_all" value=""{{#if context.check_all}} checked{{/if}} onclick="invertAll(this, this.form, 'searchlabel');"><em> <label for="check_all">{{txt.check_all}}</label></em></span>
					<input type="submit" name="pm_search" value="{{txt.pm_search_go}}" class="button_submit">
				</p>
				<br class="clear_right">
			</div>
		</fieldset>{{!-- Some javascript for the advanced toggling--}}
		<script>
			var oAdvancedPanelToggle = new smc_Toggle({
				bToggleEnabled: true,
				bCurrentlyCollapsed: true,
				aSwappableContainers: [
					'advanced_panel_div'
				],
				aSwapImages: [
					{
						sId: 'advanced_panel_toggle',
						altExpanded: {{jsEscape txt.hide}},
						altCollapsed: {{jsEscape txt.show}}
					}
				],
				aSwapLinks: [
					{
						sId: 'advanced_panel_link',
						msgExpanded: {{jsEscape txt.pm_search_choose_label}},
						msgCollapsed: {{jsEscape txt.pm_search_choose_label}}
					}
				]
			});
		</script>
	{{/if}}
	</form>