		<div class="cat_bar">
			<h3 class="catbg">
				{{txt.drafts_show}}
			</h3>
		</div>
		<div class="pagesection">
			<span>{{{context.page_index}}}</span>
		</div>

{{#unless context.drafts}}
		<div class="windowbg centertext">
			{{txt.draft_none}}
		</div>
{{/unless}}

{{#each context.drafts}}
		<div class="windowbg">
			<div class="counter">{{counter}}</div>
			<div class="topic_details">
				<h5>
					<strong>{{subject}}</strong>&nbsp;
				</h5>
				<span class="smalltext">
					&#171;&nbsp;<strong>{{../txt.draft_saved_on}}:</strong> {{textTemplate ../txt.draft_days_ago age}}{{#if remaining}}, {{textTemplate ../txt.draft_retain remaining}}{{/if}}&#187;
				</span><br>
				<span class="smalltext">
					&#171;&nbsp;<strong>{{../txt.to}}:</strong> {{join recipients.to ', '}}&nbsp;&#187;
				</span><br>
				<span class="smalltext">
					&#171;&nbsp;<strong>{{../txt.pm_bcc}}:</strong>{{join recipients.bcc ', '}}&nbsp;&#187;
				</span>
			</div>
			<div class="list_posts">
				{{body}}
			</div>
			<ul class="quickbuttons">
				<li><a href="{{../scripturl}}?action=pm;sa=showpmdrafts;id_draft={{id_draft}};{{session_url}}" class="main_icons modifybutton">{{../txt.draft_edit}}</a></li>
				<li><a href="{{../scripturl}}?action=pm;sa=showpmdrafts;delete={{id_draft}};{{session_url}}" data-confirm="{{../txt.draft_remove}}?" class="you_sure"><span class="main_icons remove_button"></span>{{../txt.draft_delete}}</a></li>
			</ul>
		</div>
{{/each}}
		<div class="pagesection">
			<span>{{{context.page_index}}}</span>
		</div>