{{!-- I think this is unused. It's untested. --}}
<div class="cat_bar">
	<h3 class="catbg">
		{{#if context.delete_all}}{{txt.delete_message}}{{else}}{{txt.delete_all}}{{/if}}
	</h3>
</div>
<div class="windowbg">
	<p>{{txt.delete_all_confirm}}</p><br>
	<strong><a href="{{scripturl}}?action=pm;sa=removeall2;f={{context.folder}};{{#if (neq context.current_label_id -1)}};l={{context.current_label_id}}{{/if}};{{session_url}}">{{txt.yes}}</a> - <a href="javascript:history.go(-1);">{{txt.no}}</a></strong>
</div>