	<div id="announcement">
		<form action="{{scripturl}}?action=announce;sa=send" method="post" accept-charset="UTF-8">
			<div class="cat_bar">
				<h3 class="catbg">{{txt.announce_title}}</h3>
			</div>
			<div class="information">
				{{txt.announce_desc}}
			</div>
			<div class="windowbg">
				<p>
					{{txt.announce_this_topic}} <a href="{{scripturl}}?topic={{context.current_topic}}.0">{{context.topic_subject}}</a>
				</p>
				<ul>

{{#each context.groups}}
					<li>
						<label for="who_{{id}}"><input type="checkbox" name="who[{{id}}]" id="who_{{id}}" value="{{id}}" checked> {{name}}</label> <em>({{member_count}})</em>
					</li>
{{/each}}

					<li>
						<label for="checkall"><input type="checkbox" id="checkall" onclick="invertAll(this, this.form);" checked> <em>{{txt.check_all}}</em></label>
					</li>
				</ul>
				<hr>
				<div id="confirm_buttons">
					<input type="submit" value="{{txt.post}}" class="button_submit">
					{{session_form}}
					<input type="hidden" name="topic" value="{{context.current_topic}}">
					<input type="hidden" name="move" value="{{context.move}}">
					<input type="hidden" name="goback" value="{{context.go_back}}">
				</div>
				<br class="clear_right">
			</div>
		</form>
	</div>
	<br>