<!DOCTYPE html>
<html{{#if context.right_to_left}} dir="rtl"{{/if}}>
	<head>
		<meta charset="UTF-8">
		<title>{{txt.retrieving_quote}}</title>
		<script src="{{settings.default_theme_url}}/scripts/script.js{{modSettings.browser_cache}}"></script>
	</head>
	<body>
		{{txt.retrieving_quote}}
		<div id="temporary_posting_area" style="display: none;"></div>
		<script>
		{{#if context.close_window}}
		window.close();
		{{else}}
			var quote = '{{context.quote.text}}';
			var stage = 'createElement' in document ? document.createElement("DIV") : document.getElementById("temporary_posting_area");

			if ('DOMParser' in window && !('opera' in window))
			{
				var xmldoc = new DOMParser().parseFromString("<temp>" + '{{context.quote.mozilla}}'.replace(/\n/g, "_SMF-BREAK_").replace(/\t/g, "_SMF-TAB_") + "</temp>", "text/xml");
				quote = xmldoc.childNodes[0].textContent.replace(/_SMF-BREAK_/g, "\n").replace(/_SMF-TAB_/g, "\t");
			}
			else if ('innerText' in stage)
			{
				setInnerHTML(stage, quote.replace(/\n/g, "_SMF-BREAK_").replace(/\t/g, "_SMF-TAB_").replace(/</g, "&lt;").replace(/>/g, "&gt;"));
				quote = stage.innerText.replace(/_SMF-BREAK_/g, "\n").replace(/_SMF-TAB_/g, "\t");
			}

			if ('opera' in window)
				quote = quote.replace(/&lt;/g, "<").replace(/&gt;/g, ">").replace(/&quot;/g, '"').replace(/&amp;/g, "&");

			window.opener.onReceiveOpener(quote);

			window.focus();
			setTimeout("window.close();", 400);
		{{/if}}
		</script>
	</body>
</html>