		{{! Merging two accounts together, initial screen }}
		<form action="', $scripturl, '?action=profile;u=', $context['id_member'], ';area=merge_acct;save" method="post" accept-charset="UTF-8" name="creator" id="creator">
			<div class="cat_bar">
				<h3 class="catbg">
					{{{txt.merge_char_account}}}
				</h3>
			</div>
			<p class="information">{{{txt.merge_char_account_desc}}}</p>
			<div class="windowbg">
				<div class="alert">{{{txt.deleteAccount_warning}}}</div>
				<br>
				<dl>
					<dt>{{{txt.merge_char_from}}}</dt>
					<dd>
						<select name="merge_acct" id="merge_acct"><option></option></select>
					</dd>
				</dl>
				{{session_form}}
				<input type="submit" value="{{txt.merge_char_account}}" class="button_submit">
			</div>
		</form>