	{{! Editing a character }}
	<div class="cat_bar">
		<h3 class="catbg">{{{txt.edit_char}}}</h3>
	</div>

	<div id="profileview" class="roundframe flow_auto">
		<div class="errorbox" id="profile_error"{{#unless context.form_errors}} style="display:none"{{/unless}}>
			<span>{{{txt.char_editing_error}}}</span>
			<ul id="list_errors">
				{{#each context.form_errors}}
				<li>{{{.}}}</li>
				{{/each}}
			</ul>
		</div>
		<div id="basicinfo">
		</div>
		<div id="detailedinfo">
			<form id="creator" action="{{scripturl}}?action=profile;u={{context.id_member}};area=characters;char={{context.character.id_character}};sa=edit" method="post" accept-charset="UTF-8" enctype="multipart/form-data">

				{{#if context.character.groups_editable}}
				<dl>
					<dt>
						<strong>{{{txt.primary_membergroup}}}</strong><br>
					</dt>
					<dd>
						<select name="id_group">
							{{! // Fill the select box with all primary member groups that can be assigned to a member. }}
							{{#each context.member_groups}}
								{{#if can_be_primary}}
									<option value="{{id}}"{{#if is_primary}} selected{{/if}}>{{{name}}}</option>
								{{/if}}
							{{/each}}
						</select>
					</dd>
					<dt>
						<strong>{{{txt.additional_membergroups}}}:</strong>
					</dt>
					<dd>
						<span id="additional_groupsList">
							<input type="hidden" name="additional_groups[]" value="0">
							{{! // For each membergroup show a checkbox so members can be assigned to more than one group. }}
							{{#each context.member_groups}}
								{{#if can_be_additional}}
									<label for="additional_groups-{{id}}"><input type="checkbox" name="additional_groups[]" value="{{id}}" id="additional_groups-{{id}}"{{#if is_additional}} checked{{/if}}>{{{name}}}</label><br>
								{{/if}}
							{{/each}}
						</span>
						<a href="javascript:void(0);" onclick="document.getElementById('additional_groupsList').style.display = 'block'; document.getElementById('additional_groupsLink').style.display = 'none'; return false;" id="additional_groupsLink" style="display: none;" class="toggle_down">{{{txt.additional_membergroups_show}}}</a>
						<script>
							document.getElementById("additional_groupsList").style.display = "none";
							document.getElementById("additional_groupsLink").style.display = "";
						</script>
					</dd>
				</dl>
				{{/if}}

				<dl>
					<dt>{{{txt.char_name}}}</dt>
					<dd>
						<input type="text" name="char_name" id="char_name" size="50" value="{{{context.character.character_name}}}" maxlength="50">
					</dd>
				</dl>

				<dl>
					<dt>
						<strong id="personal_picture"><label for="avatar_upload_box">{{{txt.personal_picture}}}</label></strong>
						{{#unless (eq modSettings.gravatarOverride '1')}}
							<input type="radio" onclick="swap_avatar(this); return true;" name="avatar_choice" id="avatar_choice_none" value="none"{{#if (eq context.character.avatar_settings.choice 'none')}} checked{{/if}} /><label for="avatar_choice_none"{{#if context.form_errors.bad_avatar}} class="error"{{/if}}>{{{txt.no_avatar}}}</label>
							<br />
						{{/unless}}

						{{#if context.character.avatar_settings.allow_external}}
							<input type="radio" onclick="swap_avatar(this); return true;" name="avatar_choice" id="avatar_choice_external" value="external"{{#if (eq context.character.avatar_settings.choice 'external')}} checked{{/if}} /><label for="avatar_choice_external"{{#if context.form_errors.bad_avatar}} class="error"{{/if}}>{{{txt.my_own_pic}}}</label>
							<br />
						{{/if}}

						{{#if context.character.avatar_settings.allow_upload}}
							<input type="radio" onclick="swap_avatar(this); return true;" name="avatar_choice" id="avatar_choice_upload" value="upload"{{#if (eq context.character.avatar_settings.choice 'upload')}} checked{{/if}} /><label for="avatar_choice_upload"{{#if context.form_errors.bad_avatar}} class="error"{{/if}}>{{{txt.avatar_will_upload}}}</label>
							<br />
						{{/if}}

						{{#if context.character.avatar_settings.allow_gravatar}}
							<input type="radio" onclick="swap_avatar(this); return true;" name="avatar_choice" id="avatar_choice_gravatar" value="gravatar"{{#if (eq context.character.avatar_settings.choice 'gravatar')}} checked{{/if}} /><label for="avatar_choice_gravatar"{{#if context.form_errors.bad_avatar}} class="error"{{/if}}>{{{txt.use_gravatar}}}</label>
						{{/if}}
					</dt>
					<dd>
						<div>
							<div><img style="display:none" id="avatar" src="{{#if context.character.avatar}}{{{context.character.avatar}}}{{else}}{{settings.images_url}}/blank.png{{/if}}" alt="Do Nothing"></div>
							<script>
								var avatar = document.getElementById("avatar");
								var selavatar = {{{json context.avatar_selected}}};
								var file = document.getElementById("file");
								var maxHeight = {{#if (gt modSettings.avatar_max_height '0')}}{{modSettings.avatar_max_height}}{{else}}0{{/if}};
								var maxWidth = {{#if (gt modSettings.avatar_max_width '0')}}{{modSettings.avatar_max_width}}{{else}}0{{/if}};

								previewExternalAvatar(avatar.src)

							</script>
						</div>

						{{! If the user can link to an off server avatar, show them a box to input the address. }}
						{{#if context.character.avatar_settings.allow_external}}
							<div id="avatar_external">
								<div class="smalltext">{{{txt.avatar_by_url}}}</div>{{#if (eq modSettings.avatar_action_too_large 'option_download_and_resize')}}{{> max_avatar_size}}{{/if}}
								<input type="text" name="userpicpersonal" size="45" value="{{#if (eq context.character.avatar_settings.choice 'external')}}{{{context.character.avatar_settings.external}}}{{/if}}" placeholder="https://" onfocus="selectRadioByName(document.forms.creator.avatar_choice, 'external');" onchange="if (typeof(previewExternalAvatar) != 'undefined') previewExternalAvatar(this.value);" />
							</div>
						{{/if}}

						{{! If the user is able to upload avatars to the server show them an upload box. }}
						{{#if context.character.avatar_settings.allow_upload}}
							<div id="avatar_upload">
								<input type="file" size="44" name="attachment" id="avatar_upload_box" value="" onchange="readfromUpload(this)"  onfocus="selectRadioByName(document.forms.creator.avatar_choice, 'upload');" accept="image/gif, image/jpeg, image/jpg, image/png">{{> max_avatar_size}}
								{{#if context.character.id_attach}}<br><img src="{{{context.character.avatar}}}" alt="" id="attached_image"><input type="hidden" name="id_attach" value="{{context.character.id_attach}}">{{/if}}
							</div>
						{{/if}}

						{{! if the user is able to use Gravatar avatars show then the image preview }}
						{{#if context.character.avatar_settings.allow_gravatar}}
							<div id="avatar_gravatar">
								<img src="{{{context.character.avatar}}}" alt="">

								{{#if (eq_coerce modSettings.gravatarAllowExtraEmail 1)}}
									<div class="smalltext">{{{txt.gravatar_alternateEmail}}}</div>
									<input type="text" name="gravatarEmail" id="gravatarEmail" size="45" value="{{#if (and (not context.character.avatar_settings.is_url) (neq context.character.avatar_settings.external context.member.email_address))}}{{{context.character.avatar}}}{{/if}}">
								{{else}}
									<div class="smalltext">{{{txt.gravatar_noAlternateEmail}}}</div>
								{{/if}}
							</div>
						{{/if}}

						<script>
							function swap_avatar(type)
							{
								switch(type.id)
								{
									case "avatar_choice_external":
										{{#if context.character.avatar_settings.allow_external}}document.getElementById("avatar_external").style.display = "";{{/if}}
										{{#if context.character.avatar_settings.allow_upload}}document.getElementById("avatar_upload").style.display = "none";{{/if}}
										{{#if context.character.avatar_settings.allow_gravatar}}document.getElementById("avatar_gravatar").style.display = "none";{{/if}}
										break;
									case "avatar_choice_upload":
										{{#if context.character.avatar_settings.allow_external}}document.getElementById("avatar_external").style.display = "none";{{/if}}
										{{#if context.character.avatar_settings.allow_upload}}document.getElementById("avatar_upload").style.display = "";{{/if}}
										{{#if context.character.avatar_settings.allow_gravatar}}document.getElementById("avatar_gravatar").style.display = "none";{{/if}}
										break;
									case "avatar_choice_none":
										{{#if context.character.avatar_settings.allow_external}}document.getElementById("avatar_external").style.display = "none";{{/if}}
										{{#if context.character.avatar_settings.allow_upload}}document.getElementById("avatar_upload").style.display = "none";{{/if}}
										{{#if context.character.avatar_settings.allow_gravatar}}document.getElementById("avatar_gravatar").style.display = "none";{{/if}}
										break;
									case "avatar_choice_gravatar":
										{{#if context.character.avatar_settings.allow_external}}document.getElementById("avatar_external").style.display = "none";{{/if}}
										{{#if context.character.avatar_settings.allow_upload}}document.getElementById("avatar_upload").style.display = "none";{{/if}}
										{{#if context.character.avatar_settings.allow_gravatar}}document.getElementById("avatar_gravatar").style.display = "";{{/if}}
										{{#if (eq context.character.avatar_settings.external context.member.email)}}document.getElementById("gravatarEmail").value = "";{{/if}}
										break;
								}
							}
							swap_avatar({id: 'avatar_choice_{{{context.character.avatar_settings.choice}}}'});
						</script>
					</dd>
				</dl>

				<dl>
					<dt>{{{txt.age}}}:</dt>
					<dd>
						<input type="text" name="age" id="age" size="50" value="{{{context.character.age}}}" maxlength="50">
					</dd>
				</dl>
				<div class="char_signature"></div>
				<dl class="noborder" id="current_sig">
					<dt>{{{txt.current_signature}}}:</dt>
					<dd></dd>
				</dl>
				<div class="signature" id="current_sig_parsed">
					{{#if context.character.signature}}{{{context.character.signature_parsed}}}{{else}}<em>{{{txt.no_signature_set}}}</em>{{/if}}
				</div>
				<dl></dl>
				<dl class="noborder" id="sig_preview">
					<dt>{{{txt.signature_preview}}}:</dt>
					<dd></dd>
				</dl>
				<div class="signature" id="sig_preview_parsed"></div>
				<dl class="noborder" id="sig_header">
					<dt>{{{txt.signature}}}:</dt>
					<dd></dd>
				</dl>
				{{{richtexteditor 'char_signature' 'smileyBox_message' 'bbcBox_message'}}}
				
				<div>
					{{! Is there a limit on signatures? }}
					{{#if context.signature_limits.max_length}}
					<span class="smalltext">{{textTemplate txt.max_sig_characters context.signature_limits.max_length}} <span id="signatureLeft">{{{context.signature_limits.max_length}}}</span></span>
					{{/if}}

					<span class="floatright"><input type="button" name="preview_signature" id="preview_button" value="{{{txt.preview_signature}}}" class="button_submit"></span>
				</div>

				{{#if context.signature_warning}}
					<span class="smalltext">{{{context.signature_warning}}}</span>
				{{/if}}

				{{#if context.signature_limits.max_length}}
				<script>
					var maxLength = {{{context.signature_limits.max_length}}};
					last_signature = false;

					function calcCharLeft()
					{
						var oldSignature = "", currentSignature = $("#char_signature").data("sceditor").getText().replace(/&#/g, '&#38;#');
						var currentChars = 0;

						if (!document.getElementById("signatureLeft"))
							return;

						// Changed since we were last here?
						if (last_signature === currentSignature)
							return;
						last_signature = currentSignature;

						if (oldSignature != currentSignature)
						{
							oldSignature = currentSignature;

							var currentChars = currentSignature.replace(/\r/, "").length;
							if (is_opera)
								currentChars = currentSignature.replace(/\r/g, "").length;

							if (currentChars > maxLength)
								document.getElementById("signatureLeft").className = "error";
							else
								document.getElementById("signatureLeft").className = "";

							if (currentChars > maxLength)
								chars_ajax_getSignaturePreview(false);
							// Only hide it if the only errors were signature errors...
							else if (currentChars <= maxLength)
							{
								// Are there any errors to begin with?
								if ($(document).has("#list_errors"))
								{
									// Remove any signature errors
									$("#list_errors").remove(".sig_error");

									// Show this if other errors remain
									if (!$("#list_errors").has("li"))
									{
										$("#profile_error").css({display:"none"});
										$("#profile_error").html("");
									}
								}
							}
						}

						setInnerHTML(document.getElementById("signatureLeft"), maxLength - currentChars);
					}
					$(document).ready(function() {
						calcCharLeft();
						$("#preview_button").click(function() {
							return chars_ajax_getSignaturePreview(true);
						});
					});
					window.setInterval(calcCharLeft, 1000);
				</script>
				{{/if}}
				<dl></dl>
				<input type="hidden" name="u" value="{{context.id_member}}" />
				<input type="submit" name="edit_char" class="button_submit" value="{{{txt.save_changes}}}" />
				{{session_form}}
				<input type="hidden" name="{{token_var (concat 'edit-char' context.character.id_character)}}" value="{{token (concat 'edit-char' context.character.id_character)}}">
			</form>
		</div>
	</div>