	{{! Managing buddies }}
	<div id="edit_buddies">
		<div class="cat_bar">
			<h3 class="catbg">
				{{{txt.editBuddies}}}
			</h3>
		</div>
		<table class="table_grid">
			<tr class="title_bar">
				<th scope="col" class="quarter_table">{{{txt.name}}}</th>
				<th scope="col">{{{txt.status}}}</th>

				{{#if context.show_buddy_email_address}}<th scope="col">{{{txt.email}}}</th>{{/if}}

				{{#each context.custom_pf}}
				<th scope="col">{{{label}}}</th>
				{{/each}}

				<th scope="col">{{{txt.remove}}}</th>
			</tr>

{{! If they don't have any buddies don't list them! }}
{{#unless context.buddies}}
			<tr class="windowbg">
				<td colspan="{{context.columns_colspan}}"><strong>{{{txt.no_buddies}}}</strong></td>
			</tr>
{{else}}
	{{! Now loop through each buddy showing info on each. }}
	{{#each context.buddies}}
			<tr class="windowbg">
				<td>{{{link}}}</td>
				<td><a href="{{{online.href}}}"><span class="{{#if online.is_online}}on{{else}}off{{/if}}" title="{{{online.text}}}"></span></a></td>

		{{#if show_email}}
				<td><a href="mailto:{{email}}" rel="nofollow" class="main_icons mail icon" title="{{{../txt.email}}} {{{name}}}"></a></td>
		{{/if}}

		{{! Show the custom profile fields for this user. }}
		{{#each ../context.custom_pf}}
				<td class="lefttext">{{{lookup options @key}}}</td>
		{{/each}}

				<td><a href="{{../scripturl}}?action=profile;area=lists;sa=buddies;u={{{../context.id_member}}};remove={{id}};{{session_url}}" class="main_icons delete" title="{{{../txt.buddy_remove}}}"></a></td>
			</tr>
	{{/each}}
{{/unless}}

		</table>
	</div>

	{{! Add a new buddy? }}
	<form action="{{scripturl}}?action=profile;u={{{context.id_member}}};area=lists;sa=buddies" method="post" accept-charset="UTF-8">
		<div class="cat_bar">
			<h3 class="catbg">{{{txt.buddy_add}}}</h3>
		</div>
		<div class="information">
			<dl class="settings">
				<dt>
					<label for="new_buddy"><strong>{{{txt.who_member}}}:</strong></label>
				</dt>
				<dd>
					<select name="new_buddy" id="new_buddy"><option></option></select>
					<input type="submit" value="{{{txt.buddy_add_button}}}" class="button_submit floatnone">
				</dd>
			</dl>
		</div>
		{{#if context.token_check}}{{token_form context.token_check}}{{/if}}
		{{session_form}}
	</form>