	{{! Tracking IP addresses in general }}
	{{! The first table in the template gives an input box to allow the admin to enter another IP to track. }}
	<div class="cat_bar">
		<h3 class="catbg">{{{txt.trackIP}}}</h3>
	</div>
	<div class="windowbg noup">
		<form action="{{{context.base_url}}}" method="post" accept-charset="UTF-8">
			<dl class="settings">
				<dt>
					<label for="searchip"><strong>{{{txt.enter_ip}}}:</strong></label>
				</dt>
				<dd>
					<input type="text" name="searchip" value="{{{context.ip}}}">
				</dd>
			</dl>
			<input type="submit" value="{{{txt.trackIP}}}" class="button_submit">
		</form>
	</div>
	<br>

{{! The table inbetween the first and second table shows links to the whois server for every region. }}
{{#if context.single_ip}}
	<div class="cat_bar">
		<h3 class="catbg">{{{txt.whois_title}}} {{{context.ip}}}</h3>
	</div>
	<div class="windowbg noup">

	{{#each context.whois_servers}}
		<a href="{{{url}}}" target="_blank" rel="noopener"{{#if ../context.auto_whois_server}}{{#if (eq ../context.auto_whois_server.name name)}} style="font-weight: bold;"{{/if}}{{/if}}>{{{name}}}</a><br>
	{{/each}}

	</div>
	<br>
{{/if}}

	{{! The second table lists all the members who have been logged as using this IP address. }}
	<div class="cat_bar">
		<h3 class="catbg">{{{txt.members_from_ip}}} {{{context.ip}}}</h3>
	</div>

{{#unless context.ips}}
		<p class="windowbg description"><em>{{{txt.no_members_from_ip}}}</em></p>
{{else}}
		<table class="table_grid">
			<thead>
				<tr class="title_bar">
					<th scope="col">{{{txt.ip_address}}}</th>
					<th scope="col">{{{txt.display_name}}}</th>
				</tr>
			</thead>
			<tbody>

	{{! Loop through each of the members and display them. }}
	{{#each context.ips}}
				<tr class="windowbg">
					<td><a href="{{{../context.base_url}}};searchip={{@key}}">{{@key}}</a></td>
					<td>{{{join . ', '}}}</td>
				</tr>
	{{/each}}

			</tbody>
		</table>
{{/unless}}

	<br>
	{{genericlist 'track_message_list'}}
	<br>
	{{genericlist 'track_user_list'}}

{{! 3rd party integrations may have added additional tracking. }}
{{#each context.additional_track_lists}}
	<br>
	{{genericlist .}}
{{/each}}