		{{! Confirm when accounts are merged }}
		<form action="{{scripturl}}?action=profile;u={{context.id_member}};area=characters;char={{context.character.id_character}};sa=merge_acct;save" method="post" accept-charset="UTF-8" name="creator" id="creator">
			<div class="cat_bar">
				<h3 class="catbg">
					{{{txt.merge_char_account}}}
				</h3>
			</div>
			<p class="information">{{{txt.merge_char_account_desc}}}</p>
			<div class="windowbg">
				<div class="alert">{{{txt.deleteAccount_warning}}}</div>
				<br>
				<div>
					{{textTemplate txt.merge_are_you_sure
						(concat '<a target="_blank" rel="noopener" href="' scripturl '?action=profile;u=' context.id_member '">' context.member.name '</a>')
						(concat '<a target="_blank" rel="noopener" href="' scripturl '?action=profile;u=' context.merge_destination_id '">' context.merge_destination.real_name '</a>')
					}}
				{{session_form}}
				<input type="hidden" name="merge_acct_id" value="{{context.merge_destination_id}}">
				<input type="submit" value="{{{txt.move_char_action}}}" class="button_submit">
			</div>
		</form>