	<div id="profileview" class="roundframe flow_auto noup">
		<div id="basicinfo">

			{{! Are there any custom profile fields for above the name? }}
			{{#if context.print_custom_fields.above_member}}
				<div class="custom_fields_above_name">
					<ul>
						{{#each context.print_custom_fields.above_member}}
							{{#if output_html}}
								<li>{{output_html}}</li>
							{{/if}}
						{{/each}}
					</ul>
				</div>
				<br>
			{{/if}}

			{{! The user's name, group, avatar }}
			<div class="username clear">
				<h4>{{context.member.name}}</h4>
			</div>
			<div class="badges">{{{context.member.badges}}}</div>
			<div class="position">{{{context.member.group}}}</div>
			{{{context.member.avatar.image}}}

			{{! Are there any custom profile fields for below the avatar? }}
			{{#if context.print_custom_fields.below_avatar}}
				<div class="custom_fields_below_avatar">
					<ul>
						{{#each context.print_custom_fields.below_avatar}}
							{{#if output_html}}
								<li>{{output_html}}</li>
							{{/if}}
						{{/each}}
					</ul>
				</div>
				<br>
			{{/if}}

			<ul class="clear">
				{{! Email is only visible if it's your profile or you have the moderate_forum permission @todo remove? }}
				{{#if context.member.show_email}}
					<li><a href="mailto:{{{context.member.email}}}" title="{{context.member.email}}" rel="nofollow" class="main_icons mail"></a></li>
				{{/if}}

				{{! Don't show an icon if they haven't specified a website. }}
				{{#if (and context.member.website.url (not context.disabled_fields.website))}}
					<li><a href="{{context.member.website.url}}" title="{{{context.member.website.title}}}" target="_blank" rel="noopener" class="main_icons www"></a></li>
				{{/if}}

				{{! Are there any custom profile fields as icons? }}
				{{#each context.print_custom_fields.icons}}
					{{#if output_html}}
						<li class="custom_field">{{{output_html}}}</li>
					{{/if}}
				{{/each}}
			</ul>


			<span id="userstatus">
				{{#if context.can_send_pm}}
					<a href="{{{context.member.online.href}}}" title="{{{context.member.online.text}}}" rel="nofollow"><span class="{{#if context.member.online.is_online}}on{{else}}off{{/if}}" title="{{{context.member.online.text}}}"></span></a>
				{{else}}
					<span class="{{#if context.member.online.is_online}}on{{else}}off{{/if}}" title="{{{context.member.online.text}}}"></span>
				{{/if}}
				<span class="smalltext">{{{context.member.online.label}}}</span>
			</span>

			{{! Can they add this member as a buddy? }}
			{{#if (and context.can_have_buddy (not context.user.is_owner))}}
				<a href="{{scripturl}}?action=buddy;u={{context.id_member}};{{session_url}}">[{{#if context.member.is_buddy}}{{txt.buddy_remove}}{{else}}{{txt.buddy_add}}{{/if}}]</a>
			{{/if}}

			{{! What about sending them a PM? }}
			{{#if (and context.can_send_pm (not context.user.is_owner))}}
				<a href="{{scripturl}}?action=pm;sa=send;u={{context.id_member}}" class="infolinks">{{{txt.profile_sendpm_short}}}</a>
			{{/if}}

			{{! Link to see their posts }}
			<a href="{{scripturl}}?action=profile;area=showposts;u={{context.id_member}}" class="infolinks">{{{txt.showPosts}}}</a>

			{{! Link to post drafts if it's the user's own profile }}
			{{#if (and context.user.is_owner modSettings.drafts_post_enabled)}}
				<a href="{{scripturl}}?action=profile;area=showdrafts;u={{context.id_member}}" class="infolinks">{{{txt.drafts_show}}}</a>
			{{/if}}

			{{! Link to the user's statistics}}
			<a href="{{scripturl}}?action=profile;area=statistics;u={{context.id_member}}" class="infolinks">{{{txt.statPanel}}}</a>

			{{! Are there any custom profile fields for bottom? }}
			{{#if context.print_custom_fields.bottom_poster}}
				<div class="custom_fields_bottom">
					<ul>
						{{#each context.print_custom_fields.bottom_poster}}
							{{#if output_html}}
								<li>{{output_html}}</li>
							{{/if}}
						{{/each}}
					</ul>
				</div>
			{{/if}}
		</div>

		<div id="detailedinfo">
			<dl class="settings">
				{{#if (or context.user.is_owner context.user.is_admin)}}
					<dt>{{{txt.username}}}</dt>
					<dd>{{{context.member.username}}}</dd>
				{{/if}}

				{{#if (not context.disabled_fields.posts)}}
					<dt>{{{txt.profile_posts}}}</dt>
					<dd>{{{context.member.posts}}} ({{{context.member.posts_per_day}}} {{{txt.posts_per_day}}})</dd>
				{{/if}}

				{{#if context.member.show_email}}
					<dt>{{{txt.email}}}</dt>
					<dd><a href="mailto:{{{context.member.email}}}">{{{context.member.email}}}</a></dd>
				{{/if}}

				{{#if context.member.show_birth}}
				<dt>{{{txt.dob}}}</dt>
				<dd>
					{{{context.member.formatted_birthdate}}}
					{{#if context.member.age}}
					{{{context.member.age}}}
					{{/if}}
					{{#if context.member.today_is_birthday}}
						&nbsp; <img src="{{{settings.images_url}}}/cake.png" alt="">
					{{/if}}
				</dd>
				{{/if}}
			</dl>

			{{! Are there any custom profile fields for standard? }}
			{{#if context.print_custom_fields.bottom_poster}}
				<dl class="settings">
					{{#each context.print_cusotm_fields.standard}}
						{{#if output_html}}
							<dt>{{name}}</dt>
							<dd>{{output_html}}</dd>
						{{/if}}
					{{/each}}
				</dl>
			{{/if}}

			<dl class="settings noborder">

				{{! Can they view/issue a warning? }}
				{{#if (and context.can_view_warning context.member.warning)}}
					<dt>{{{txt.profile_warning_level}}}</dt>
					<dd>
						<a href="{{scripturl}}?action=profile;u={{context.id_member}};area={{#if (and context.can_issue_warning (not context.user.is_owner))}}issuewarning{{else}}viewwarning{{/if}}">{{context.member.warning}}%</a>
						{{#if context.warning_status}}
							<span class="smalltext">({{{context.warning_status}}})</span>
						{{/if}}
					</dd>
				{{/if}}

				{{! Does the account require activation?}}
				{{#if context.activate_message}}
					<dt class="clear">
						<span class="alert">{{{context.activate_message}}}</span>
						&nbsp; (<a href="{{{context.activate_link}}}"{{#if eq 4 context.activate_type}} class="you_sure" data-confirm="{{{txt.profileConfirm}}}"{{/if}}>{{{context.activate_link_text}}}</a>)
					</dt>
				{{/if}}

				{{#if context.member.bans}}
					<dt class="clear">
						<span class="alert">{{{txt.user_is_banned}}}</span>
						&nbsp; [<a href="#" onclick="$('#ban_info').toggle();return false;">{{{txt.view_ban}}}</a>]
					</dt>
					<dt class="clear" id="ban_info" style="display:none">
						<strong>{{{txt.user_banned_by_following}}}:</strong>
						{{#each context.member.bans}}
							<br><span class="smalltext">{{explanation}}</span>
						{{/each}}
					</dt>
				{{/if}}

				<dt>{{{txt.date_registered}}}</dt>
				<dd>{{{context.member.registered}}}</dd>

				{{! If the person looking is allowed, they can check the member's IP address and hostname}}
				{{#if context.can_see_ip}}
					{{#if context.member.ip}}
						<dt>{{txt.ip}}</dt>
						<dd>
							<a href="{{scripturl}}?action=profile;area=tracking;sa=ip;searchip={{context.member.ip}};u={{context.member.id}}">{{context.member.ip}}</a>
						</dd>
					{{/if}}
					{{#if (and context.member.ip (not modSettings.disableHostnameLookup))}}
						<dt>{{{txt.hostname}}}</dt>
						<dd>{{{context.member.hostname}}}</dd>
					{{/if}}
				{{/if}}

				<dt>{{{txt.local_time}}}</dt>
				<dd>{{{context.member.local_time}}}</dd>

				{{#if (and modSettings.userLanguage context.member.language)}}
					<dt>{{{txt.language}}}</dt>
					<dd>{{{context.member.language}}}</dd>
				{{/if}}

				{{#if context.member.show_last_login}}
					<dt>{{{txt.lastLoggedIn}}}</dt>
					<dd>
						{{{context.member.last_login}}}
						{{#if context.member.is_hidden}} ({{txt.hidden}}){{/if}}
					</dd>
				{{/if}}
			</dl>

			{{! Are there any custom profile fields for above signature? }}
			{{#if context.print_custom_fields.above_signature}}
				<div class="custom_fields_above_signature">
					<ul class="nolist">
						{{#each context.print_custom_fields.above_signature}}
							{{#if output_html}}
								<li>{{output_html}}</li>
							{{/if}}
						{{/each}}
					</ul>
				</div>
			{{/if}}

			{{! User signature }}
			{{#if (and context.signature_enabled context.member.signature)}}
				<div class="signature">
					<h5>{{{txt.signature}}}</h5>
					{{{context.member.signature}}}
				</div>
			{{/if}}


			{{! Are there any custom profile fields for below signature? }}
			{{#if context.print_custom_fields.below_signature}}
				<div class="custom_fields_below_signature">
					<ul class="nolist">
						{{#each context.print_custom_fields.below_signature}}
							{{#if output_html}}
								<li>{{output_html}}</li>
							{{/if}}
						{{/each}}
					</ul>
				</div>
			{{/if}}

			{{! Are there any characters to display? }}
			{{#if (and context.member.characters (gt (getNumItems context.member.characters) 1))}}
				<div class="character_list">
					<h5 id="user_char_list">{{{txt.my_characters}}}:</h5>
				</div>
				<ul class="characters">
					{{#each context.member.characters}}
						{{#unless is_main}}
							<li>
								<div class="char_avatar">
									<img alt="" src="{{#if avatar}}{{{avatar}}}{{else}}{{../settings.images_url}}/default.png{{/if}}">
								</div>
								<div class="char_name">
									<a href="{{../scripturl}}{{character_url}}">{{{character_name}}}</a>
									{{#if retired}}({{{../txt.char_retired}}}){{/if}}
									<div class="char_created">
										{{textTemplate ../txt.char_created (timeformat date_created)}}
									</div>
								</div>
								<div class="char_group">
									{{{display_group}}}
									<div class="char_created">&nbsp;</div>
								</div>
							</li>
						{{/unless}}
					{{/each}}
				</ul>
			{{/if}}
		</div>
	</div>
<div class="clear"></div>