	{{! Choosing a theme for a character. }}
	<div class="cat_bar">
		<h3 class="catbg">{{{txt.char_theme}}}</h3>
	</div>

	<div id="profileview" class="roundframe flow_auto">
		<form id="char_theme_wrapper" action="{{scripturl}}?action=profile;u={{context.id_member}};area=characters;char={{context.character.id_character}};sa=theme" method="post">

			{{#each context.themes}}
				<div class="char_theme_container">
					<button name="theme[{{{@key}}}]" class="button"><img src="{{{thumbnail}}}" alt=""></button>
					{{{name}}}
				</div>
			{{/each}}
			{{session_form}}
		</form>
	</div>