	<div id="recent" class="main_section">
		<div class="cat_bar">
			<h3 class="catbg">
				<span class="xx"></span>{{txt.recent_posts}}
			</h3>
		</div>
		<div class="pagesection">{{{context.page_index}}}</div>

		{{#unless context.posts}}
			<div class="windowbg">{{{txt.no_messages}}}</div>
		{{/unless}}

		{{#each context.posts}}
			<div class="{{css_class}}">
				<div class="counter">{{counter}}</div>
				<div class="topic_details">
					<h5>{{{board.link}}} / {{{link}}}</h5>
					<span class="smalltext">{{../txt.last_poster}} <strong>{{{poster.link}}}</strong> - {{{time}}}</span>
				</div>
				<div class="list_posts">{{{message}}}</div>

				{{#if has_actions}}
					<ul class="quickbuttons">

						{{#if can_reply}}
							<li><a href="{{scripturl}}?action=post;topic={{topic}}.{{start}}"><span class="main_icons reply_button"></span>{{../txt.reply}}</a></li>
						{{/if}}

						{{#if can_quote}}
							<li><a href="{{scripturl}}?action=post;topic={{topic}}.{{start}};quote={{id}}"><span class="main_icons quote"></span>{{../txt.quote_action}}</a></li>
						{{/if}}

						{{#if can_delete}}
							<li><a href="{{scripturl}}?action=deletemsg;msg={{id}};topic={{topic}};recent;{{session_url}}" data-confirm="{{../txt.remove_message}}" class="you_sure"><span class="main_icons remove_button"></span>{{../txt.remove}}</a></li>
						{{/if}}
					</ul>
				{{/if}}
			</div>
		{{/each}}

		<div class="pagesection">{{{context.page_index}}}</div>
	</div>