<table style="width: 100%; padding: 3px; border: 0" class="tborder">
	<tr>
		<td>{{context.forum_contacts}}</td>
	</tr><tr>
		<td class="righttext">
			<em>{{txt.coppa_form_address}}</em>: {{context.ul}}<br>
			{{context.ul}}<br>
			{{context.ul}}<br>
			{{context.ul}}
		</td>
	</tr><tr>
		<td class="righttext">
			<em>{{txt.coppa_form_date}}</em>: {{context.ul}}
			<br><br>
		</td>
	</tr><tr>
		<td>
			{{context.coppa_body}}
		</td>
	</tr>
</table>
<br>