{{#if context.saved_successful}}
<div class="infobox">{{txt.settings_saved}}</div>
{{/if}}
<form id="admin_form_wrapper" action="{{scripturl}}?action=admin;area=regcenter" method="post" accept-charset="UTF-8">
	<div class="cat_bar">
		<h3 class="catbg">{{txt.admin_reserved_set}}</h3>
	</div>
	<div class="windowbg noup">
		<h4>{{txt.admin_reserved_line}}</h4>
		<textarea cols="30" rows="6" name="reserved" id="reserved">
			{{#each context.reserved_words}}{{.}}{{/each}}
		</textarea>
		<dl class="settings">
			<dt>
				<label for="matchword">{{txt.admin_match_whole}}</label>
			</dt>
			<dd>
				<input type="checkbox" name="matchword" id="matchword" {{#if context.reserved_word_options.match_word}} checked{{/if}}>
			</dd>
			<dt>
				<label for="matchcase">{{txt.admin_match_case}}</label>
			</dt>
			<dd>
				<input type="checkbox" name="matchcase" id="matchcase"  {{#if context.reserved_word_options.match_case}} checked{{/if}}>
			</dd>
			<dt>
				<label for="matchuser">{{txt.admin_check_user}}</label>
			</dt>
			<dd>
				<input type="checkbox" name="matchuser" id="matchuser"  {{#if context.reserved_word_options.match_user}} checked{{/if}}>
			</dd>
			<dt>
				<label for="matchname">{{txt.admin_check_display}}</label>
			</dt>
			<dd>
				<input type="checkbox" name="matchname" id="matchname"  {{#if context.reserved_word_options.match_name}} checked{{/if}}>
			</dd>
		</dl>
		<div class="flow_auto">
			<input type="submit" value="{{txt.save}}" name="save_reserved_names" style="margin: 1ex;" class="button_submit">
			<input type="hidden" name="sa" value="reservednames">
			{{session_form}}
			{{token_form 'admin-regr'}}
		</div>
	</div>
</form>