	<div id="admincenter">
		<div id="admin_form_wrapper">
			<form id="postForm" action="{{scripturl}}?action=admin;area=regcenter" method="post" accept-charset="UTF-8" name="postForm">
				<div class="cat_bar">
					<h3 class="catbg">{{txt.admin_browse_register_new}}</h3>
				</div>
				<div id="register_screen" class="windowbg noup">

{{#if context.registration_done}}
					<div class="infobox">{{{context.registration_done}}}</div>
{{/if}}
					<dl class="register_form" id="admin_register_form">
						<dt>
							<strong><label for="user_input">{{txt.admin_register_username}}:</label></strong>
							<span class="smalltext">{{txt.admin_register_username_desc}}</span>
						</dt>
						<dd>
							<input type="text" name="user" id="user_input" size="30" maxlength="25">
						</dd>
						<dt>
							<strong><label for="email_input">{{txt.admin_register_email}}:</label></strong>
							<span class="smalltext">{{txt.admin_register_email_desc}}</span>
						</dt>
						<dd>
							<input type="text" name="email" id="email_input" size="30">
						</dd>
						<dt>
							<strong><label for="password_input">{{txt.admin_register_password}}:</label></strong>
							<span class="smalltext">{{txt.admin_register_password_desc}}</span>
						</dt>
						<dd>
							<input type="password" name="password" id="password_input" size="30" onchange="onCheckChange();">
						</dd>

{{#if context.member_groups}}
						<dt>
							<strong><label for="group_select">{{txt.admin_register_group}}:</label></strong>
							<span class="smalltext">{{txt.admin_register_group_desc}}</span>
						</dt>
						<dd>
							<select name="group" id="group_select">

	{{#each context.member_groups}}
								<option value="{{@key}}">{{.}}</option>
	{{/each}}
							</select>
						</dd>
{{/if}}

{{#if context.custom_fields_required}}
	{{#each context.custom_fields}}
		{{if (gt show_reg 1)}}
						<dt>
							<strong{{#if is_error}}class="red"{{/if}}>{{name}}:</strong>
							<span class="smalltext">{{desc}}</span>
						</dt>
						<dd>{{{field.input_html}}}</dd>
	{{/each}}
{{/if}}
						<dt>
							<strong><label for="emailPassword_check">{{txt.admin_register_email_detail}}:</label></strong>
							<span class="smalltext">{{txt.admin_register_email_detail_desc}}</span>
						</dt>
						<dd>
							<input type="checkbox" name="emailPassword" id="emailPassword_check" checked disabled>
						</dd>
						<dt>
							<strong><label for="emailActivate_check">{{txt.admin_register_email_activate}}:</label></strong>
						</dt>
						<dd>
							<input type="checkbox" name="emailActivate" id="emailActivate_check" {{#if (eq modSettings.registration_method 1)}}checked{{/if}} onclick="onCheckChange();">
						</dd>
					</dl>
					<div class="flow_auto">
						<input type="submit" name="regSubmit" value="{{txt.register}}" class="button_submit">
						<input type="hidden" name="sa" value="register">
						{{session_form}}
						{{token_form 'admin-regc'}}
					</div>
				</div>
			</form>
		</div>
	</div>
	<br class="clear">