<div class="title_bar title_top">
    <h3 class="titlebg">{{context.page_title}}</h3>
</div>
<div id="coppa" class="roundframe noup">
    <p>{{context.coppa.body}}</p>
    <p>
    	<span><a href="{{scripturl}}?action=coppa;form;member={{context.coppa.id}}" target="_blank">{{txt.coppa_form_link_popup}}</a> | <a href="{{scripturl}}?action=coppa;form;dl;member={{context.coppa.id}}">{{txt.coppa_form_link_download}}</a></span>
    </p>
    <p>{{#if context.coppa.many_options}}{{txt.coppa_send_to_two_options}}{{else}}{{txt.coppa_send_to_one_option}}{{/if}}</p>
    {{#if context.coppa.post}}
    	<h4>{{txt.coppa_send_by_post}}</h4>
    	<div class="coppa_contact">
    		1) {{context.coppa.post}}
    	</div>
    {{/if}}
    {{#if context.coppa.fax}}
    <h4>{{#if context.coppa.post}}2{{else}}1{{/if}}) {{txt.coppa_send_by_fax}}</h4>
    <div class="coppa_contact">
    	{{context.coppa.fax}}
    </div>
    {{/if}}
    {{#if context.coppa.phone}}
    <p>{{context.coppa.phone}}</p>
    {{/if}}
</div>