	<form action="{{scripturl}}?action=signup" method="post" accept-charset="UTF-8" id="registration">
			<div class="cat_bar">
				<h3 class="catbg">{{txt.registration_agreement}}</h3>
			</div>
			<div class="roundframe noup">
				<p>{{{context.agreement}}}</p>
			</div>
			<div id="confirm_buttons">
			    {{#if context.show_coppa}}
			    <input type="submit" name="accept_agreement" value="{{context.coppa_agree_above}}" class="button_submit"><br><br>
				<input type="submit" name="accept_agreement_coppa" value="{{context.coppa_agree_below}}" class="button_submit">
				{{else}}
				<input type="submit" name="accept_agreement" value="{{txt.agreement_agree}}" class="button_submit">
				{{/if}}
				{{session_form}}
				{{token_form 'register'}}
			</div>
			<input type="hidden" name="step" value="1">
		</form>