<script>
			function verifyAgree()
			{
				if (currentAuthMethod == 'passwd' && document.forms.registration.sbb_autov_pwmain.value != document.forms.registration.sbb_autov_pwverify.value)
				{
					alert("{{txt.register_passwords_differ_js}}");
					return false;
				}

				return true;
			}

			var currentAuthMethod = 'passwd';
		</script>
		{{#if context.registration_errors}}
		<div class="errorbox">
			<span>{{txt.registration_errors_occurred}}</span>
			<ul>
			    {{#each context.registration_errors}}
			    <li>{{.}}</li>
			    {{/each}}
			</ul>
		</div>
		{{/if}}
		<form action="{{#if (eq modSettings.force_ssl 1)}}{{makeHTTPS scripturl}}{{else}}{{scripturl}}{{/if}}?action=signup2" method="post" accept-charset="UTF-8" name="registration" id="registration" onsubmit="return verifyAgree();">
			<div class="cat_bar">
				<h3 class="catbg">{{txt.registration_form}}</h3>
			</div>
			<div class="title_bar title_top">
				<h3 class="titlebg">{{txt.required_info}}</h3>
			</div>
			<div class="roundframe noup">
				<fieldset>
					<dl class="register_form">
						<dt><strong><label for="sbb_autov_username">{{txt.username}}:</label></strong></dt>
						<dd>
							<input type="text" name="user" required id="sbb_autov_username" size="30" maxlength="25" value="{{context.username}}" class="input_text">
							<span id="sbb_autov_username_div" style="display: none;">
								<span id="sbb_autov_username_img" class="generic_icons check"></span>
							</span>
						</dd>
						<dt><strong><label for="sbb_autov_reserve1">{{txt.user_email_address}}:</label></strong></dt>
						<dd>
							<input type="email" name="email" required id="sbb_autov_reserve1" size="30" value="{{context.email}}" class="input_text">
						</dd>
						{{#if context.display_edit_real_name}}
						<dt><strong><label for="real_name_box">{{{txt.char_register_nickname}}}:</label></strong></dt>
						<dd>
							<input type="text" id="real_name_box" name="real_name" required size="30" maxlength="200" value="{{{context.real_name}}}" class="input_text">
						</dd>
						{{/if}}
						{{#if context.display_create_character}}
						<dt><strong><label for="first_char_box">{{{txt.char_register_charname}}}:</label></strong></dt>
						<dd>
							<input type="text" id="first_char_box" name="first_char" required size="30" maxlength="200" value="{{{context.first_char}}}" class="input_text">
						</dd>
						{{/if}}
					</dl>
					<dl class="register_form" id="password1_group">
						<dt><strong><label for="sbb_autov_pwmain">{{txt.choose_pass}}:</label></strong></dt>
						<dd>
							<input type="password" name="passwrd1" required id="sbb_autov_pwmain" size="30">
							<span id="sbb_autov_pwmain_div" style="display: none;">
								<span id="sbb_autov_pwmain_img" class="generic_icons invalid"></span>
							</span>
						</dd>
					</dl>
					<dl class="register_form" id="password2_group">
						<dt><strong><label for="sbb_autov_pwverify">{{txt.verify_pass}}:</label></strong></dt>
						<dd>
							<input type="password" name="passwrd2" required id="sbb_autov_pwverify" size="30">
							<span id="sbb_autov_pwverify_div" style="display: none;">
								<span id="sbb_autov_pwverify_img" class="generic_icons valid"></span>
							</span>
						</dd>
					</dl>
					<dl class="register_form" id="notify_announcements">
						<dt><strong><label for="notify_announcements">{{txt.notify_announcements}}:</label></strong></dt>
						<dd>
							<input type="checkbox" name="notify_announcements" id="notify_announcements" {{#if context.notify_announcements}}checked="checked"{{/if}}>
						</dd>
					</dl>
					{{#if context.custom_fields_required}}
					   {{#if context.custom_fields}}
					   <dl class="register_form">
					   {{#each context.custom_fields}}
					   <dt>
							<strong{{#if is_error}} class="red"{{/if}}>{{name}}:</strong>
							<span class="smalltext">{{desc}}</span>
						</dt>
						<dd>{{input_html}}</dd>
						{{/each}}
						</dl>
						{{/if}}
					{{/if}}
				</fieldset>
			</div>

			{{#if context.registration_policies}}
			<div class="title_bar title_top">
				<h3 class="titlebg">{{{txt.site_policies}}}</h3>
			</div>
			<div class="roundframe noup">
				<fieldset>
					<dl class="register_form">
						{{#each context.registration_policies}}
						<dt><strong><label for="policy_{{@key}}">{{textTemplate ../txt.registration_i_agree_to .}}:</label></strong></dt>
						<dd>
							<input type="checkbox" value="1" required name="policy_{{@key}}" id="policy_{{@key}}">
						</dd>
						{{/each}}
					</dl>
				</fieldset>
			</div>
			{{/if}}
			
			{{#if (or context.profile_fields context.custom_fields)}}
			<div class="title_bar title_top">
				<h3 class="titlebg">{{txt.additional_information}}</h3>
			</div>
			<div class="roundframe noup">
				<fieldset>
					<dl class="register_form" id="custom_group">
			{{/if}}
			{{#each context.profile_fields}}
				{{#if (eq type "callback")}}{{profile_callback_helper .}}{{else}}
						<dt>
							<strong{{#if is_error}} class="red"{{/if}}>{{label}}</strong>
							{{#if subtext}}<span class="smalltext">{{subtext}}</span>{{/if}}
						</dt>
						<dd>
							{{preinput}}
							{{#if (eq type "label")}}{{value}}{{/if}}
							{{#if (field_isText type)}}<input type="{{#if (eq type "password")}}password{{else}}text{{/if}}" name="{{@key}}" id="{{@key}}" size="{{#if size}}{{size}}{{else}}30{{/if}}" value="{{value}}" {{input_attr}} class="input_type{{#if (eq type "password")}}password{{else}}text{{/if}}">{{/if}}
							{{#if (eq type "check")}}<input type="hidden" name="{{@key}}" value="0"><input type="checkbox" name="{{@key}}" id="{{@key}}"{{#if value}} checked{{/if}} value="1" {{input_attr}}>{{/if}}
							{{#if (eq type "select")}}
								<select name="{{@key}}" id="{{@key}}">
									{{#each options}}
										<option value="{{@key}}"{{#if (eq @key ../value)}} selected{{/if}}>{{.}}</option>
									{{/each}}
								</select>
							{{/if}}
							{{postinput}}
						</dd>
				{{/if}}
			{{/each}}
		    {{#each context.custom_fields}}
		                <dt>
							<strong{{#if is_error}} class="red"{{/if}}>{{name}}</strong>
							<span class="smalltext">{{desc}}</span>
						</dt>
						<dd>{{{input_html}}}</dd>
		    {{/each}}
		    {{#if (or context.profile_fields context.custom_fields)}}
					</dl>
				</fieldset>
			</div>
			{{/if}}
			{{#if context.visual_verification}}
			<div class="title_bar title_top">
				<h3 class="titlebg">{{txt.verification}}</h3>
			</div>
			<div class="roundframe noup">
				<fieldset class="centertext">
				{{{captcha context.visual_verification_id}}}
				</fieldset>
			</div>
			{{/if}}
			<div id="confirm_buttons" class="flow_auto">
				<input type="submit" name="regSubmit" value="{{txt.register}}" tabindex="{{getTabindex}}" class="button_submit">
				</div>
			{{session_form}}
			{{token_form 'register'}}
			<input type="hidden" name="step" value="2">
		</form>
		<script>
			var regTextStrings = {
				"username_valid": "{{txt.registration_username_available}}",
				"username_invalid": "{{txt.registration_username_unavailable}}",
				"username_check": "{{txt.registration_username_check}}",
				"password_short": "{{txt.registration_password_short}}",
				"password_reserved": "{{txt.registration_password_reserved}}",
				"password_numbercase": "{{txt.registration_password_numbercase}}",
				"password_no_match": "{{txt.registration_password_no_match}}",
				"password_valid": "{{txt.registration_password_valid}}"
			};
			var verificationHandle = new sbbRegister("registration", '{{#if modSettings.password_strength}}{{modSettings.password_strength}}{{else}}0{{/if}}', regTextStrings);
		</script>