	{{! How to reset your password }}
	<br>
	<form action="{{scripturl}}?action=reminder;sa=picktype" method="post" accept-charset="UTF-8">
		<div class="tborder login">
			<div class="cat_bar">
				<h3 class="catbg">{{{txt.authentication_reminder}}}</h3>
			</div>
			<div class="roundframe">
				<p class="smalltext centertext">{{{txt.password_reminder_desc}}}</p>
				<dl>
					<dt>{{{txt.user_email}}}:</dt>
					<dd><input type="text" name="user" size="30"></dd>
				</dl>
				<input type="submit" value="{{{txt.reminder_continue}}}" class="button_submit">
				<br class="clear">
			</div>
		</div>
		{{session_form}}
		{{token_form 'remind'}}
	</form>