<div id="admincenter">
	<form action="{{scripturl}}?action=admin;area=reports" method="post" accept-charset="UTF-8">
		<div class="cat_bar">
			<h3 class="catbg">{{txt.generate_reports_type}}</h3>
		</div>
		<div class="windowbg noup">
			<dl class="settings report">

{{#each context.report_types}}
				<dt>
					<input type="radio" id="rt_{{id}}" name="sa" value="{{id}}"{{#if is_first}} checked{{/if}}>
					<strong><label for="rt_{{id}}">{{title}}</label></strong>
				</dt>
				<dd>{{description}}</dd>
{{/each}}
			</dl>
			<input type="submit" name="continue" value="{{txt.generate_reports_continue}}" class="button_submit">
			{{session_form}}
		</div>
	</form>
</div>