	{{! The main search form}}
	<form action="{{scripturl}}?action=search2" method="post" accept-charset="UTF-8" name="searchform" id="searchform">
		<div class="cat_bar">
			<h3 class="catbg">
				<span class="generic_icons filter"></span> {{{txt.set_parameters}}}
			</h3>
		</div>

		{{#if context.search_errors}}
		<div class="errorbox">{{{ context.search_errors.messages '<br>'}}}</div>
		{{/if}}

		{{#if context.search_ignored}}
		<p class="noticebox">
			{{#if (eq (getNumItems context.search_ignored) 1)}}
				{{{txt.search_warning_ignored_word}}}:
			{{else}}
				{{{txt.search_warning_ignored_words}}}:
			{{/if}}
			{{{join context.search_ignored ', '}}}
		</p>
		{{/if}}


		<div id="advanced_search" class="roundframe">
			<dl class="settings" id="search_options">
				<dt class="righttext">
					<strong><label for="searchfor">{{{txt.search_for}}}:</label></strong>
				</dt>
				<dd>
					<input type="search" name="search" id="searchfor" value="{{{context.search_params.search}}}" maxlength="{{{context.search_string_limit}}}" size="40">

					{{#unless modSettings.search_simple_fulltext}}
						<br><em class="smalltext">{{{txt.search_example}}}</em>
					{{/unless}}
				</dd>

				<dt class="righttext"><label for="searchtype">{{{txt.search_match}}}:</label>
				</dt>
				<dd>
					<select name="searchtype" id="searchtype">
						<option value="1"{{#unless context.search_params.searchtype}} selected{{/unless}}> {{{txt.all_words}}}</option>
						<option value="2"{{#if context.search_params.searchtype}} selected{{/if}}>{{{txt.any_words}}}</option>
					</select>
				</dd>
				<dt class="righttext"><label for="userspec">{{{txt.search_by_character}}}:</label>
				</dt>
				<dd>
					<select id="userspec" name="userspec"><option></option></select>
				</dd>
				<dt class="righttext"><label for="sort">{{{txt.search_order}}}:</label>
				</dt>
				<dd>
					<select id="sort" name="sort">
						<option value="relevance|desc">{{{txt.search_orderby_relevant_first}}}</option>
						<option value="num_replies|desc">{{{txt.search_orderby_large_first}}}</option>
						<option value="num_replies|asc">{{{txt.search_orderby_small_first}}}</option>
						<option value="id_msg|desc">{{{txt.search_orderby_recent_first}}}</option>
						<option value="id_msg|asc">{{{txt.search_orderby_old_first}}}</option>
					</select>
				</dd>
				<dt class="righttext options">{{{txt.search_options}}}:
				</dt>
				<dd class="options">
					<ul>
						<li>
							<input type="checkbox" name="show_complete" id="show_complete" value="1"{{#if context.search_params.show_complete}} checked{{/if}}>
							<label for="show_complete">{{{txt.search_show_complete_messages}}}</label>
						</li>
						<li>
							<input type="checkbox" name="subject_only" id="subject_only" value="1"{{#if context.search_params.subject_only}} checked{{/if}}>
							<label for="subject_only">{{{txt.search_subject_only}}}</label>
						</li>
					</ul>
				</dd>
				<dt class="righttext between">{{{txt.search_post_age}}}:
				</dt>
				<dd>
					<label for="minage">{{{txt.search_between}}}</label>
					<input type="number" name="minage" id="minage" value="{{#if context.search_params.minage}}{{context.search_params.minage}}{{else}}0{{/if}}" size="5" maxlength="4">
					<label for="maxage">{{{txt.search_and}}}&nbsp;</label>
					<input type="number" name="maxage" id="maxage" value="{{#if context.search_params.maxage}}{{context.search_params.maxage}}{{else}}999{{/if}}" size="5" maxlength="4"> {{{txt.days_word}}}
				</dd>
			</dl>
			<script>
				createEventListener(window);
				window.addEventListener("load", initSearch, false);
			</script>
			<input type="hidden" name="advanced" value="1">

			{{! Require an image to be typed to save spamming? }}
			{{#if context.require_verification}}
				<p>
					<strong>{{{txt.verification}}}:</strong>
					{{{captcha context.visual_verification_id}}}
				</p>
			{{/if}}

			{{! If context.search_params_topic is a thing, we're search one topic only. }}
			{{#if context.search_params.topic}}
				<p>{{{txt.search_specific_topic}}} &quot;{{{context.search_topic_link}}}&quot;.</p>
				<input type="hidden" name="topic" value="{{context.search_topic.id}}">
				<input type="submit" name="b_search" value="{{{txt.search}}}" class="button_submit">
			{{/if}}

		</div>

		{{#unless context.search_params.topic}}
		<fieldset class="flow_hidden">
			<div class="roundframe alt">
				<div class="title_bar">
					<h4 class="titlebg">
						<span id="advanced_panel_toggle" class="toggle_down floatright" style="display: none;"></span>
						<a href="#" id="advanced_panel_link">{{{txt.choose_board}}}</a>
					</h4>
				</div>
				<div class="flow_auto" id="advanced_panel_div"{{#if context.boards_check_all}} style="display:none">
					<ul class="ignoreboards floatleft">
						{{#each context.categories}}
							<li class="category">
								<a href="javascript:void(0);" onclick="selectBoards({{{json child_ids}}}, 'searchform'); return false">{{{name}}}</a>
								<ul>
								{{#each boards}}
									<li class="board">
										<label for="brd{{id}}" style="margin-{{#if context.right_to_left}}right{{else}}left{{/if}}: {{child_level}}em">
											<input type="checkbox" id="brd{{id}}" name="brd{{id}}" value="brd{{id}}"{{#if selected}} checked{{/if}}> {{name}}
										</label>
									</li>
								{{/each}}
								</ul>
							</li>
						{{/each}}
					</ul>
				</div>
				<br class="clear">
				<div class="padding flow_auto">
					<input type="checkbox" name="all" id="check_all" value=""{{if context.boards_check_all}} checked{{/if}} onclick="invertAll(this, this.form, 'brd');" class="floatleft">
					<label for="check_all" class="floatleft"><em>{{{txt.check_all}}}</em></label>
					<input type="submit" name="b_search" value="{{{txt.search}}}" class="button_submit">
				</div>
			</div>
		</fieldset>

		<script>
			var oAdvancedPanelToggle = new smc_Toggle({
				bToggleEnabled: true,
				bCurrentlyCollapsed: {{#if context.boards_check_all}}true{{else}}false{{/if}},
				aSwappableContainers: [
					'advanced_panel_div'
				],
				aSwapImages: [
					{
						sId: 'advanced_panel_toggle',
						altExpanded: {{{json txt.hide}}},
						altCollapsed: {{{json txt.show}}}
					}
				],
				aSwapLinks: [
					{
						sId: 'advanced_panel_link',
						msgExpanded: {{{json txt.choose_board}}},
						msgCollapsed: {{{json txt.choose_board}}}
					}
				]
			});
		</script>
		{{/unless}}

	</form>