	{{! Add or edit an existing subscriber. }}
	<script>
		var monthLength = [31, 28, 31, 30, 31, 30, 31, 31, 30, 31, 30, 31];
	</script>

	<div id="admincenter">
		<form action="{{scripturl}}?action=admin;area=paidsubscribe;sa=modifyuser;sid={{context.sub_id}};lid={{context.log_id}}" method="post">
			<div class="cat_bar">
				<h3 class="catbg">
					{{{get_text 'paid_' context.action_type '_subscription'}}} - {{{context.current_subscription.name}}}
					{{#if context.sub.username}} ({{{txt.user}}}: {{{context.sub.username}}}){{/if}}
				</h3>
			</div>
			<div class="windowbg">
				<dl class="settings">

{{#if (eq context.action_type 'add')}}
					<dt>
						<strong>{{{txt.paid_username}}}:</strong><br>
						<span class="smalltext">{{{txt.one_username}}}</span>
					</dt>
					<dd>
						<select name="new_subscriber" id="new_subscriber"><option></option></select>
					</dd>
{{/if}}

					<dt>
						<strong>{{{txt.paid_status}}}:</strong>
					</dt>
					<dd>
						<select name="status">
							<option value="0"{{#if (eq_coerce context.sub.status 0)}} selected{{/if}}>{{{txt.paid_finished}}}</option>
							<option value="1"{{#if (eq_coerce context.sub.status 1)}} selected{{/if}}>{{{txt.paid_active}}}</option>
						</select>
					</dd>
				</dl>
				<fieldset>
					<legend>{{{txt.start_date_and_time}}}</legend>
					<select name="year" id="year" onchange="generateDays();">

{{! Show a list of all the years we allow... }}
{{#each context.year_range}}
						<option value="{{.}}"{{#if (eq_coerce . ../context.sub.start.year)}} selected{{/if}}>{{.}}</option>
{{/each}}

					</select>&nbsp;
					{{{txt.calendar_month}}}&nbsp;
					<select name="month" id="month" onchange="generateDays();">

{{#each context.month_range}}
						<option value="{{@key}}"{{#if (eq_coerce @key ../context.sub.start.month)}} selected{{/if}}>{{{.}}}</option>
{{/each}}

					</select>&nbsp;
					{{{txt.calendar_day}}}&nbsp;
					<select name="day" id="day">

{{! This prints out all the days in the current month - this changes dynamically as we switch months. }}
{{#each context.day_start_range}}
						<option value="{{.}}"{{#if (eq_coerce . ../context.sub.start.day)}} selected{{/if}}>{{.}}</option>
{{/each}}

					</select>
					{{{txt.hour}}}: <input type="number" min="0" max="23" name="hour" value="{{{context.sub.start.hour}}}" size="2">
					{{{txt.minute}}}: <input type="number" min="0" max="59" name="minute" value="{{{context.sub.start.min}}}" size="2">
				</fieldset>
				<fieldset>
					<legend>{{{txt.end_date_and_time}}}</legend>
					<select name="yearend" id="yearend" onchange="generateDays('end');">

{{! Show a list of all the years we allow... }}
{{#each context.year_range}}
						<option value="{{.}}"{{#if (eq_coerce . ../context.sub.end.year)}} selected{{/if}}>{{.}}</option>
{{/each}}

					</select>&nbsp;
					{{{txt.calendar_month}}}&nbsp;
					<select name="monthend" id="monthend" onchange="generateDays('end');">

{{#each context.month_range}}
						<option value="{{@key}}"{{#if (eq_coerce @key ../context.sub.end.month)}} selected{{/if}}>{{{.}}}</option>
{{/each}}

					</select>&nbsp;
					{{{txt.calendar_day}}}&nbsp;
					<select name="dayend" id="dayend">

{{! This prints out all the days in the current month - this changes dynamically as we switch months. }}
{{#each context.day_end_range}}
						<option value="{{.}}"{{#if (eq_coerce . ../context.sub.end.day)}} selected{{/if}}>{{.}}</option>
{{/each}}

					</select>
					{{{txt.hour}}}: <input type="number" min="0" max="23" name="hourend" value="{{{context.sub.end.hour}}}" size="2">
					{{{txt.minute}}}: <input type="number" min="0" max="59" name="minuteend" value="{{{context.sub.end.min}}}" size="2">
				</fieldset>
				<input type="submit" name="save_sub" value="{{{txt.paid_settings_save}}}" class="button_submit">
			</div>
			{{session_form}}
		</form>

{{#if context.pending_payments}}
		<div class="cat_bar">
			<h3 class="catbg">{{{txt.pending_payments}}}</h3>
		</div>
		<div class="information">
			{{{txt.pending_payments_desc}}}
		</div>
		<div class="cat_bar">
			<h3 class="catbg">{{{txt.pending_payments_value}}}</h3>
		</div>
		<div class="windowbg">
			<ul>

	{{#each context.pending_payments}}
				<li>
					{{{desc}}}
					<span class="floatleft">
						<a href="{{../scripturl}}?action=admin;area=paidsubscribe;sa=modifyuser;lid={{../context.log_id}};pending={{@key}};accept">{{{../txt.pending_payments_accept}}}</a>
					</span>
					<span class="floatright">
						<a href="{{../scripturl}}?action=admin;area=paidsubscribe;sa=modifyuser;lid={{../context.log_id}};pending={{@key}};remove">{{{../txt.pending_payments_remove}}}</a>
					</span>
				</li>
	{{/each}}
			</ul>
		</div>
{{/if}}

	</div>