	{{! Choosing a payment provider. }}
	<div id="paid_subscription">
		<div class="cat_bar">
			<h3 class="catbg">{{{txt.paid_confirm_payment}}}</h3>
		</div>
		<div class="information">
			{{{txt.paid_confirm_desc}}}
		</div>
		<div class="windowbg">
			<dl class="settings">
				<dt>
					<strong>{{{txt.subscription}}}:</strong>
				</dt>
				<dd>
					{{{context.sub.name}}}
				</dd>
				<dt>
					<strong>{{{txt.paid_cost}}}:</strong>
				</dt>
				<dd>
					{{{context.cost}}}
				</dd>
			</dl>
		</div>

{{! Do all the gateway options. }}
{{#each context.gateways}}
		<div class="cat_bar">
			<h3 class="catbg">{{{title}}}</h3>
		</div>
		<div class="windowbg">
			{{{desc}}}<br>
			<form action="{{{form}}}" method="post">

	{{#if javascript}}
				<script>
					{{{javascript}}}
				</script>
	{{/if}}

	{{#each hidden}}
				<input type="hidden" id="{{id}}_{{@key}}" name="{{@key}}" value="{{{.}}}">
	{{/each}}

				<br><input type="submit" value="{{{submit}}}">
			</form>
		</div>
{{/each}}

	</div>
	<br class="clear">