		{{! Merging topics }}
		<div id="merge_topics">
			<div class="cat_bar">
				<h3 class="catbg">{{{txt.merge}}}</h3>
			</div>
			<div class="information">
				{{{txt.merge_desc}}}
			</div>
			<div class="windowbg">
				<dl class="settings merge_topic">
					<dt>
						<strong>{{{txt.topic_to_merge}}}:</strong>
					</dt>
					<dd>
						{{{context.origin_subject}}}
					</dd>
				</dl>
			</div><br>
			<div class="cat_bar">
				<h3 class="catbg">{{{txt.target_topic}}}</h3>
			</div>
			<div class="title_bar">
				<h4 class="titlebg">

{{#if context.merge_categories}}
					<form action="{{scripturl}}?action=mergetopics;from={{context.origin_topic}};targetboard={{context.target_board}};board={{context.current_board}}.0" method="post" accept-charset="UTF-8" id="mergeSelectBoard">
						{{{txt.target_below}}} ({{{txt.board}}}:&nbsp;
						<select name="targetboard" onchange="this.form.submit();">

	{{#each context.merge_categories}}
							<optgroup label="{{{name}}}">
								{{#each boards}}
								<option value="{{id}}"{{#if selected}} selected{{/if}}>{{#if (gt child_level 0)}}{{repeat '==' (sub child_level 1)}}=&gt;{{/if}} {{{name}}}&nbsp;</option>
								{{/each}}
							</optgroup>
	{{/each}}
						</select>)
						<input type="hidden" name="from" value="{{context.origin_topic}}">
						<input type="submit" value="{{{txt.go}}}" class="button_submit">
					</form>
{{else}}
					{{{txt.target_below}}}
{{/if}}
				</h4>
			</div>

{{#if context.topics}}
			<form action="{{scripturl}}?action=mergetopics;sa=options" method="post" accept-charset="UTF-8">
				<div class="pagesection">
					{{{context.page_index}}}
				</div>
				<div class="windowbg">
					<ul class="merge_topics">

	{{#each context.topics}}
						<li>
							<a href="{{../scripturl}}?action=mergetopics;sa=options;board={{{../context.current_board}}}.0;from={{{../context.origin_topic}}};to={{id}};{{session_url}}">{{{create_button 'merge' 'merge' ''}}}</a>&nbsp;
							<a href="{{../scripturl}}?topic={{id}}.0" target="_blank" rel="noopener"> {{{subject}}}</a> {{{../txt.started_by}}} {{{poster.link}}}
						</li>
	{{/each}}
					</ul>
					<input type="submit" value="{{{txt.merge}}}" class="button_submit">
				</div>
				<div class="pagesection">
					{{{context.page_index}}}
				</div>
			</form>
{{else}}
			<div class="windowbg">{{{txt.topic_alert_none}}}</div>
{{/if}}

			<form action="{{scripturl}}?action=mergetopics;sa=options" method="post" accept-charset="UTF-8">
				<br>
				<div class="title_bar">
					<h4 class="titlebg">{{{txt.target_id}}}</h4>
				</div>
				<div class="windowbg">
					<dl class="settings merge_topic">
						<dt>
							<strong>{{{txt.merge_to_topic_id}}}: </strong>
						</dt>
						<dd>
							<input type="hidden" name="topics[]" value="{{{context.origin_topic}}}">
							<input type="text" name="topics[]">
							{{session_form}}

						</dd>
					</dl>
					<input type="submit" value="{{{txt.merge}}}" class="button_submit">
				</div>
			</form>
		</div>