	{{! How would you like to split your topic? }}
	<div id="split_topics">
		<form action="{{scripturl}}?action=splittopics;sa=execute;topic={{context.current_topic}}.0" method="post" accept-charset="UTF-8">
			<input type="hidden" name="at" value="{{context.message.id}}">
			<div class="cat_bar">
				<h3 class="catbg">{{{txt.split}}}</h3>
			</div>
			<div class="windowbg">
				<p class="split_topics">
					<strong><label for="subname">{{{txt.subject_new_topic}}}</label>:</strong>
					<input type="text" name="subname" id="subname" value="{{{context.message.subject}}}" size="25">
				</p>
				<ul class="split_topics">
					<li>
						<input type="radio" id="onlythis" name="step2" value="onlythis" checked> <label for="onlythis">{{{txt.split_this_post}}}</label>
					</li>
					<li>
						<input type="radio" id="afterthis" name="step2" value="afterthis"> <label for="afterthis">{{{txt.split_after_and_this_post}}}</label>
					</li>
					<li>
						<input type="radio" id="selective" name="step2" value="selective"> <label for="selective">{{{txt.select_split_posts}}}</label>
					</li>
				</ul>
				<hr>
				<div class="auto_flow">
					<input type="submit" value="{{{txt.split}}}" class="button_submit">
					{{session_form}}
				</div>
			</div>
		</form>
	</div>