<!DOCTYPE html>
<html{{#if context.right_to_left}} dir="rtl"{{/if}}{{#if txt.lang_locale}} lang="{{locale txt.lang_locale}}"{{/if}}>
<head>
	<meta charset="UTF-8">
	
	{{{css}}}
	{{{javascript deferred=0}}}

	<title>{{context.page_title_html_safe}}</title>
	<meta name="viewport" content="width=device-width, initial-scale=1">
	{{#each context.meta_tags}}
		<meta {{#if name}}name="{{name}}"{{else}}property="{{property}}"{{/if}}  content="{{content}}">
	{{/each}}
	
	<!-- Theme color; feel free to override -->
	<meta name="theme-color" content="#557EA0">
	
	{{#if context.robot_no_index}}<meta name="robots" content="noindex">{{/if}}
	{{#if context.canonical_url}}<link rel="canonical" href="{{context.canonical_url}}">{{/if}}
	<link rel="help" href="{{scripturl}}?action=help">
	<link rel="contents" href="{{scripturl}}">
	{{#if context.allow_search}}<link rel="search" href="{{scripturl}}?action=search">{{/if}}
	
	<link rel="alternate" type="application/rss+xml" title="{{context.forum_name_html_safe}} - {{txt.rss}}" href="{{scripturl}}?action=.xml;type=rss2{{#if context.current_board}};board={{context.current_board}}{{/if}}">
	<link rel="alternate" type="application/atom+xml" title="{{context.forum_name_html_safe}} - {{txt.atom}}" href="{{scripturl}}?action=.xml;type=atom{{#if context.current_board}};board={{context.current_board}}{{/if}}">
	
	{{#if context.links.next}}<link rel="next" href="{{context.links.next}}">{{/if}}
	{{#if context.links.prev}}<link rel="perv" href="{{context.links.prev}}">{{/if}}
	{{#if context.current_board}}<link rel="index" href="{{scripturl}}?board={{context.current_board}}.0">{{/if}}
	{{{context.html_headers}}}
</head>
	{{!-- 
	I apologise for the next line. -Yami
	--}}
<body id="{{context.browser_body_id}}" class="action_{{#if context.current_action}}{{context.current_action}}{{else}}{{#if context.current_board}}messageindex{{else}}{{#if context.current_topic}}display{{else}}home{{/if}}{{/if}}{{/if}}{{#if context.current_board}}board_{{context.current_board}}{{/if}}">
	<div id="footerfix">
		<div id="top_section">
		{{#if context.user.is_logged}}
			<ul class="floatleft" id="top_info">
				<li>
					<a href="{{scripturl}}?action=profile"{{#if context.self_profile}} class="active"{{/if}} id="profile_menu_top" onclick="return false;">
						{{#if context.user.avatar}}{{{context.user.avatar.image}}}{{/if}}
						{{context.user.name}}</a>
					<div id="profile_menu" class="top_menu"></div>
				</li>
				<li>
					<a href="{{scripturl}}?action=profile;area=characters" id="characters_menu_top" onclick="return false;">
					{{textTemplate txt.posting_as user_info.character_name}} &#9660;</a>
					<div id="characters_menu" class="top_menu"></div>
				</li>
					
				{{#if context.allow_pm}}
					<li>
						<a href="{{scripturl}}?action=pm" {{#if context.self_pm}}class="active"{{/if}} id="pm_menu_top">{{txt.pm_short}} {{#if context.user.unread_messages}} <span class="amt">{{context.user.unread_messages}}</span>{{/if}}</a>
						<div id="pm_menu" class="top_menu scrollable"></div>
					</li>
				{{/if}}
				
				<li>
					<a href="{{scripturl}}?action=profile;area=showalerts;u={{context.user.id}}"{{#if context.self_alerts}}class="active"{{/if}} id="alerts_menu_top">{{txt.alerts}}{{#if context.user.alerts}}<span class="amt">{{context.user.alerts}}</span>{{/if}}</a>
					<div id="alerts_menu" class="top_menu scrollable"></div>
				</li>
			</ul>
		{{else}}
			{{#if maintenance}}
			<ul class="floatleft welcome">
				<li>{{login_helper txt.welcome_guest txt.guest_title context.forum_name_html_safe scripturl txt.login}}</li>
			</ul>
			{{else}}
			<ul class="floatleft welcome">
				<li>{{#if context.can_register}}{{login_helper txt.welcome_guest_register txt.guest_title context.forum_name_html_safe scripturl txt.login}}{{else}}{{login_helper txt.welcome_guest txt.guest_title context.forum_name_html_safe scripturl txt.login}}{{/if}}</li>
			</ul>
			{{/if}}
		{{/if}}
		
		{{#if modSettings.userLanguage}}
			{{#if (gt (count context.languages) 1)}}
			<form id="languages_form" method="get" class="floatright">
				<select id="language_select" name="language" onchange="this.form.submit()">
					{{#each context.languages}}
					<option value="{{filename}}"{{#if (eq context.user.language filename)}} selected{{/if}}>{{name}}</option>
					{{/each}}
				</select>
				<noscript>
					<input type="submit" value="{{txt.quick_mod_go}}" />
				</noscript>
			</form>
			{{/if}}
		{{/if}}
		
		{{#if context.allow_search}}
			<form id="search_form" class="floatright" action="{{scripturl}}?action=search2" method="post" accept-charset="UTF-8">
				<input type="search" name="search" value="">&nbsp;
				<select name="search_selection">
					<option value="all">{{txt.search_entireforum}}</option>
					{{#if context.current_topic}}<option value="topic" selected="selected">{{txt.search_thistopic}}</option>{{/if}}
					{{#if context.current_board}}<option value="board" selected="selected">{{txt.search_thisbrd}}</option>{{/if}}
					{{#if context.allow_memberlist}}<option value="members">{{txt.search_members}}</option>{{/if}}
				</select>
				{{#if context.current_topic}}<input type="hidden" name="sd_topic" value="{{context.current_topic}}">{{/if}}
				{{#if context.current_board}}<input type="hidden" name="sd_brd" value="{{context.current_board}}">{{/if}}
				<input type="submit" name="search2" value="{{txt.search}}" class="button_submit">
				<input type="hidden" name="advanced" value="0">
			</form>
		{{/if}}
		</div>
	
		<div id="header">
			<h1 class="forumtitle">
				<a id="top" href="{{scripturl}}">{{#if context.header_logo_url_html_safe}}<img src="{{context.header_logo_url_html_safe}}" alt="{{context.forum_name_html_safe}}">{{else}}{{context.forum_name_html_safe}}{{/if}}</a>
			</h1>
			{{#if settings.site_slogan}}<div id="siteslogan" class="floatright">{{settings.site_slogan}}</div>{{else}}<img id="sbblogo" src="{{settings.images_url}}/StoryBB.svg" alt="StoryBB" title="StoryBB">{{/if}}
			</div>
			<div id="wrapper">
				<div id="upper_section">
					<div id="inner_section">
						<div id="inner_wrap">
							<div class="user">
								{{context.current_time}}
							</div>
							<div class="news">
								<h2>{{txt.news}}:</h2>
								<p>{{context.random_news_line}}</p>
							</div>
							<hr class="clear">
						</div>
						<a class="menu_icon mobile_user_menu"></a>
						<div id="mobile_user_menu" class="popup_container">
							<div class="popup_window description">
								<div class="popup_heading">{{txt.mobile_user_menu}}
								<a href="javascript:void(0);" class="generic_icons hide_popup"></a></div>
								{{>menu}}
							</div>
						</div>
						<div id="main_menu">{{>menu}}</div>
						{{> linktree}}
					</div>
				</div>
				<div id="content_section">
					<div id="main_content_section">
						{{#if (and context.in_maintenance context.user.is_admin)}}
							<div class="errorbox">
								<dl>
									<dt>
										<strong id="error_serious">{{txt.forum_in_maintenance}}</strong>
									</dt>
									<dd class="error" id="error_list">
										{{textTemplate txt.maintenance_page (concat scripturl '?action=admin;area=serversettings;' context.session_var '=' context.session_id)}}
									</dd>
								</dl>
							</div>
						{{/if}}
						{{>status_messages}}
						{{{content}}}
					</div>
				</div>
			</div>
		</div>
		
		<div id="footer">
			<ul>
				<li class="floatright">
					<a href="{{scripturl}}?action=contact">{{{txt.contact_us}}}</a>
					| <a href="{{scripturl}}?action=help">{{txt.help}}</a>
					{{#each context.footer_links}}
					| <a href="{{{link}}}">{{{title}}}</a>
					{{/each}}
					| <a href="#top_section">{{txt.go_up}} &#9650;</a>
				</li>
				<li class="copyright">{{{copyright}}}</li>
			</ul>
		</div>

	{{{javascript deferred=1}}}
	{{> cookie_footer}}
</body>
</html>